/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.BundleInfo;
import org.openapitools.model.SamlConfigurationInfo;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-17T07:12:41.220559277Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConsoleApi {
    /**
     * getAemProductInfo
     *
     * @return List&lt;String&gt;
     */
    @Get(uri="/system/console/status-productinfo.json")
    @Consumes({"application/json"})
    Mono<List<String>> getAemProductInfo();

    /**
     * getBundleInfo
     *
     * @param name  (required)
     * @return BundleInfo
     */
    @Get(uri="/system/console/bundles/{name}.json")
    @Consumes({"application/json"})
    Mono<BundleInfo> getBundleInfo(
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * getConfigMgr
     *
     * @return String
     */
    @Get(uri="/system/console/configMgr")
    @Consumes({"text/xml"})
    Mono<String> getConfigMgr();

    /**
     * postBundle
     *
     * @param name  (required)
     * @param action  (required)
     */
    @Post(uri="/system/console/bundles/{name}")
    Mono<Void> postBundle(
        @PathVariable(name="name") @NotNull String name, 
        @QueryValue(value="action") @NotNull String action
    );

    /**
     * postJmxRepository
     *
     * @param action  (required)
     */
    @Post(uri="/system/console/jmx/com.adobe.granite:type=Repository/op/{action}")
    Mono<Void> postJmxRepository(
        @PathVariable(name="action") @NotNull String action
    );

    /**
     * postSamlConfiguration
     *
     * @param post  (optional)
     * @param apply  (optional)
     * @param delete  (optional)
     * @param action  (optional)
     * @param $location  (optional)
     * @param path  (optional)
     * @param serviceRanking  (optional)
     * @param idpUrl  (optional)
     * @param idpCertAlias  (optional)
     * @param idpHttpRedirect  (optional)
     * @param serviceProviderEntityId  (optional)
     * @param assertionConsumerServiceURL  (optional)
     * @param spPrivateKeyAlias  (optional)
     * @param keyStorePassword  (optional)
     * @param defaultRedirectUrl  (optional)
     * @param userIDAttribute  (optional)
     * @param useEncryption  (optional)
     * @param createUser  (optional)
     * @param addGroupMemberships  (optional)
     * @param groupMembershipAttribute  (optional)
     * @param defaultGroups  (optional)
     * @param nameIdFormat  (optional)
     * @param synchronizeAttributes  (optional)
     * @param handleLogout  (optional)
     * @param logoutUrl  (optional)
     * @param clockTolerance  (optional)
     * @param digestMethod  (optional)
     * @param signatureMethod  (optional)
     * @param userIntermediatePath  (optional)
     * @param propertylist  (optional)
     * @return SamlConfigurationInfo
     */
    @Post(uri="/system/console/configMgr/com.adobe.granite.auth.saml.SamlAuthenticationHandler")
    @Consumes({"text/plain"})
    Mono<SamlConfigurationInfo> postSamlConfiguration(
        @QueryValue(value="post") @Nullable Boolean post, 
        @QueryValue(value="apply") @Nullable Boolean apply, 
        @QueryValue(value="delete") @Nullable Boolean delete, 
        @QueryValue(value="action") @Nullable String action, 
        @QueryValue(value="$location") @Nullable String $location, 
        @QueryValue(value="path") @Nullable List<String> path, 
        @QueryValue(value="service.ranking") @Nullable Integer serviceRanking, 
        @QueryValue(value="idpUrl") @Nullable String idpUrl, 
        @QueryValue(value="idpCertAlias") @Nullable String idpCertAlias, 
        @QueryValue(value="idpHttpRedirect") @Nullable Boolean idpHttpRedirect, 
        @QueryValue(value="serviceProviderEntityId") @Nullable String serviceProviderEntityId, 
        @QueryValue(value="assertionConsumerServiceURL") @Nullable String assertionConsumerServiceURL, 
        @QueryValue(value="spPrivateKeyAlias") @Nullable String spPrivateKeyAlias, 
        @QueryValue(value="keyStorePassword") @Nullable String keyStorePassword, 
        @QueryValue(value="defaultRedirectUrl") @Nullable String defaultRedirectUrl, 
        @QueryValue(value="userIDAttribute") @Nullable String userIDAttribute, 
        @QueryValue(value="useEncryption") @Nullable Boolean useEncryption, 
        @QueryValue(value="createUser") @Nullable Boolean createUser, 
        @QueryValue(value="addGroupMemberships") @Nullable Boolean addGroupMemberships, 
        @QueryValue(value="groupMembershipAttribute") @Nullable String groupMembershipAttribute, 
        @QueryValue(value="defaultGroups") @Nullable List<String> defaultGroups, 
        @QueryValue(value="nameIdFormat") @Nullable String nameIdFormat, 
        @QueryValue(value="synchronizeAttributes") @Nullable List<String> synchronizeAttributes, 
        @QueryValue(value="handleLogout") @Nullable Boolean handleLogout, 
        @QueryValue(value="logoutUrl") @Nullable String logoutUrl, 
        @QueryValue(value="clockTolerance") @Nullable Integer clockTolerance, 
        @QueryValue(value="digestMethod") @Nullable String digestMethod, 
        @QueryValue(value="signatureMethod") @Nullable String signatureMethod, 
        @QueryValue(value="userIntermediatePath") @Nullable String userIntermediatePath, 
        @QueryValue(value="propertylist") @Nullable List<String> propertylist
    );

}
