/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-17T02:15:08.740117462Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CqApi {
    /**
     * getLoginPage
     *
     * @return String
     */
    @Get(uri="/libs/granite/core/content/login.html")
    @Consumes({"text/html"})
    Mono<String> getLoginPage();

    /**
     * postCqActions
     *
     * @param authorizableId  (required)
     * @param changelog  (required)
     */
    @Post(uri="/.cqactions.html")
    Mono<Void> postCqActions(
        @QueryValue(value="authorizableId") @NotNull String authorizableId, 
        @QueryValue(value="changelog") @NotNull String changelog
    );

}
