/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import java.io.File;
import org.openapitools.model.InstallStatus;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-17T02:15:08.740117462Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CrxApi {
    /**
     * getCrxdeStatus
     *
     * @return String
     */
    @Get(uri="/crx/server/crx.default/jcr:root/.1.json")
    @Consumes({"plain/text"})
    Mono<String> getCrxdeStatus();

    /**
     * getInstallStatus
     *
     * @return InstallStatus
     */
    @Get(uri="/crx/packmgr/installstatus.jsp")
    @Consumes({"application/json"})
    Mono<InstallStatus> getInstallStatus();

    /**
     * getPackageManagerServlet
     *
     */
    @Get(uri="/crx/packmgr/service/script.html")
    @Consumes({"text/html"})
    Mono<Void> getPackageManagerServlet();

    /**
     * postPackageService
     *
     * @param cmd  (required)
     * @return String
     */
    @Post(uri="/crx/packmgr/service.jsp")
    @Consumes({"text/xml"})
    Mono<String> postPackageService(
        @QueryValue(value="cmd") @NotNull String cmd
    );

    /**
     * postPackageServiceJson
     *
     * @param path  (required)
     * @param cmd  (required)
     * @param groupName  (optional)
     * @param packageName  (optional)
     * @param packageVersion  (optional)
     * @param charset  (optional)
     * @param force  (optional)
     * @param recursive  (optional)
     * @param _package  (optional)
     * @return String
     */
    @Post(uri="/crx/packmgr/service/.json/{path}")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data"})
    Mono<String> postPackageServiceJson(
        @PathVariable(name="path") @NotNull String path, 
        @QueryValue(value="cmd") @NotNull String cmd, 
        @QueryValue(value="groupName") @Nullable String groupName, 
        @QueryValue(value="packageName") @Nullable String packageName, 
        @QueryValue(value="packageVersion") @Nullable String packageVersion, 
        @QueryValue(value="_charset_") @Nullable String charset, 
        @QueryValue(value="force") @Nullable Boolean force, 
        @QueryValue(value="recursive") @Nullable Boolean recursive, 
        @Nullable File _package
    );

    /**
     * postPackageUpdate
     *
     * @param groupName  (required)
     * @param packageName  (required)
     * @param version  (required)
     * @param path  (required)
     * @param filter  (optional)
     * @param charset  (optional)
     * @return String
     */
    @Post(uri="/crx/packmgr/update.jsp")
    @Consumes({"application/json"})
    Mono<String> postPackageUpdate(
        @QueryValue(value="groupName") @NotNull String groupName, 
        @QueryValue(value="packageName") @NotNull String packageName, 
        @QueryValue(value="version") @NotNull String version, 
        @QueryValue(value="path") @NotNull String path, 
        @QueryValue(value="filter") @Nullable String filter, 
        @QueryValue(value="_charset_") @Nullable String charset
    );

    /**
     * postSetPassword
     *
     * @param old  (required)
     * @param plain  (required)
     * @param verify  (required)
     * @return String
     */
    @Post(uri="/crx/explorer/ui/setpassword.jsp")
    @Consumes({"text/plain"})
    Mono<String> postSetPassword(
        @QueryValue(value="old") @NotNull String old, 
        @QueryValue(value="plain") @NotNull String plain, 
        @QueryValue(value="verify") @NotNull String verify
    );

}
