/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import java.io.File;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-17T07:12:41.220559277Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface GraniteApi {
    /**
     * sslSetup
     *
     * @param keystorePassword  (required)
     * @param keystorePasswordConfirm  (required)
     * @param truststorePassword  (required)
     * @param truststorePasswordConfirm  (required)
     * @param httpsHostname  (required)
     * @param httpsPort  (required)
     * @param privatekeyFile  (optional)
     * @param certificateFile  (optional)
     * @return String
     */
    @Post(uri="/libs/granite/security/post/sslSetup.html")
    @Consumes({"text/plain"})
    @Produces({"multipart/form-data"})
    Mono<String> sslSetup(
        @QueryValue(value="keystorePassword") @NotNull String keystorePassword, 
        @QueryValue(value="keystorePasswordConfirm") @NotNull String keystorePasswordConfirm, 
        @QueryValue(value="truststorePassword") @NotNull String truststorePassword, 
        @QueryValue(value="truststorePasswordConfirm") @NotNull String truststorePasswordConfirm, 
        @QueryValue(value="httpsHostname") @NotNull String httpsHostname, 
        @QueryValue(value="httpsPort") @NotNull String httpsPort, 
        @Nullable File privatekeyFile, 
        @Nullable File certificateFile
    );

}
