/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import java.math.BigDecimal;
import java.io.File;
import org.openapitools.model.KeystoreInfo;
import org.openapitools.model.TruststoreInfo;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-17T02:15:08.740117462Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface SlingApi {
    /**
     * deleteAgent
     *
     * @param runmode  (required)
     * @param name  (required)
     */
    @Delete(uri="/etc/replication/agents.{runmode}/{name}")
    Mono<Void> deleteAgent(
        @PathVariable(name="runmode") @NotNull String runmode, 
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * deleteNode
     *
     * @param path  (required)
     * @param name  (required)
     */
    @Delete(uri="/{path}/{name}")
    Mono<Void> deleteNode(
        @PathVariable(name="path") @NotNull String path, 
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * getAgent
     *
     * @param runmode  (required)
     * @param name  (required)
     */
    @Get(uri="/etc/replication/agents.{runmode}/{name}")
    Mono<Void> getAgent(
        @PathVariable(name="runmode") @NotNull String runmode, 
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * getAgents
     *
     * @param runmode  (required)
     * @return String
     */
    @Get(uri="/etc/replication/agents.{runmode}.-1.json")
    @Consumes({"application/json"})
    Mono<String> getAgents(
        @PathVariable(name="runmode") @NotNull String runmode
    );

    /**
     * getAuthorizableKeystore
     *
     * @param intermediatePath  (required)
     * @param authorizableId  (required)
     * @return KeystoreInfo
     */
    @Get(uri="/{intermediatePath}/{authorizableId}.ks.json")
    @Consumes({"text/plain"})
    Mono<KeystoreInfo> getAuthorizableKeystore(
        @PathVariable(name="intermediatePath") @NotNull String intermediatePath, 
        @PathVariable(name="authorizableId") @NotNull String authorizableId
    );

    /**
     * getKeystore
     *
     * @param intermediatePath  (required)
     * @param authorizableId  (required)
     * @return File
     */
    @Get(uri="/{intermediatePath}/{authorizableId}/keystore/store.p12")
    @Consumes({"application/octet-stream"})
    Mono<File> getKeystore(
        @PathVariable(name="intermediatePath") @NotNull String intermediatePath, 
        @PathVariable(name="authorizableId") @NotNull String authorizableId
    );

    /**
     * getNode
     *
     * @param path  (required)
     * @param name  (required)
     */
    @Get(uri="/{path}/{name}")
    Mono<Void> getNode(
        @PathVariable(name="path") @NotNull String path, 
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * getPackage
     *
     * @param group  (required)
     * @param name  (required)
     * @param version  (required)
     * @return File
     */
    @Get(uri="/etc/packages/{group}/{name}-{version}.zip")
    @Consumes({"application/octet-stream"})
    Mono<File> getPackage(
        @PathVariable(name="group") @NotNull String group, 
        @PathVariable(name="name") @NotNull String name, 
        @PathVariable(name="version") @NotNull String version
    );

    /**
     * getPackageFilter
     *
     * @param group  (required)
     * @param name  (required)
     * @param version  (required)
     * @return String
     */
    @Get(uri="/etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json")
    @Consumes({"application/json"})
    Mono<String> getPackageFilter(
        @PathVariable(name="group") @NotNull String group, 
        @PathVariable(name="name") @NotNull String name, 
        @PathVariable(name="version") @NotNull String version
    );

    /**
     * getQuery
     *
     * @param path  (required)
     * @param pLimit  (required)
     * @param _1property  (required)
     * @param _1propertyValue  (required)
     * @return String
     */
    @Get(uri="/bin/querybuilder.json")
    @Consumes({"application/json"})
    Mono<String> getQuery(
        @QueryValue(value="path") @NotNull String path, 
        @QueryValue(value="p.limit") @NotNull BigDecimal pLimit, 
        @QueryValue(value="1_property") @NotNull String _1property, 
        @QueryValue(value="1_property.value") @NotNull String _1propertyValue
    );

    /**
     * getTruststore
     *
     * @return File
     */
    @Get(uri="/etc/truststore/truststore.p12")
    @Consumes({"application/octet-stream"})
    Mono<File> getTruststore();

    /**
     * getTruststoreInfo
     *
     * @return TruststoreInfo
     */
    @Get(uri="/libs/granite/security/truststore.json")
    @Consumes({"application/json"})
    Mono<TruststoreInfo> getTruststoreInfo();

    /**
     * postAgent
     *
     * @param runmode  (required)
     * @param name  (required)
     * @param jcrContentCqDistribute  (optional)
     * @param jcrContentCqDistributeAtTypeHint  (optional)
     * @param jcrContentCqName  (optional)
     * @param jcrContentCqTemplate  (optional)
     * @param jcrContentAliasUpdate  (optional)
     * @param jcrContentEnabled  (optional)
     * @param jcrContentJcrDescription  (optional)
     * @param jcrContentJcrLastModified  (optional)
     * @param jcrContentJcrLastModifiedBy  (optional)
     * @param jcrContentJcrMixinTypes  (optional)
     * @param jcrContentJcrTitle  (optional)
     * @param jcrContentLogLevel  (optional)
     * @param jcrContentNoStatusUpdate  (optional)
     * @param jcrContentNoVersioning  (optional)
     * @param jcrContentProtocolConnectTimeout  (optional)
     * @param jcrContentProtocolHTTPConnectionClosed  (optional)
     * @param jcrContentProtocolHTTPExpired  (optional)
     * @param jcrContentProtocolHTTPHeaders  (optional)
     * @param jcrContentProtocolHTTPHeadersAtTypeHint  (optional)
     * @param jcrContentProtocolHTTPMethod  (optional)
     * @param jcrContentProtocolHTTPSRelaxed  (optional)
     * @param jcrContentProtocolInterface  (optional)
     * @param jcrContentProtocolSocketTimeout  (optional)
     * @param jcrContentProtocolVersion  (optional)
     * @param jcrContentProxyNTLMDomain  (optional)
     * @param jcrContentProxyNTLMHost  (optional)
     * @param jcrContentProxyHost  (optional)
     * @param jcrContentProxyPassword  (optional)
     * @param jcrContentProxyPort  (optional)
     * @param jcrContentProxyUser  (optional)
     * @param jcrContentQueueBatchMaxSize  (optional)
     * @param jcrContentQueueBatchMode  (optional)
     * @param jcrContentQueueBatchWaitTime  (optional)
     * @param jcrContentRetryDelay  (optional)
     * @param jcrContentReverseReplication  (optional)
     * @param jcrContentSerializationType  (optional)
     * @param jcrContentSlingResourceType  (optional)
     * @param jcrContentSsl  (optional)
     * @param jcrContentTransportNTLMDomain  (optional)
     * @param jcrContentTransportNTLMHost  (optional)
     * @param jcrContentTransportPassword  (optional)
     * @param jcrContentTransportUri  (optional)
     * @param jcrContentTransportUser  (optional)
     * @param jcrContentTriggerDistribute  (optional)
     * @param jcrContentTriggerModified  (optional)
     * @param jcrContentTriggerOnOffTime  (optional)
     * @param jcrContentTriggerReceive  (optional)
     * @param jcrContentTriggerSpecific  (optional)
     * @param jcrContentUserId  (optional)
     * @param jcrPrimaryType  (optional)
     * @param operation  (optional)
     */
    @Post(uri="/etc/replication/agents.{runmode}/{name}")
    Mono<Void> postAgent(
        @PathVariable(name="runmode") @NotNull String runmode, 
        @PathVariable(name="name") @NotNull String name, 
        @QueryValue(value="jcr:content/cq:distribute") @Nullable Boolean jcrContentCqDistribute, 
        @QueryValue(value="jcr:content/cq:distribute@TypeHint") @Nullable String jcrContentCqDistributeAtTypeHint, 
        @QueryValue(value="jcr:content/cq:name") @Nullable String jcrContentCqName, 
        @QueryValue(value="jcr:content/cq:template") @Nullable String jcrContentCqTemplate, 
        @QueryValue(value="jcr:content/aliasUpdate") @Nullable Boolean jcrContentAliasUpdate, 
        @QueryValue(value="jcr:content/enabled") @Nullable Boolean jcrContentEnabled, 
        @QueryValue(value="jcr:content/jcr:description") @Nullable String jcrContentJcrDescription, 
        @QueryValue(value="jcr:content/jcr:lastModified") @Nullable String jcrContentJcrLastModified, 
        @QueryValue(value="jcr:content/jcr:lastModifiedBy") @Nullable String jcrContentJcrLastModifiedBy, 
        @QueryValue(value="jcr:content/jcr:mixinTypes") @Nullable String jcrContentJcrMixinTypes, 
        @QueryValue(value="jcr:content/jcr:title") @Nullable String jcrContentJcrTitle, 
        @QueryValue(value="jcr:content/logLevel") @Nullable String jcrContentLogLevel, 
        @QueryValue(value="jcr:content/noStatusUpdate") @Nullable Boolean jcrContentNoStatusUpdate, 
        @QueryValue(value="jcr:content/noVersioning") @Nullable Boolean jcrContentNoVersioning, 
        @QueryValue(value="jcr:content/protocolConnectTimeout") @Nullable BigDecimal jcrContentProtocolConnectTimeout, 
        @QueryValue(value="jcr:content/protocolHTTPConnectionClosed") @Nullable Boolean jcrContentProtocolHTTPConnectionClosed, 
        @QueryValue(value="jcr:content/protocolHTTPExpired") @Nullable String jcrContentProtocolHTTPExpired, 
        @QueryValue(value="jcr:content/protocolHTTPHeaders") @Nullable List<String> jcrContentProtocolHTTPHeaders, 
        @QueryValue(value="jcr:content/protocolHTTPHeaders@TypeHint") @Nullable String jcrContentProtocolHTTPHeadersAtTypeHint, 
        @QueryValue(value="jcr:content/protocolHTTPMethod") @Nullable String jcrContentProtocolHTTPMethod, 
        @QueryValue(value="jcr:content/protocolHTTPSRelaxed") @Nullable Boolean jcrContentProtocolHTTPSRelaxed, 
        @QueryValue(value="jcr:content/protocolInterface") @Nullable String jcrContentProtocolInterface, 
        @QueryValue(value="jcr:content/protocolSocketTimeout") @Nullable BigDecimal jcrContentProtocolSocketTimeout, 
        @QueryValue(value="jcr:content/protocolVersion") @Nullable String jcrContentProtocolVersion, 
        @QueryValue(value="jcr:content/proxyNTLMDomain") @Nullable String jcrContentProxyNTLMDomain, 
        @QueryValue(value="jcr:content/proxyNTLMHost") @Nullable String jcrContentProxyNTLMHost, 
        @QueryValue(value="jcr:content/proxyHost") @Nullable String jcrContentProxyHost, 
        @QueryValue(value="jcr:content/proxyPassword") @Nullable String jcrContentProxyPassword, 
        @QueryValue(value="jcr:content/proxyPort") @Nullable BigDecimal jcrContentProxyPort, 
        @QueryValue(value="jcr:content/proxyUser") @Nullable String jcrContentProxyUser, 
        @QueryValue(value="jcr:content/queueBatchMaxSize") @Nullable BigDecimal jcrContentQueueBatchMaxSize, 
        @QueryValue(value="jcr:content/queueBatchMode") @Nullable String jcrContentQueueBatchMode, 
        @QueryValue(value="jcr:content/queueBatchWaitTime") @Nullable BigDecimal jcrContentQueueBatchWaitTime, 
        @QueryValue(value="jcr:content/retryDelay") @Nullable String jcrContentRetryDelay, 
        @QueryValue(value="jcr:content/reverseReplication") @Nullable Boolean jcrContentReverseReplication, 
        @QueryValue(value="jcr:content/serializationType") @Nullable String jcrContentSerializationType, 
        @QueryValue(value="jcr:content/sling:resourceType") @Nullable String jcrContentSlingResourceType, 
        @QueryValue(value="jcr:content/ssl") @Nullable String jcrContentSsl, 
        @QueryValue(value="jcr:content/transportNTLMDomain") @Nullable String jcrContentTransportNTLMDomain, 
        @QueryValue(value="jcr:content/transportNTLMHost") @Nullable String jcrContentTransportNTLMHost, 
        @QueryValue(value="jcr:content/transportPassword") @Nullable String jcrContentTransportPassword, 
        @QueryValue(value="jcr:content/transportUri") @Nullable String jcrContentTransportUri, 
        @QueryValue(value="jcr:content/transportUser") @Nullable String jcrContentTransportUser, 
        @QueryValue(value="jcr:content/triggerDistribute") @Nullable Boolean jcrContentTriggerDistribute, 
        @QueryValue(value="jcr:content/triggerModified") @Nullable Boolean jcrContentTriggerModified, 
        @QueryValue(value="jcr:content/triggerOnOffTime") @Nullable Boolean jcrContentTriggerOnOffTime, 
        @QueryValue(value="jcr:content/triggerReceive") @Nullable Boolean jcrContentTriggerReceive, 
        @QueryValue(value="jcr:content/triggerSpecific") @Nullable Boolean jcrContentTriggerSpecific, 
        @QueryValue(value="jcr:content/userId") @Nullable String jcrContentUserId, 
        @QueryValue(value="jcr:primaryType") @Nullable String jcrPrimaryType, 
        @QueryValue(value=":operation") @Nullable String operation
    );

    /**
     * postAuthorizableKeystore
     *
     * @param intermediatePath  (required)
     * @param authorizableId  (required)
     * @param operation  (optional)
     * @param currentPassword  (optional)
     * @param newPassword  (optional)
     * @param rePassword  (optional)
     * @param keyPassword  (optional)
     * @param keyStorePass  (optional)
     * @param alias  (optional)
     * @param newAlias  (optional)
     * @param removeAlias  (optional)
     * @param certChain  (optional)
     * @param pk  (optional)
     * @param keyStore  (optional)
     * @return KeystoreInfo
     */
    @Post(uri="/{intermediatePath}/{authorizableId}.ks.html")
    @Consumes({"text/plain"})
    @Produces({"multipart/form-data"})
    Mono<KeystoreInfo> postAuthorizableKeystore(
        @PathVariable(name="intermediatePath") @NotNull String intermediatePath, 
        @PathVariable(name="authorizableId") @NotNull String authorizableId, 
        @QueryValue(value=":operation") @Nullable String operation, 
        @QueryValue(value="currentPassword") @Nullable String currentPassword, 
        @QueryValue(value="newPassword") @Nullable String newPassword, 
        @QueryValue(value="rePassword") @Nullable String rePassword, 
        @QueryValue(value="keyPassword") @Nullable String keyPassword, 
        @QueryValue(value="keyStorePass") @Nullable String keyStorePass, 
        @QueryValue(value="alias") @Nullable String alias, 
        @QueryValue(value="newAlias") @Nullable String newAlias, 
        @QueryValue(value="removeAlias") @Nullable String removeAlias, 
        @Nullable File certChain, 
        @Nullable File pk, 
        @Nullable File keyStore
    );

    /**
     * postAuthorizables
     *
     * @param authorizableId  (required)
     * @param intermediatePath  (required)
     * @param createUser  (optional)
     * @param createGroup  (optional)
     * @param repPassword  (optional)
     * @param profileGivenName  (optional)
     * @return String
     */
    @Post(uri="/libs/granite/security/post/authorizables")
    @Consumes({"text/html"})
    Mono<String> postAuthorizables(
        @QueryValue(value="authorizableId") @NotNull String authorizableId, 
        @QueryValue(value="intermediatePath") @NotNull String intermediatePath, 
        @QueryValue(value="createUser") @Nullable String createUser, 
        @QueryValue(value="createGroup") @Nullable String createGroup, 
        @QueryValue(value="rep:password") @Nullable String repPassword, 
        @QueryValue(value="profile/givenName") @Nullable String profileGivenName
    );

    /**
     * postConfigAdobeGraniteSamlAuthenticationHandler
     *
     * @param keyStorePassword  (optional)
     * @param keyStorePasswordAtTypeHint  (optional)
     * @param serviceRanking  (optional)
     * @param serviceRankingAtTypeHint  (optional)
     * @param idpHttpRedirect  (optional)
     * @param idpHttpRedirectAtTypeHint  (optional)
     * @param createUser  (optional)
     * @param createUserAtTypeHint  (optional)
     * @param defaultRedirectUrl  (optional)
     * @param defaultRedirectUrlAtTypeHint  (optional)
     * @param userIDAttribute  (optional)
     * @param userIDAttributeAtTypeHint  (optional)
     * @param defaultGroups  (optional)
     * @param defaultGroupsAtTypeHint  (optional)
     * @param idpCertAlias  (optional)
     * @param idpCertAliasAtTypeHint  (optional)
     * @param addGroupMemberships  (optional)
     * @param addGroupMembershipsAtTypeHint  (optional)
     * @param path  (optional)
     * @param pathAtTypeHint  (optional)
     * @param synchronizeAttributes  (optional)
     * @param synchronizeAttributesAtTypeHint  (optional)
     * @param clockTolerance  (optional)
     * @param clockToleranceAtTypeHint  (optional)
     * @param groupMembershipAttribute  (optional)
     * @param groupMembershipAttributeAtTypeHint  (optional)
     * @param idpUrl  (optional)
     * @param idpUrlAtTypeHint  (optional)
     * @param logoutUrl  (optional)
     * @param logoutUrlAtTypeHint  (optional)
     * @param serviceProviderEntityId  (optional)
     * @param serviceProviderEntityIdAtTypeHint  (optional)
     * @param assertionConsumerServiceURL  (optional)
     * @param assertionConsumerServiceURLAtTypeHint  (optional)
     * @param handleLogout  (optional)
     * @param handleLogoutAtTypeHint  (optional)
     * @param spPrivateKeyAlias  (optional)
     * @param spPrivateKeyAliasAtTypeHint  (optional)
     * @param useEncryption  (optional)
     * @param useEncryptionAtTypeHint  (optional)
     * @param nameIdFormat  (optional)
     * @param nameIdFormatAtTypeHint  (optional)
     * @param digestMethod  (optional)
     * @param digestMethodAtTypeHint  (optional)
     * @param signatureMethod  (optional)
     * @param signatureMethodAtTypeHint  (optional)
     * @param userIntermediatePath  (optional)
     * @param userIntermediatePathAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config")
    Mono<Void> postConfigAdobeGraniteSamlAuthenticationHandler(
        @QueryValue(value="keyStorePassword") @Nullable String keyStorePassword, 
        @QueryValue(value="keyStorePassword@TypeHint") @Nullable String keyStorePasswordAtTypeHint, 
        @QueryValue(value="service.ranking") @Nullable Integer serviceRanking, 
        @QueryValue(value="service.ranking@TypeHint") @Nullable String serviceRankingAtTypeHint, 
        @QueryValue(value="idpHttpRedirect") @Nullable Boolean idpHttpRedirect, 
        @QueryValue(value="idpHttpRedirect@TypeHint") @Nullable String idpHttpRedirectAtTypeHint, 
        @QueryValue(value="createUser") @Nullable Boolean createUser, 
        @QueryValue(value="createUser@TypeHint") @Nullable String createUserAtTypeHint, 
        @QueryValue(value="defaultRedirectUrl") @Nullable String defaultRedirectUrl, 
        @QueryValue(value="defaultRedirectUrl@TypeHint") @Nullable String defaultRedirectUrlAtTypeHint, 
        @QueryValue(value="userIDAttribute") @Nullable String userIDAttribute, 
        @QueryValue(value="userIDAttribute@TypeHint") @Nullable String userIDAttributeAtTypeHint, 
        @QueryValue(value="defaultGroups") @Nullable List<String> defaultGroups, 
        @QueryValue(value="defaultGroups@TypeHint") @Nullable String defaultGroupsAtTypeHint, 
        @QueryValue(value="idpCertAlias") @Nullable String idpCertAlias, 
        @QueryValue(value="idpCertAlias@TypeHint") @Nullable String idpCertAliasAtTypeHint, 
        @QueryValue(value="addGroupMemberships") @Nullable Boolean addGroupMemberships, 
        @QueryValue(value="addGroupMemberships@TypeHint") @Nullable String addGroupMembershipsAtTypeHint, 
        @QueryValue(value="path") @Nullable List<String> path, 
        @QueryValue(value="path@TypeHint") @Nullable String pathAtTypeHint, 
        @QueryValue(value="synchronizeAttributes") @Nullable List<String> synchronizeAttributes, 
        @QueryValue(value="synchronizeAttributes@TypeHint") @Nullable String synchronizeAttributesAtTypeHint, 
        @QueryValue(value="clockTolerance") @Nullable Integer clockTolerance, 
        @QueryValue(value="clockTolerance@TypeHint") @Nullable String clockToleranceAtTypeHint, 
        @QueryValue(value="groupMembershipAttribute") @Nullable String groupMembershipAttribute, 
        @QueryValue(value="groupMembershipAttribute@TypeHint") @Nullable String groupMembershipAttributeAtTypeHint, 
        @QueryValue(value="idpUrl") @Nullable String idpUrl, 
        @QueryValue(value="idpUrl@TypeHint") @Nullable String idpUrlAtTypeHint, 
        @QueryValue(value="logoutUrl") @Nullable String logoutUrl, 
        @QueryValue(value="logoutUrl@TypeHint") @Nullable String logoutUrlAtTypeHint, 
        @QueryValue(value="serviceProviderEntityId") @Nullable String serviceProviderEntityId, 
        @QueryValue(value="serviceProviderEntityId@TypeHint") @Nullable String serviceProviderEntityIdAtTypeHint, 
        @QueryValue(value="assertionConsumerServiceURL") @Nullable String assertionConsumerServiceURL, 
        @QueryValue(value="assertionConsumerServiceURL@TypeHint") @Nullable String assertionConsumerServiceURLAtTypeHint, 
        @QueryValue(value="handleLogout") @Nullable Boolean handleLogout, 
        @QueryValue(value="handleLogout@TypeHint") @Nullable String handleLogoutAtTypeHint, 
        @QueryValue(value="spPrivateKeyAlias") @Nullable String spPrivateKeyAlias, 
        @QueryValue(value="spPrivateKeyAlias@TypeHint") @Nullable String spPrivateKeyAliasAtTypeHint, 
        @QueryValue(value="useEncryption") @Nullable Boolean useEncryption, 
        @QueryValue(value="useEncryption@TypeHint") @Nullable String useEncryptionAtTypeHint, 
        @QueryValue(value="nameIdFormat") @Nullable String nameIdFormat, 
        @QueryValue(value="nameIdFormat@TypeHint") @Nullable String nameIdFormatAtTypeHint, 
        @QueryValue(value="digestMethod") @Nullable String digestMethod, 
        @QueryValue(value="digestMethod@TypeHint") @Nullable String digestMethodAtTypeHint, 
        @QueryValue(value="signatureMethod") @Nullable String signatureMethod, 
        @QueryValue(value="signatureMethod@TypeHint") @Nullable String signatureMethodAtTypeHint, 
        @QueryValue(value="userIntermediatePath") @Nullable String userIntermediatePath, 
        @QueryValue(value="userIntermediatePath@TypeHint") @Nullable String userIntermediatePathAtTypeHint
    );

    /**
     * postConfigApacheFelixJettyBasedHttpService
     *
     * @param orgApacheFelixHttpsNio  (optional)
     * @param orgApacheFelixHttpsNioAtTypeHint  (optional)
     * @param orgApacheFelixHttpsKeystore  (optional)
     * @param orgApacheFelixHttpsKeystoreAtTypeHint  (optional)
     * @param orgApacheFelixHttpsKeystorePassword  (optional)
     * @param orgApacheFelixHttpsKeystorePasswordAtTypeHint  (optional)
     * @param orgApacheFelixHttpsKeystoreKey  (optional)
     * @param orgApacheFelixHttpsKeystoreKeyAtTypeHint  (optional)
     * @param orgApacheFelixHttpsKeystoreKeyPassword  (optional)
     * @param orgApacheFelixHttpsKeystoreKeyPasswordAtTypeHint  (optional)
     * @param orgApacheFelixHttpsTruststore  (optional)
     * @param orgApacheFelixHttpsTruststoreAtTypeHint  (optional)
     * @param orgApacheFelixHttpsTruststorePassword  (optional)
     * @param orgApacheFelixHttpsTruststorePasswordAtTypeHint  (optional)
     * @param orgApacheFelixHttpsClientcertificate  (optional)
     * @param orgApacheFelixHttpsClientcertificateAtTypeHint  (optional)
     * @param orgApacheFelixHttpsEnable  (optional)
     * @param orgApacheFelixHttpsEnableAtTypeHint  (optional)
     * @param orgOsgiServiceHttpPortSecure  (optional)
     * @param orgOsgiServiceHttpPortSecureAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/org.apache.felix.http")
    Mono<Void> postConfigApacheFelixJettyBasedHttpService(
        @QueryValue(value="org.apache.felix.https.nio") @Nullable Boolean orgApacheFelixHttpsNio, 
        @QueryValue(value="org.apache.felix.https.nio@TypeHint") @Nullable String orgApacheFelixHttpsNioAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.keystore") @Nullable String orgApacheFelixHttpsKeystore, 
        @QueryValue(value="org.apache.felix.https.keystore@TypeHint") @Nullable String orgApacheFelixHttpsKeystoreAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.keystore.password") @Nullable String orgApacheFelixHttpsKeystorePassword, 
        @QueryValue(value="org.apache.felix.https.keystore.password@TypeHint") @Nullable String orgApacheFelixHttpsKeystorePasswordAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.keystore.key") @Nullable String orgApacheFelixHttpsKeystoreKey, 
        @QueryValue(value="org.apache.felix.https.keystore.key@TypeHint") @Nullable String orgApacheFelixHttpsKeystoreKeyAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.keystore.key.password") @Nullable String orgApacheFelixHttpsKeystoreKeyPassword, 
        @QueryValue(value="org.apache.felix.https.keystore.key.password@TypeHint") @Nullable String orgApacheFelixHttpsKeystoreKeyPasswordAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.truststore") @Nullable String orgApacheFelixHttpsTruststore, 
        @QueryValue(value="org.apache.felix.https.truststore@TypeHint") @Nullable String orgApacheFelixHttpsTruststoreAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.truststore.password") @Nullable String orgApacheFelixHttpsTruststorePassword, 
        @QueryValue(value="org.apache.felix.https.truststore.password@TypeHint") @Nullable String orgApacheFelixHttpsTruststorePasswordAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.clientcertificate") @Nullable String orgApacheFelixHttpsClientcertificate, 
        @QueryValue(value="org.apache.felix.https.clientcertificate@TypeHint") @Nullable String orgApacheFelixHttpsClientcertificateAtTypeHint, 
        @QueryValue(value="org.apache.felix.https.enable") @Nullable Boolean orgApacheFelixHttpsEnable, 
        @QueryValue(value="org.apache.felix.https.enable@TypeHint") @Nullable String orgApacheFelixHttpsEnableAtTypeHint, 
        @QueryValue(value="org.osgi.service.http.port.secure") @Nullable String orgOsgiServiceHttpPortSecure, 
        @QueryValue(value="org.osgi.service.http.port.secure@TypeHint") @Nullable String orgOsgiServiceHttpPortSecureAtTypeHint
    );

    /**
     * postConfigApacheHttpComponentsProxyConfiguration
     *
     * @param proxyHost  (optional)
     * @param proxyHostAtTypeHint  (optional)
     * @param proxyPort  (optional)
     * @param proxyPortAtTypeHint  (optional)
     * @param proxyExceptions  (optional)
     * @param proxyExceptionsAtTypeHint  (optional)
     * @param proxyEnabled  (optional)
     * @param proxyEnabledAtTypeHint  (optional)
     * @param proxyUser  (optional)
     * @param proxyUserAtTypeHint  (optional)
     * @param proxyPassword  (optional)
     * @param proxyPasswordAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/org.apache.http.proxyconfigurator.config")
    Mono<Void> postConfigApacheHttpComponentsProxyConfiguration(
        @QueryValue(value="proxy.host") @Nullable String proxyHost, 
        @QueryValue(value="proxy.host@TypeHint") @Nullable String proxyHostAtTypeHint, 
        @QueryValue(value="proxy.port") @Nullable Integer proxyPort, 
        @QueryValue(value="proxy.port@TypeHint") @Nullable String proxyPortAtTypeHint, 
        @QueryValue(value="proxy.exceptions") @Nullable List<String> proxyExceptions, 
        @QueryValue(value="proxy.exceptions@TypeHint") @Nullable String proxyExceptionsAtTypeHint, 
        @QueryValue(value="proxy.enabled") @Nullable Boolean proxyEnabled, 
        @QueryValue(value="proxy.enabled@TypeHint") @Nullable String proxyEnabledAtTypeHint, 
        @QueryValue(value="proxy.user") @Nullable String proxyUser, 
        @QueryValue(value="proxy.user@TypeHint") @Nullable String proxyUserAtTypeHint, 
        @QueryValue(value="proxy.password") @Nullable String proxyPassword, 
        @QueryValue(value="proxy.password@TypeHint") @Nullable String proxyPasswordAtTypeHint
    );

    /**
     * postConfigApacheSlingDavExServlet
     *
     * @param alias  (optional)
     * @param aliasAtTypeHint  (optional)
     * @param davCreateAbsoluteUri  (optional)
     * @param davCreateAbsoluteUriAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet")
    Mono<Void> postConfigApacheSlingDavExServlet(
        @QueryValue(value="alias") @Nullable String alias, 
        @QueryValue(value="alias@TypeHint") @Nullable String aliasAtTypeHint, 
        @QueryValue(value="dav.create-absolute-uri") @Nullable Boolean davCreateAbsoluteUri, 
        @QueryValue(value="dav.create-absolute-uri@TypeHint") @Nullable String davCreateAbsoluteUriAtTypeHint
    );

    /**
     * postConfigApacheSlingGetServlet
     *
     * @param jsonMaximumresults  (optional)
     * @param jsonMaximumresultsAtTypeHint  (optional)
     * @param enableHtml  (optional)
     * @param enableHtmlAtTypeHint  (optional)
     * @param enableTxt  (optional)
     * @param enableTxtAtTypeHint  (optional)
     * @param enableXml  (optional)
     * @param enableXmlAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet")
    Mono<Void> postConfigApacheSlingGetServlet(
        @QueryValue(value="json.maximumresults") @Nullable String jsonMaximumresults, 
        @QueryValue(value="json.maximumresults@TypeHint") @Nullable String jsonMaximumresultsAtTypeHint, 
        @QueryValue(value="enable.html") @Nullable Boolean enableHtml, 
        @QueryValue(value="enable.html@TypeHint") @Nullable String enableHtmlAtTypeHint, 
        @QueryValue(value="enable.txt") @Nullable Boolean enableTxt, 
        @QueryValue(value="enable.txt@TypeHint") @Nullable String enableTxtAtTypeHint, 
        @QueryValue(value="enable.xml") @Nullable Boolean enableXml, 
        @QueryValue(value="enable.xml@TypeHint") @Nullable String enableXmlAtTypeHint
    );

    /**
     * postConfigApacheSlingReferrerFilter
     *
     * @param allowEmpty  (optional)
     * @param allowEmptyAtTypeHint  (optional)
     * @param allowHosts  (optional)
     * @param allowHostsAtTypeHint  (optional)
     * @param allowHostsRegexp  (optional)
     * @param allowHostsRegexpAtTypeHint  (optional)
     * @param filterMethods  (optional)
     * @param filterMethodsAtTypeHint  (optional)
     */
    @Post(uri="/apps/system/config/org.apache.sling.security.impl.ReferrerFilter")
    Mono<Void> postConfigApacheSlingReferrerFilter(
        @QueryValue(value="allow.empty") @Nullable Boolean allowEmpty, 
        @QueryValue(value="allow.empty@TypeHint") @Nullable String allowEmptyAtTypeHint, 
        @QueryValue(value="allow.hosts") @Nullable String allowHosts, 
        @QueryValue(value="allow.hosts@TypeHint") @Nullable String allowHostsAtTypeHint, 
        @QueryValue(value="allow.hosts.regexp") @Nullable String allowHostsRegexp, 
        @QueryValue(value="allow.hosts.regexp@TypeHint") @Nullable String allowHostsRegexpAtTypeHint, 
        @QueryValue(value="filter.methods") @Nullable String filterMethods, 
        @QueryValue(value="filter.methods@TypeHint") @Nullable String filterMethodsAtTypeHint
    );

    /**
     * postConfigProperty
     *
     * @param configNodeName  (required)
     */
    @Post(uri="/apps/system/config/{configNodeName}")
    Mono<Void> postConfigProperty(
        @PathVariable(name="configNodeName") @NotNull String configNodeName
    );

    /**
     * postNode
     *
     * @param path  (required)
     * @param name  (required)
     * @param operation  (optional)
     * @param deleteAuthorizable  (optional)
     * @param _file  (optional)
     */
    @Post(uri="/{path}/{name}")
    @Produces({"multipart/form-data"})
    Mono<Void> postNode(
        @PathVariable(name="path") @NotNull String path, 
        @PathVariable(name="name") @NotNull String name, 
        @QueryValue(value=":operation") @Nullable String operation, 
        @QueryValue(value="deleteAuthorizable") @Nullable String deleteAuthorizable, 
        @Nullable File _file
    );

    /**
     * postNodeRw
     *
     * @param path  (required)
     * @param name  (required)
     * @param addMembers  (optional)
     */
    @Post(uri="/{path}/{name}.rw.html")
    Mono<Void> postNodeRw(
        @PathVariable(name="path") @NotNull String path, 
        @PathVariable(name="name") @NotNull String name, 
        @QueryValue(value="addMembers") @Nullable String addMembers
    );

    /**
     * postPath
     *
     * @param path  (required)
     * @param jcrPrimaryType  (required)
     * @param name  (required)
     */
    @Post(uri="/{path}/")
    Mono<Void> postPath(
        @PathVariable(name="path") @NotNull String path, 
        @QueryValue(value="jcr:primaryType") @NotNull String jcrPrimaryType, 
        @QueryValue(value=":name") @NotNull String name
    );

    /**
     * postQuery
     *
     * @param path  (required)
     * @param pLimit  (required)
     * @param _1property  (required)
     * @param _1propertyValue  (required)
     * @return String
     */
    @Post(uri="/bin/querybuilder.json")
    @Consumes({"application/json"})
    Mono<String> postQuery(
        @QueryValue(value="path") @NotNull String path, 
        @QueryValue(value="p.limit") @NotNull BigDecimal pLimit, 
        @QueryValue(value="1_property") @NotNull String _1property, 
        @QueryValue(value="1_property.value") @NotNull String _1propertyValue
    );

    /**
     * postTreeActivation
     *
     * @param ignoredeactivated  (required)
     * @param onlymodified  (required)
     * @param path  (required)
     * @param cmd  (required)
     */
    @Post(uri="/libs/replication/treeactivation.html")
    Mono<Void> postTreeActivation(
        @QueryValue(value="ignoredeactivated") @NotNull Boolean ignoredeactivated, 
        @QueryValue(value="onlymodified") @NotNull Boolean onlymodified, 
        @QueryValue(value="path") @NotNull String path, 
        @QueryValue(value="cmd", defaultValue="activate") @NotNull String cmd
    );

    /**
     * postTruststore
     *
     * @param operation  (optional)
     * @param newPassword  (optional)
     * @param rePassword  (optional)
     * @param keyStoreType  (optional)
     * @param removeAlias  (optional)
     * @param certificate  (optional)
     * @return String
     */
    @Post(uri="/libs/granite/security/post/truststore")
    @Consumes({"text/plain"})
    @Produces({"multipart/form-data"})
    Mono<String> postTruststore(
        @QueryValue(value=":operation") @Nullable String operation, 
        @QueryValue(value="newPassword") @Nullable String newPassword, 
        @QueryValue(value="rePassword") @Nullable String rePassword, 
        @QueryValue(value="keyStoreType") @Nullable String keyStoreType, 
        @QueryValue(value="removeAlias") @Nullable String removeAlias, 
        @Nullable File certificate
    );

    /**
     * postTruststorePKCS12
     *
     * @param truststoreP12  (optional)
     * @return String
     */
    @Post(uri="/etc/truststore")
    @Consumes({"text/plain"})
    @Produces({"multipart/form-data"})
    Mono<String> postTruststorePKCS12(
        @Nullable File truststoreP12
    );

}
