# coding: utf-8

"""
    Adobe Experience Manager (AEM) API

    Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API

    The version of the OpenAPI document: 3.7.1-pre.0
    Contact: opensource@shinesolutions.com
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from pydantic import StrictBool, StrictInt, StrictStr, conlist

from typing import List, Optional

from openapi_client.models.bundle_info import BundleInfo
from openapi_client.models.saml_configuration_info import SamlConfigurationInfo

from openapi_client.api_client import ApiClient
from openapi_client.api_response import ApiResponse
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ConsoleApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def get_aem_product_info(self, **kwargs) -> List[str]:  # noqa: E501
        """get_aem_product_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_aem_product_info(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[str]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_aem_product_info_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.get_aem_product_info_with_http_info(**kwargs)  # noqa: E501

    @validate_arguments
    def get_aem_product_info_with_http_info(self, **kwargs) -> ApiResponse:  # noqa: E501
        """get_aem_product_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_aem_product_info_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[str], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_aem_product_info" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {
        }

        return self.api_client.call_api(
            '/system/console/status-productinfo.json', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def get_bundle_info(self, name : StrictStr, **kwargs) -> BundleInfo:  # noqa: E501
        """get_bundle_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_bundle_info(name, async_req=True)
        >>> result = thread.get()

        :param name: (required)
        :type name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: BundleInfo
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_bundle_info_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.get_bundle_info_with_http_info(name, **kwargs)  # noqa: E501

    @validate_arguments
    def get_bundle_info_with_http_info(self, name : StrictStr, **kwargs) -> ApiResponse:  # noqa: E501
        """get_bundle_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_bundle_info_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param name: (required)
        :type name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(BundleInfo, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_bundle_info" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['name'] is not None:
            _path_params['name'] = _params['name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {
            '200': "BundleInfo",
        }

        return self.api_client.call_api(
            '/system/console/bundles/{name}.json', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def get_config_mgr(self, **kwargs) -> str:  # noqa: E501
        """get_config_mgr  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_config_mgr(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: str
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_config_mgr_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.get_config_mgr_with_http_info(**kwargs)  # noqa: E501

    @validate_arguments
    def get_config_mgr_with_http_info(self, **kwargs) -> ApiResponse:  # noqa: E501
        """get_config_mgr  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_config_mgr_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(str, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_config_mgr" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/xml'])  # noqa: E501

        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {
            '200': "str",
            '5XX': None,
        }

        return self.api_client.call_api(
            '/system/console/configMgr', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def post_bundle(self, name : StrictStr, action : StrictStr, **kwargs) -> None:  # noqa: E501
        """post_bundle  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_bundle(name, action, async_req=True)
        >>> result = thread.get()

        :param name: (required)
        :type name: str
        :param action: (required)
        :type action: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the post_bundle_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.post_bundle_with_http_info(name, action, **kwargs)  # noqa: E501

    @validate_arguments
    def post_bundle_with_http_info(self, name : StrictStr, action : StrictStr, **kwargs) -> ApiResponse:  # noqa: E501
        """post_bundle  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_bundle_with_http_info(name, action, async_req=True)
        >>> result = thread.get()

        :param name: (required)
        :type name: str
        :param action: (required)
        :type action: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'name',
            'action'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_bundle" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['name'] is not None:
            _path_params['name'] = _params['name']


        # process the query parameters
        _query_params = []
        if _params.get('action') is not None:  # noqa: E501
            _query_params.append(('action', _params['action']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/system/console/bundles/{name}', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def post_jmx_repository(self, action : StrictStr, **kwargs) -> None:  # noqa: E501
        """post_jmx_repository  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_jmx_repository(action, async_req=True)
        >>> result = thread.get()

        :param action: (required)
        :type action: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the post_jmx_repository_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.post_jmx_repository_with_http_info(action, **kwargs)  # noqa: E501

    @validate_arguments
    def post_jmx_repository_with_http_info(self, action : StrictStr, **kwargs) -> ApiResponse:  # noqa: E501
        """post_jmx_repository  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_jmx_repository_with_http_info(action, async_req=True)
        >>> result = thread.get()

        :param action: (required)
        :type action: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'action'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_jmx_repository" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['action'] is not None:
            _path_params['action'] = _params['action']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/system/console/jmx/com.adobe.granite:type=Repository/op/{action}', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def post_saml_configuration(self, post : Optional[StrictBool] = None, apply : Optional[StrictBool] = None, delete : Optional[StrictBool] = None, action : Optional[StrictStr] = None, location : Optional[StrictStr] = None, path : Optional[conlist(StrictStr)] = None, service_ranking : Optional[StrictInt] = None, idp_url : Optional[StrictStr] = None, idp_cert_alias : Optional[StrictStr] = None, idp_http_redirect : Optional[StrictBool] = None, service_provider_entity_id : Optional[StrictStr] = None, assertion_consumer_service_url : Optional[StrictStr] = None, sp_private_key_alias : Optional[StrictStr] = None, key_store_password : Optional[StrictStr] = None, default_redirect_url : Optional[StrictStr] = None, user_id_attribute : Optional[StrictStr] = None, use_encryption : Optional[StrictBool] = None, create_user : Optional[StrictBool] = None, add_group_memberships : Optional[StrictBool] = None, group_membership_attribute : Optional[StrictStr] = None, default_groups : Optional[conlist(StrictStr)] = None, name_id_format : Optional[StrictStr] = None, synchronize_attributes : Optional[conlist(StrictStr)] = None, handle_logout : Optional[StrictBool] = None, logout_url : Optional[StrictStr] = None, clock_tolerance : Optional[StrictInt] = None, digest_method : Optional[StrictStr] = None, signature_method : Optional[StrictStr] = None, user_intermediate_path : Optional[StrictStr] = None, propertylist : Optional[conlist(StrictStr)] = None, **kwargs) -> SamlConfigurationInfo:  # noqa: E501
        """post_saml_configuration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_saml_configuration(post, apply, delete, action, location, path, service_ranking, idp_url, idp_cert_alias, idp_http_redirect, service_provider_entity_id, assertion_consumer_service_url, sp_private_key_alias, key_store_password, default_redirect_url, user_id_attribute, use_encryption, create_user, add_group_memberships, group_membership_attribute, default_groups, name_id_format, synchronize_attributes, handle_logout, logout_url, clock_tolerance, digest_method, signature_method, user_intermediate_path, propertylist, async_req=True)
        >>> result = thread.get()

        :param post:
        :type post: bool
        :param apply:
        :type apply: bool
        :param delete:
        :type delete: bool
        :param action:
        :type action: str
        :param location:
        :type location: str
        :param path:
        :type path: List[str]
        :param service_ranking:
        :type service_ranking: int
        :param idp_url:
        :type idp_url: str
        :param idp_cert_alias:
        :type idp_cert_alias: str
        :param idp_http_redirect:
        :type idp_http_redirect: bool
        :param service_provider_entity_id:
        :type service_provider_entity_id: str
        :param assertion_consumer_service_url:
        :type assertion_consumer_service_url: str
        :param sp_private_key_alias:
        :type sp_private_key_alias: str
        :param key_store_password:
        :type key_store_password: str
        :param default_redirect_url:
        :type default_redirect_url: str
        :param user_id_attribute:
        :type user_id_attribute: str
        :param use_encryption:
        :type use_encryption: bool
        :param create_user:
        :type create_user: bool
        :param add_group_memberships:
        :type add_group_memberships: bool
        :param group_membership_attribute:
        :type group_membership_attribute: str
        :param default_groups:
        :type default_groups: List[str]
        :param name_id_format:
        :type name_id_format: str
        :param synchronize_attributes:
        :type synchronize_attributes: List[str]
        :param handle_logout:
        :type handle_logout: bool
        :param logout_url:
        :type logout_url: str
        :param clock_tolerance:
        :type clock_tolerance: int
        :param digest_method:
        :type digest_method: str
        :param signature_method:
        :type signature_method: str
        :param user_intermediate_path:
        :type user_intermediate_path: str
        :param propertylist:
        :type propertylist: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: SamlConfigurationInfo
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the post_saml_configuration_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.post_saml_configuration_with_http_info(post, apply, delete, action, location, path, service_ranking, idp_url, idp_cert_alias, idp_http_redirect, service_provider_entity_id, assertion_consumer_service_url, sp_private_key_alias, key_store_password, default_redirect_url, user_id_attribute, use_encryption, create_user, add_group_memberships, group_membership_attribute, default_groups, name_id_format, synchronize_attributes, handle_logout, logout_url, clock_tolerance, digest_method, signature_method, user_intermediate_path, propertylist, **kwargs)  # noqa: E501

    @validate_arguments
    def post_saml_configuration_with_http_info(self, post : Optional[StrictBool] = None, apply : Optional[StrictBool] = None, delete : Optional[StrictBool] = None, action : Optional[StrictStr] = None, location : Optional[StrictStr] = None, path : Optional[conlist(StrictStr)] = None, service_ranking : Optional[StrictInt] = None, idp_url : Optional[StrictStr] = None, idp_cert_alias : Optional[StrictStr] = None, idp_http_redirect : Optional[StrictBool] = None, service_provider_entity_id : Optional[StrictStr] = None, assertion_consumer_service_url : Optional[StrictStr] = None, sp_private_key_alias : Optional[StrictStr] = None, key_store_password : Optional[StrictStr] = None, default_redirect_url : Optional[StrictStr] = None, user_id_attribute : Optional[StrictStr] = None, use_encryption : Optional[StrictBool] = None, create_user : Optional[StrictBool] = None, add_group_memberships : Optional[StrictBool] = None, group_membership_attribute : Optional[StrictStr] = None, default_groups : Optional[conlist(StrictStr)] = None, name_id_format : Optional[StrictStr] = None, synchronize_attributes : Optional[conlist(StrictStr)] = None, handle_logout : Optional[StrictBool] = None, logout_url : Optional[StrictStr] = None, clock_tolerance : Optional[StrictInt] = None, digest_method : Optional[StrictStr] = None, signature_method : Optional[StrictStr] = None, user_intermediate_path : Optional[StrictStr] = None, propertylist : Optional[conlist(StrictStr)] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """post_saml_configuration  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.post_saml_configuration_with_http_info(post, apply, delete, action, location, path, service_ranking, idp_url, idp_cert_alias, idp_http_redirect, service_provider_entity_id, assertion_consumer_service_url, sp_private_key_alias, key_store_password, default_redirect_url, user_id_attribute, use_encryption, create_user, add_group_memberships, group_membership_attribute, default_groups, name_id_format, synchronize_attributes, handle_logout, logout_url, clock_tolerance, digest_method, signature_method, user_intermediate_path, propertylist, async_req=True)
        >>> result = thread.get()

        :param post:
        :type post: bool
        :param apply:
        :type apply: bool
        :param delete:
        :type delete: bool
        :param action:
        :type action: str
        :param location:
        :type location: str
        :param path:
        :type path: List[str]
        :param service_ranking:
        :type service_ranking: int
        :param idp_url:
        :type idp_url: str
        :param idp_cert_alias:
        :type idp_cert_alias: str
        :param idp_http_redirect:
        :type idp_http_redirect: bool
        :param service_provider_entity_id:
        :type service_provider_entity_id: str
        :param assertion_consumer_service_url:
        :type assertion_consumer_service_url: str
        :param sp_private_key_alias:
        :type sp_private_key_alias: str
        :param key_store_password:
        :type key_store_password: str
        :param default_redirect_url:
        :type default_redirect_url: str
        :param user_id_attribute:
        :type user_id_attribute: str
        :param use_encryption:
        :type use_encryption: bool
        :param create_user:
        :type create_user: bool
        :param add_group_memberships:
        :type add_group_memberships: bool
        :param group_membership_attribute:
        :type group_membership_attribute: str
        :param default_groups:
        :type default_groups: List[str]
        :param name_id_format:
        :type name_id_format: str
        :param synchronize_attributes:
        :type synchronize_attributes: List[str]
        :param handle_logout:
        :type handle_logout: bool
        :param logout_url:
        :type logout_url: str
        :param clock_tolerance:
        :type clock_tolerance: int
        :param digest_method:
        :type digest_method: str
        :param signature_method:
        :type signature_method: str
        :param user_intermediate_path:
        :type user_intermediate_path: str
        :param propertylist:
        :type propertylist: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(SamlConfigurationInfo, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'post',
            'apply',
            'delete',
            'action',
            'location',
            'path',
            'service_ranking',
            'idp_url',
            'idp_cert_alias',
            'idp_http_redirect',
            'service_provider_entity_id',
            'assertion_consumer_service_url',
            'sp_private_key_alias',
            'key_store_password',
            'default_redirect_url',
            'user_id_attribute',
            'use_encryption',
            'create_user',
            'add_group_memberships',
            'group_membership_attribute',
            'default_groups',
            'name_id_format',
            'synchronize_attributes',
            'handle_logout',
            'logout_url',
            'clock_tolerance',
            'digest_method',
            'signature_method',
            'user_intermediate_path',
            'propertylist'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_saml_configuration" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('post') is not None:  # noqa: E501
            _query_params.append(('post', _params['post']))

        if _params.get('apply') is not None:  # noqa: E501
            _query_params.append(('apply', _params['apply']))

        if _params.get('delete') is not None:  # noqa: E501
            _query_params.append(('delete', _params['delete']))

        if _params.get('action') is not None:  # noqa: E501
            _query_params.append(('action', _params['action']))

        if _params.get('location') is not None:  # noqa: E501
            _query_params.append(('$location', _params['location']))

        if _params.get('path') is not None:  # noqa: E501
            _query_params.append(('path', _params['path']))
            _collection_formats['path'] = 'multi'

        if _params.get('service_ranking') is not None:  # noqa: E501
            _query_params.append(('service.ranking', _params['service_ranking']))

        if _params.get('idp_url') is not None:  # noqa: E501
            _query_params.append(('idpUrl', _params['idp_url']))

        if _params.get('idp_cert_alias') is not None:  # noqa: E501
            _query_params.append(('idpCertAlias', _params['idp_cert_alias']))

        if _params.get('idp_http_redirect') is not None:  # noqa: E501
            _query_params.append(('idpHttpRedirect', _params['idp_http_redirect']))

        if _params.get('service_provider_entity_id') is not None:  # noqa: E501
            _query_params.append(('serviceProviderEntityId', _params['service_provider_entity_id']))

        if _params.get('assertion_consumer_service_url') is not None:  # noqa: E501
            _query_params.append(('assertionConsumerServiceURL', _params['assertion_consumer_service_url']))

        if _params.get('sp_private_key_alias') is not None:  # noqa: E501
            _query_params.append(('spPrivateKeyAlias', _params['sp_private_key_alias']))

        if _params.get('key_store_password') is not None:  # noqa: E501
            _query_params.append(('keyStorePassword', _params['key_store_password']))

        if _params.get('default_redirect_url') is not None:  # noqa: E501
            _query_params.append(('defaultRedirectUrl', _params['default_redirect_url']))

        if _params.get('user_id_attribute') is not None:  # noqa: E501
            _query_params.append(('userIDAttribute', _params['user_id_attribute']))

        if _params.get('use_encryption') is not None:  # noqa: E501
            _query_params.append(('useEncryption', _params['use_encryption']))

        if _params.get('create_user') is not None:  # noqa: E501
            _query_params.append(('createUser', _params['create_user']))

        if _params.get('add_group_memberships') is not None:  # noqa: E501
            _query_params.append(('addGroupMemberships', _params['add_group_memberships']))

        if _params.get('group_membership_attribute') is not None:  # noqa: E501
            _query_params.append(('groupMembershipAttribute', _params['group_membership_attribute']))

        if _params.get('default_groups') is not None:  # noqa: E501
            _query_params.append(('defaultGroups', _params['default_groups']))
            _collection_formats['defaultGroups'] = 'multi'

        if _params.get('name_id_format') is not None:  # noqa: E501
            _query_params.append(('nameIdFormat', _params['name_id_format']))

        if _params.get('synchronize_attributes') is not None:  # noqa: E501
            _query_params.append(('synchronizeAttributes', _params['synchronize_attributes']))
            _collection_formats['synchronizeAttributes'] = 'multi'

        if _params.get('handle_logout') is not None:  # noqa: E501
            _query_params.append(('handleLogout', _params['handle_logout']))

        if _params.get('logout_url') is not None:  # noqa: E501
            _query_params.append(('logoutUrl', _params['logout_url']))

        if _params.get('clock_tolerance') is not None:  # noqa: E501
            _query_params.append(('clockTolerance', _params['clock_tolerance']))

        if _params.get('digest_method') is not None:  # noqa: E501
            _query_params.append(('digestMethod', _params['digest_method']))

        if _params.get('signature_method') is not None:  # noqa: E501
            _query_params.append(('signatureMethod', _params['signature_method']))

        if _params.get('user_intermediate_path') is not None:  # noqa: E501
            _query_params.append(('userIntermediatePath', _params['user_intermediate_path']))

        if _params.get('propertylist') is not None:  # noqa: E501
            _query_params.append(('propertylist', _params['propertylist']))
            _collection_formats['propertylist'] = 'csv'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain'])  # noqa: E501

        # authentication setting
        _auth_settings = ['aemAuth']  # noqa: E501

        _response_types_map = {
            '200': "SamlConfigurationInfo",
            '302': "str",
        }

        return self.api_client.call_api(
            '/system/console/configMgr/com.adobe.granite.auth.saml.SamlAuthenticationHandler', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
