/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.BundleInfo;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.SamlConfigurationInfo;

/**
 * Adobe Experience Manager (AEM) API
 *
 * <p>Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/system/console")
public interface ConsoleApi  {

    @GET
    @Path("/status-productinfo.json")
    @Produces({ "application/json" })
    List<String> getAemProductInfo() throws ApiException, ProcessingException;

    @GET
    @Path("/bundles/{name}.json")
    @Produces({ "application/json" })
    BundleInfo getBundleInfo(@PathParam("name") String name) throws ApiException, ProcessingException;

    @GET
    @Path("/configMgr")
    @Produces({ "text/xml" })
    String getConfigMgr() throws ApiException, ProcessingException;

    @POST
    @Path("/bundles/{name}")
    void postBundle(@PathParam("name") String name, @QueryParam("action") String action) throws ApiException, ProcessingException;

    @POST
    @Path("/jmx/com.adobe.granite:type=Repository/op/{action}")
    void postJmxRepository(@PathParam("action") String action) throws ApiException, ProcessingException;

    @POST
    @Path("/configMgr/com.adobe.granite.auth.saml.SamlAuthenticationHandler")
    @Produces({ "text/plain" })
    SamlConfigurationInfo postSamlConfiguration(@QueryParam("post") Boolean post, @QueryParam("apply") Boolean apply, @QueryParam("delete") Boolean delete, @QueryParam("action") String action, @QueryParam("$location") String $location, @QueryParam("path") List<String> path, @QueryParam("service.ranking") Integer serviceRanking, @QueryParam("idpUrl") String idpUrl, @QueryParam("idpCertAlias") String idpCertAlias, @QueryParam("idpHttpRedirect") Boolean idpHttpRedirect, @QueryParam("serviceProviderEntityId") String serviceProviderEntityId, @QueryParam("assertionConsumerServiceURL") String assertionConsumerServiceURL, @QueryParam("spPrivateKeyAlias") String spPrivateKeyAlias, @QueryParam("keyStorePassword") String keyStorePassword, @QueryParam("defaultRedirectUrl") String defaultRedirectUrl, @QueryParam("userIDAttribute") String userIDAttribute, @QueryParam("useEncryption") Boolean useEncryption, @QueryParam("createUser") Boolean createUser, @QueryParam("addGroupMemberships") Boolean addGroupMemberships, @QueryParam("groupMembershipAttribute") String groupMembershipAttribute, @QueryParam("defaultGroups") List<String> defaultGroups, @QueryParam("nameIdFormat") String nameIdFormat, @QueryParam("synchronizeAttributes") List<String> synchronizeAttributes, @QueryParam("handleLogout") Boolean handleLogout, @QueryParam("logoutUrl") String logoutUrl, @QueryParam("clockTolerance") Integer clockTolerance, @QueryParam("digestMethod") String digestMethod, @QueryParam("signatureMethod") String signatureMethod, @QueryParam("userIntermediatePath") String userIntermediatePath, @QueryParam("propertylist") List<String> propertylist) throws ApiException, ProcessingException;
}
