# coding: utf-8

"""
    Adobe Experience Manager (AEM) API

    Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API  # noqa: E501

    The version of the OpenAPI document: 3.4.0-pre.0
    Contact: opensource@shinesolutions.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swaggeraem.api_client import ApiClient
from swaggeraem.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class SlingApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_agent(self, runmode, name, **kwargs):  # noqa: E501
        """delete_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_agent(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.delete_agent_with_http_info(runmode, name, **kwargs)  # noqa: E501

    def delete_agent_with_http_info(self, runmode, name, **kwargs):  # noqa: E501
        """delete_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_agent_with_http_info(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'runmode',
            'name'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_agent" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'runmode' is set
        if self.api_client.client_side_validation and ('runmode' not in local_var_params or  # noqa: E501
                                                        local_var_params['runmode'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `runmode` when calling `delete_agent`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `delete_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runmode' in local_var_params:
            path_params['runmode'] = local_var_params['runmode']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/replication/agents.{runmode}/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_node(self, path, name, **kwargs):  # noqa: E501
        """delete_node  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_node(path, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param str name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.delete_node_with_http_info(path, name, **kwargs)  # noqa: E501

    def delete_node_with_http_info(self, path, name, **kwargs):  # noqa: E501
        """delete_node  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_node_with_http_info(path, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param str name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'path',
            'name'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_node" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'path' is set
        if self.api_client.client_side_validation and ('path' not in local_var_params or  # noqa: E501
                                                        local_var_params['path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `path` when calling `delete_node`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `delete_node`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in local_var_params:
            path_params['path'] = local_var_params['path']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{path}/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent(self, runmode, name, **kwargs):  # noqa: E501
        """get_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_agent_with_http_info(runmode, name, **kwargs)  # noqa: E501

    def get_agent_with_http_info(self, runmode, name, **kwargs):  # noqa: E501
        """get_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_with_http_info(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'runmode',
            'name'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'runmode' is set
        if self.api_client.client_side_validation and ('runmode' not in local_var_params or  # noqa: E501
                                                        local_var_params['runmode'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `runmode` when calling `get_agent`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `get_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runmode' in local_var_params:
            path_params['runmode'] = local_var_params['runmode']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/replication/agents.{runmode}/{name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agents(self, runmode, **kwargs):  # noqa: E501
        """get_agents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agents(runmode, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_agents_with_http_info(runmode, **kwargs)  # noqa: E501

    def get_agents_with_http_info(self, runmode, **kwargs):  # noqa: E501
        """get_agents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agents_with_http_info(runmode, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(str, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'runmode'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agents" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'runmode' is set
        if self.api_client.client_side_validation and ('runmode' not in local_var_params or  # noqa: E501
                                                        local_var_params['runmode'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `runmode` when calling `get_agents`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runmode' in local_var_params:
            path_params['runmode'] = local_var_params['runmode']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/replication/agents.{runmode}.-1.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_authorizable_keystore(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """get_authorizable_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_authorizable_keystore(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: KeystoreInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, **kwargs)  # noqa: E501

    def get_authorizable_keystore_with_http_info(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """get_authorizable_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(KeystoreInfo, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'intermediate_path',
            'authorizable_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_authorizable_keystore" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'intermediate_path' is set
        if self.api_client.client_side_validation and ('intermediate_path' not in local_var_params or  # noqa: E501
                                                        local_var_params['intermediate_path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `intermediate_path` when calling `get_authorizable_keystore`")  # noqa: E501
        # verify the required parameter 'authorizable_id' is set
        if self.api_client.client_side_validation and ('authorizable_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['authorizable_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `authorizable_id` when calling `get_authorizable_keystore`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'intermediate_path' in local_var_params:
            path_params['intermediatePath'] = local_var_params['intermediate_path']  # noqa: E501
        if 'authorizable_id' in local_var_params:
            path_params['authorizableId'] = local_var_params['authorizable_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{intermediatePath}/{authorizableId}.ks.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='KeystoreInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_keystore(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """get_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keystore(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_keystore_with_http_info(intermediate_path, authorizable_id, **kwargs)  # noqa: E501

    def get_keystore_with_http_info(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """get_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keystore_with_http_info(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(file, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'intermediate_path',
            'authorizable_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_keystore" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'intermediate_path' is set
        if self.api_client.client_side_validation and ('intermediate_path' not in local_var_params or  # noqa: E501
                                                        local_var_params['intermediate_path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `intermediate_path` when calling `get_keystore`")  # noqa: E501
        # verify the required parameter 'authorizable_id' is set
        if self.api_client.client_side_validation and ('authorizable_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['authorizable_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `authorizable_id` when calling `get_keystore`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'intermediate_path' in local_var_params:
            path_params['intermediatePath'] = local_var_params['intermediate_path']  # noqa: E501
        if 'authorizable_id' in local_var_params:
            path_params['authorizableId'] = local_var_params['authorizable_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{intermediatePath}/{authorizableId}/keystore/store.p12', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_node(self, path, name, **kwargs):  # noqa: E501
        """get_node  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_node(path, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param str name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_node_with_http_info(path, name, **kwargs)  # noqa: E501

    def get_node_with_http_info(self, path, name, **kwargs):  # noqa: E501
        """get_node  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_node_with_http_info(path, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param str name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'path',
            'name'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_node" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'path' is set
        if self.api_client.client_side_validation and ('path' not in local_var_params or  # noqa: E501
                                                        local_var_params['path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `path` when calling `get_node`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `get_node`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in local_var_params:
            path_params['path'] = local_var_params['path']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{path}/{name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_package(self, group, name, version, **kwargs):  # noqa: E501
        """get_package  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_package(group, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str group: (required)
        :param str name: (required)
        :param str version: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_package_with_http_info(group, name, version, **kwargs)  # noqa: E501

    def get_package_with_http_info(self, group, name, version, **kwargs):  # noqa: E501
        """get_package  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_package_with_http_info(group, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str group: (required)
        :param str name: (required)
        :param str version: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(file, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'group',
            'name',
            'version'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_package" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'group' is set
        if self.api_client.client_side_validation and ('group' not in local_var_params or  # noqa: E501
                                                        local_var_params['group'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `group` when calling `get_package`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `get_package`")  # noqa: E501
        # verify the required parameter 'version' is set
        if self.api_client.client_side_validation and ('version' not in local_var_params or  # noqa: E501
                                                        local_var_params['version'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `version` when calling `get_package`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group' in local_var_params:
            path_params['group'] = local_var_params['group']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501
        if 'version' in local_var_params:
            path_params['version'] = local_var_params['version']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/packages/{group}/{name}-{version}.zip', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_package_filter(self, group, name, version, **kwargs):  # noqa: E501
        """get_package_filter  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_package_filter(group, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str group: (required)
        :param str name: (required)
        :param str version: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_package_filter_with_http_info(group, name, version, **kwargs)  # noqa: E501

    def get_package_filter_with_http_info(self, group, name, version, **kwargs):  # noqa: E501
        """get_package_filter  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_package_filter_with_http_info(group, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str group: (required)
        :param str name: (required)
        :param str version: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(str, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'group',
            'name',
            'version'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_package_filter" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'group' is set
        if self.api_client.client_side_validation and ('group' not in local_var_params or  # noqa: E501
                                                        local_var_params['group'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `group` when calling `get_package_filter`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `get_package_filter`")  # noqa: E501
        # verify the required parameter 'version' is set
        if self.api_client.client_side_validation and ('version' not in local_var_params or  # noqa: E501
                                                        local_var_params['version'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `version` when calling `get_package_filter`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group' in local_var_params:
            path_params['group'] = local_var_params['group']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501
        if 'version' in local_var_params:
            path_params['version'] = local_var_params['version']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_query(self, path, p_limit, _1_property, _1_property_value, **kwargs):  # noqa: E501
        """get_query  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_query(path, p_limit, _1_property, _1_property_value, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param float p_limit: (required)
        :param str _1_property: (required)
        :param str _1_property_value: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_query_with_http_info(path, p_limit, _1_property, _1_property_value, **kwargs)  # noqa: E501

    def get_query_with_http_info(self, path, p_limit, _1_property, _1_property_value, **kwargs):  # noqa: E501
        """get_query  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_query_with_http_info(path, p_limit, _1_property, _1_property_value, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str path: (required)
        :param float p_limit: (required)
        :param str _1_property: (required)
        :param str _1_property_value: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(str, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'path',
            'p_limit',
            '_1_property',
            '_1_property_value'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_query" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'path' is set
        if self.api_client.client_side_validation and ('path' not in local_var_params or  # noqa: E501
                                                        local_var_params['path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `path` when calling `get_query`")  # noqa: E501
        # verify the required parameter 'p_limit' is set
        if self.api_client.client_side_validation and ('p_limit' not in local_var_params or  # noqa: E501
                                                        local_var_params['p_limit'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `p_limit` when calling `get_query`")  # noqa: E501
        # verify the required parameter '_1_property' is set
        if self.api_client.client_side_validation and ('_1_property' not in local_var_params or  # noqa: E501
                                                        local_var_params['_1_property'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `_1_property` when calling `get_query`")  # noqa: E501
        # verify the required parameter '_1_property_value' is set
        if self.api_client.client_side_validation and ('_1_property_value' not in local_var_params or  # noqa: E501
                                                        local_var_params['_1_property_value'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `_1_property_value` when calling `get_query`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'path' in local_var_params and local_var_params['path'] is not None:  # noqa: E501
            query_params.append(('path', local_var_params['path']))  # noqa: E501
        if 'p_limit' in local_var_params and local_var_params['p_limit'] is not None:  # noqa: E501
            query_params.append(('p.limit', local_var_params['p_limit']))  # noqa: E501
        if '_1_property' in local_var_params and local_var_params['_1_property'] is not None:  # noqa: E501
            query_params.append(('1_property', local_var_params['_1_property']))  # noqa: E501
        if '_1_property_value' in local_var_params and local_var_params['_1_property_value'] is not None:  # noqa: E501
            query_params.append(('1_property.value', local_var_params['_1_property_value']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/bin/querybuilder.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_truststore(self, **kwargs):  # noqa: E501
        """get_truststore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_truststore(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_truststore_with_http_info(**kwargs)  # noqa: E501

    def get_truststore_with_http_info(self, **kwargs):  # noqa: E501
        """get_truststore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_truststore_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(file, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_truststore" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/truststore/truststore.p12', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_truststore_info(self, **kwargs):  # noqa: E501
        """get_truststore_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_truststore_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: TruststoreInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.get_truststore_info_with_http_info(**kwargs)  # noqa: E501

    def get_truststore_info_with_http_info(self, **kwargs):  # noqa: E501
        """get_truststore_info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_truststore_info_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(TruststoreInfo, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_truststore_info" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/libs/granite/security/truststore.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TruststoreInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_agent(self, runmode, name, **kwargs):  # noqa: E501
        """post_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_agent(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param bool jcrcontent_cqdistribute:
        :param str jcrcontent_cqdistribute_type_hint:
        :param str jcrcontent_cqname:
        :param str jcrcontent_cqtemplate:
        :param bool jcrcontent_enabled:
        :param str jcrcontent_jcrdescription:
        :param str jcrcontent_jcrlast_modified:
        :param str jcrcontent_jcrlast_modified_by:
        :param str jcrcontent_jcrmixin_types:
        :param str jcrcontent_jcrtitle:
        :param str jcrcontent_log_level:
        :param bool jcrcontent_no_status_update:
        :param bool jcrcontent_no_versioning:
        :param float jcrcontent_protocol_connect_timeout:
        :param bool jcrcontent_protocol_http_connection_closed:
        :param str jcrcontent_protocol_http_expired:
        :param list[str] jcrcontent_protocol_http_headers:
        :param str jcrcontent_protocol_http_headers_type_hint:
        :param str jcrcontent_protocol_http_method:
        :param bool jcrcontent_protocol_https_relaxed:
        :param str jcrcontent_protocol_interface:
        :param float jcrcontent_protocol_socket_timeout:
        :param str jcrcontent_protocol_version:
        :param str jcrcontent_proxy_ntlm_domain:
        :param str jcrcontent_proxy_ntlm_host:
        :param str jcrcontent_proxy_host:
        :param str jcrcontent_proxy_password:
        :param float jcrcontent_proxy_port:
        :param str jcrcontent_proxy_user:
        :param float jcrcontent_queue_batch_max_size:
        :param str jcrcontent_queue_batch_mode:
        :param float jcrcontent_queue_batch_wait_time:
        :param str jcrcontent_retry_delay:
        :param bool jcrcontent_reverse_replication:
        :param str jcrcontent_serialization_type:
        :param str jcrcontent_slingresource_type:
        :param str jcrcontent_ssl:
        :param str jcrcontent_transport_ntlm_domain:
        :param str jcrcontent_transport_ntlm_host:
        :param str jcrcontent_transport_password:
        :param str jcrcontent_transport_uri:
        :param str jcrcontent_transport_user:
        :param bool jcrcontent_trigger_distribute:
        :param bool jcrcontent_trigger_modified:
        :param bool jcrcontent_trigger_on_off_time:
        :param bool jcrcontent_trigger_receive:
        :param bool jcrcontent_trigger_specific:
        :param str jcrcontent_user_id:
        :param str jcrprimary_type:
        :param str operation:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.post_agent_with_http_info(runmode, name, **kwargs)  # noqa: E501

    def post_agent_with_http_info(self, runmode, name, **kwargs):  # noqa: E501
        """post_agent  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_agent_with_http_info(runmode, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str runmode: (required)
        :param str name: (required)
        :param bool jcrcontent_cqdistribute:
        :param str jcrcontent_cqdistribute_type_hint:
        :param str jcrcontent_cqname:
        :param str jcrcontent_cqtemplate:
        :param bool jcrcontent_enabled:
        :param str jcrcontent_jcrdescription:
        :param str jcrcontent_jcrlast_modified:
        :param str jcrcontent_jcrlast_modified_by:
        :param str jcrcontent_jcrmixin_types:
        :param str jcrcontent_jcrtitle:
        :param str jcrcontent_log_level:
        :param bool jcrcontent_no_status_update:
        :param bool jcrcontent_no_versioning:
        :param float jcrcontent_protocol_connect_timeout:
        :param bool jcrcontent_protocol_http_connection_closed:
        :param str jcrcontent_protocol_http_expired:
        :param list[str] jcrcontent_protocol_http_headers:
        :param str jcrcontent_protocol_http_headers_type_hint:
        :param str jcrcontent_protocol_http_method:
        :param bool jcrcontent_protocol_https_relaxed:
        :param str jcrcontent_protocol_interface:
        :param float jcrcontent_protocol_socket_timeout:
        :param str jcrcontent_protocol_version:
        :param str jcrcontent_proxy_ntlm_domain:
        :param str jcrcontent_proxy_ntlm_host:
        :param str jcrcontent_proxy_host:
        :param str jcrcontent_proxy_password:
        :param float jcrcontent_proxy_port:
        :param str jcrcontent_proxy_user:
        :param float jcrcontent_queue_batch_max_size:
        :param str jcrcontent_queue_batch_mode:
        :param float jcrcontent_queue_batch_wait_time:
        :param str jcrcontent_retry_delay:
        :param bool jcrcontent_reverse_replication:
        :param str jcrcontent_serialization_type:
        :param str jcrcontent_slingresource_type:
        :param str jcrcontent_ssl:
        :param str jcrcontent_transport_ntlm_domain:
        :param str jcrcontent_transport_ntlm_host:
        :param str jcrcontent_transport_password:
        :param str jcrcontent_transport_uri:
        :param str jcrcontent_transport_user:
        :param bool jcrcontent_trigger_distribute:
        :param bool jcrcontent_trigger_modified:
        :param bool jcrcontent_trigger_on_off_time:
        :param bool jcrcontent_trigger_receive:
        :param bool jcrcontent_trigger_specific:
        :param str jcrcontent_user_id:
        :param str jcrprimary_type:
        :param str operation:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'runmode',
            'name',
            'jcrcontent_cqdistribute',
            'jcrcontent_cqdistribute_type_hint',
            'jcrcontent_cqname',
            'jcrcontent_cqtemplate',
            'jcrcontent_enabled',
            'jcrcontent_jcrdescription',
            'jcrcontent_jcrlast_modified',
            'jcrcontent_jcrlast_modified_by',
            'jcrcontent_jcrmixin_types',
            'jcrcontent_jcrtitle',
            'jcrcontent_log_level',
            'jcrcontent_no_status_update',
            'jcrcontent_no_versioning',
            'jcrcontent_protocol_connect_timeout',
            'jcrcontent_protocol_http_connection_closed',
            'jcrcontent_protocol_http_expired',
            'jcrcontent_protocol_http_headers',
            'jcrcontent_protocol_http_headers_type_hint',
            'jcrcontent_protocol_http_method',
            'jcrcontent_protocol_https_relaxed',
            'jcrcontent_protocol_interface',
            'jcrcontent_protocol_socket_timeout',
            'jcrcontent_protocol_version',
            'jcrcontent_proxy_ntlm_domain',
            'jcrcontent_proxy_ntlm_host',
            'jcrcontent_proxy_host',
            'jcrcontent_proxy_password',
            'jcrcontent_proxy_port',
            'jcrcontent_proxy_user',
            'jcrcontent_queue_batch_max_size',
            'jcrcontent_queue_batch_mode',
            'jcrcontent_queue_batch_wait_time',
            'jcrcontent_retry_delay',
            'jcrcontent_reverse_replication',
            'jcrcontent_serialization_type',
            'jcrcontent_slingresource_type',
            'jcrcontent_ssl',
            'jcrcontent_transport_ntlm_domain',
            'jcrcontent_transport_ntlm_host',
            'jcrcontent_transport_password',
            'jcrcontent_transport_uri',
            'jcrcontent_transport_user',
            'jcrcontent_trigger_distribute',
            'jcrcontent_trigger_modified',
            'jcrcontent_trigger_on_off_time',
            'jcrcontent_trigger_receive',
            'jcrcontent_trigger_specific',
            'jcrcontent_user_id',
            'jcrprimary_type',
            'operation'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_agent" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'runmode' is set
        if self.api_client.client_side_validation and ('runmode' not in local_var_params or  # noqa: E501
                                                        local_var_params['runmode'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `runmode` when calling `post_agent`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `post_agent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'runmode' in local_var_params:
            path_params['runmode'] = local_var_params['runmode']  # noqa: E501
        if 'name' in local_var_params:
            path_params['name'] = local_var_params['name']  # noqa: E501

        query_params = []
        if 'jcrcontent_cqdistribute' in local_var_params and local_var_params['jcrcontent_cqdistribute'] is not None:  # noqa: E501
            query_params.append(('jcr:content/cq:distribute', local_var_params['jcrcontent_cqdistribute']))  # noqa: E501
        if 'jcrcontent_cqdistribute_type_hint' in local_var_params and local_var_params['jcrcontent_cqdistribute_type_hint'] is not None:  # noqa: E501
            query_params.append(('jcr:content/cq:distribute@TypeHint', local_var_params['jcrcontent_cqdistribute_type_hint']))  # noqa: E501
        if 'jcrcontent_cqname' in local_var_params and local_var_params['jcrcontent_cqname'] is not None:  # noqa: E501
            query_params.append(('jcr:content/cq:name', local_var_params['jcrcontent_cqname']))  # noqa: E501
        if 'jcrcontent_cqtemplate' in local_var_params and local_var_params['jcrcontent_cqtemplate'] is not None:  # noqa: E501
            query_params.append(('jcr:content/cq:template', local_var_params['jcrcontent_cqtemplate']))  # noqa: E501
        if 'jcrcontent_enabled' in local_var_params and local_var_params['jcrcontent_enabled'] is not None:  # noqa: E501
            query_params.append(('jcr:content/enabled', local_var_params['jcrcontent_enabled']))  # noqa: E501
        if 'jcrcontent_jcrdescription' in local_var_params and local_var_params['jcrcontent_jcrdescription'] is not None:  # noqa: E501
            query_params.append(('jcr:content/jcr:description', local_var_params['jcrcontent_jcrdescription']))  # noqa: E501
        if 'jcrcontent_jcrlast_modified' in local_var_params and local_var_params['jcrcontent_jcrlast_modified'] is not None:  # noqa: E501
            query_params.append(('jcr:content/jcr:lastModified', local_var_params['jcrcontent_jcrlast_modified']))  # noqa: E501
        if 'jcrcontent_jcrlast_modified_by' in local_var_params and local_var_params['jcrcontent_jcrlast_modified_by'] is not None:  # noqa: E501
            query_params.append(('jcr:content/jcr:lastModifiedBy', local_var_params['jcrcontent_jcrlast_modified_by']))  # noqa: E501
        if 'jcrcontent_jcrmixin_types' in local_var_params and local_var_params['jcrcontent_jcrmixin_types'] is not None:  # noqa: E501
            query_params.append(('jcr:content/jcr:mixinTypes', local_var_params['jcrcontent_jcrmixin_types']))  # noqa: E501
        if 'jcrcontent_jcrtitle' in local_var_params and local_var_params['jcrcontent_jcrtitle'] is not None:  # noqa: E501
            query_params.append(('jcr:content/jcr:title', local_var_params['jcrcontent_jcrtitle']))  # noqa: E501
        if 'jcrcontent_log_level' in local_var_params and local_var_params['jcrcontent_log_level'] is not None:  # noqa: E501
            query_params.append(('jcr:content/logLevel', local_var_params['jcrcontent_log_level']))  # noqa: E501
        if 'jcrcontent_no_status_update' in local_var_params and local_var_params['jcrcontent_no_status_update'] is not None:  # noqa: E501
            query_params.append(('jcr:content/noStatusUpdate', local_var_params['jcrcontent_no_status_update']))  # noqa: E501
        if 'jcrcontent_no_versioning' in local_var_params and local_var_params['jcrcontent_no_versioning'] is not None:  # noqa: E501
            query_params.append(('jcr:content/noVersioning', local_var_params['jcrcontent_no_versioning']))  # noqa: E501
        if 'jcrcontent_protocol_connect_timeout' in local_var_params and local_var_params['jcrcontent_protocol_connect_timeout'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolConnectTimeout', local_var_params['jcrcontent_protocol_connect_timeout']))  # noqa: E501
        if 'jcrcontent_protocol_http_connection_closed' in local_var_params and local_var_params['jcrcontent_protocol_http_connection_closed'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPConnectionClosed', local_var_params['jcrcontent_protocol_http_connection_closed']))  # noqa: E501
        if 'jcrcontent_protocol_http_expired' in local_var_params and local_var_params['jcrcontent_protocol_http_expired'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPExpired', local_var_params['jcrcontent_protocol_http_expired']))  # noqa: E501
        if 'jcrcontent_protocol_http_headers' in local_var_params and local_var_params['jcrcontent_protocol_http_headers'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPHeaders', local_var_params['jcrcontent_protocol_http_headers']))  # noqa: E501
            collection_formats['jcr:content/protocolHTTPHeaders'] = 'multi'  # noqa: E501
        if 'jcrcontent_protocol_http_headers_type_hint' in local_var_params and local_var_params['jcrcontent_protocol_http_headers_type_hint'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPHeaders@TypeHint', local_var_params['jcrcontent_protocol_http_headers_type_hint']))  # noqa: E501
        if 'jcrcontent_protocol_http_method' in local_var_params and local_var_params['jcrcontent_protocol_http_method'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPMethod', local_var_params['jcrcontent_protocol_http_method']))  # noqa: E501
        if 'jcrcontent_protocol_https_relaxed' in local_var_params and local_var_params['jcrcontent_protocol_https_relaxed'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolHTTPSRelaxed', local_var_params['jcrcontent_protocol_https_relaxed']))  # noqa: E501
        if 'jcrcontent_protocol_interface' in local_var_params and local_var_params['jcrcontent_protocol_interface'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolInterface', local_var_params['jcrcontent_protocol_interface']))  # noqa: E501
        if 'jcrcontent_protocol_socket_timeout' in local_var_params and local_var_params['jcrcontent_protocol_socket_timeout'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolSocketTimeout', local_var_params['jcrcontent_protocol_socket_timeout']))  # noqa: E501
        if 'jcrcontent_protocol_version' in local_var_params and local_var_params['jcrcontent_protocol_version'] is not None:  # noqa: E501
            query_params.append(('jcr:content/protocolVersion', local_var_params['jcrcontent_protocol_version']))  # noqa: E501
        if 'jcrcontent_proxy_ntlm_domain' in local_var_params and local_var_params['jcrcontent_proxy_ntlm_domain'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyNTLMDomain', local_var_params['jcrcontent_proxy_ntlm_domain']))  # noqa: E501
        if 'jcrcontent_proxy_ntlm_host' in local_var_params and local_var_params['jcrcontent_proxy_ntlm_host'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyNTLMHost', local_var_params['jcrcontent_proxy_ntlm_host']))  # noqa: E501
        if 'jcrcontent_proxy_host' in local_var_params and local_var_params['jcrcontent_proxy_host'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyHost', local_var_params['jcrcontent_proxy_host']))  # noqa: E501
        if 'jcrcontent_proxy_password' in local_var_params and local_var_params['jcrcontent_proxy_password'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyPassword', local_var_params['jcrcontent_proxy_password']))  # noqa: E501
        if 'jcrcontent_proxy_port' in local_var_params and local_var_params['jcrcontent_proxy_port'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyPort', local_var_params['jcrcontent_proxy_port']))  # noqa: E501
        if 'jcrcontent_proxy_user' in local_var_params and local_var_params['jcrcontent_proxy_user'] is not None:  # noqa: E501
            query_params.append(('jcr:content/proxyUser', local_var_params['jcrcontent_proxy_user']))  # noqa: E501
        if 'jcrcontent_queue_batch_max_size' in local_var_params and local_var_params['jcrcontent_queue_batch_max_size'] is not None:  # noqa: E501
            query_params.append(('jcr:content/queueBatchMaxSize', local_var_params['jcrcontent_queue_batch_max_size']))  # noqa: E501
        if 'jcrcontent_queue_batch_mode' in local_var_params and local_var_params['jcrcontent_queue_batch_mode'] is not None:  # noqa: E501
            query_params.append(('jcr:content/queueBatchMode', local_var_params['jcrcontent_queue_batch_mode']))  # noqa: E501
        if 'jcrcontent_queue_batch_wait_time' in local_var_params and local_var_params['jcrcontent_queue_batch_wait_time'] is not None:  # noqa: E501
            query_params.append(('jcr:content/queueBatchWaitTime', local_var_params['jcrcontent_queue_batch_wait_time']))  # noqa: E501
        if 'jcrcontent_retry_delay' in local_var_params and local_var_params['jcrcontent_retry_delay'] is not None:  # noqa: E501
            query_params.append(('jcr:content/retryDelay', local_var_params['jcrcontent_retry_delay']))  # noqa: E501
        if 'jcrcontent_reverse_replication' in local_var_params and local_var_params['jcrcontent_reverse_replication'] is not None:  # noqa: E501
            query_params.append(('jcr:content/reverseReplication', local_var_params['jcrcontent_reverse_replication']))  # noqa: E501
        if 'jcrcontent_serialization_type' in local_var_params and local_var_params['jcrcontent_serialization_type'] is not None:  # noqa: E501
            query_params.append(('jcr:content/serializationType', local_var_params['jcrcontent_serialization_type']))  # noqa: E501
        if 'jcrcontent_slingresource_type' in local_var_params and local_var_params['jcrcontent_slingresource_type'] is not None:  # noqa: E501
            query_params.append(('jcr:content/sling:resourceType', local_var_params['jcrcontent_slingresource_type']))  # noqa: E501
        if 'jcrcontent_ssl' in local_var_params and local_var_params['jcrcontent_ssl'] is not None:  # noqa: E501
            query_params.append(('jcr:content/ssl', local_var_params['jcrcontent_ssl']))  # noqa: E501
        if 'jcrcontent_transport_ntlm_domain' in local_var_params and local_var_params['jcrcontent_transport_ntlm_domain'] is not None:  # noqa: E501
            query_params.append(('jcr:content/transportNTLMDomain', local_var_params['jcrcontent_transport_ntlm_domain']))  # noqa: E501
        if 'jcrcontent_transport_ntlm_host' in local_var_params and local_var_params['jcrcontent_transport_ntlm_host'] is not None:  # noqa: E501
            query_params.append(('jcr:content/transportNTLMHost', local_var_params['jcrcontent_transport_ntlm_host']))  # noqa: E501
        if 'jcrcontent_transport_password' in local_var_params and local_var_params['jcrcontent_transport_password'] is not None:  # noqa: E501
            query_params.append(('jcr:content/transportPassword', local_var_params['jcrcontent_transport_password']))  # noqa: E501
        if 'jcrcontent_transport_uri' in local_var_params and local_var_params['jcrcontent_transport_uri'] is not None:  # noqa: E501
            query_params.append(('jcr:content/transportUri', local_var_params['jcrcontent_transport_uri']))  # noqa: E501
        if 'jcrcontent_transport_user' in local_var_params and local_var_params['jcrcontent_transport_user'] is not None:  # noqa: E501
            query_params.append(('jcr:content/transportUser', local_var_params['jcrcontent_transport_user']))  # noqa: E501
        if 'jcrcontent_trigger_distribute' in local_var_params and local_var_params['jcrcontent_trigger_distribute'] is not None:  # noqa: E501
            query_params.append(('jcr:content/triggerDistribute', local_var_params['jcrcontent_trigger_distribute']))  # noqa: E501
        if 'jcrcontent_trigger_modified' in local_var_params and local_var_params['jcrcontent_trigger_modified'] is not None:  # noqa: E501
            query_params.append(('jcr:content/triggerModified', local_var_params['jcrcontent_trigger_modified']))  # noqa: E501
        if 'jcrcontent_trigger_on_off_time' in local_var_params and local_var_params['jcrcontent_trigger_on_off_time'] is not None:  # noqa: E501
            query_params.append(('jcr:content/triggerOnOffTime', local_var_params['jcrcontent_trigger_on_off_time']))  # noqa: E501
        if 'jcrcontent_trigger_receive' in local_var_params and local_var_params['jcrcontent_trigger_receive'] is not None:  # noqa: E501
            query_params.append(('jcr:content/triggerReceive', local_var_params['jcrcontent_trigger_receive']))  # noqa: E501
        if 'jcrcontent_trigger_specific' in local_var_params and local_var_params['jcrcontent_trigger_specific'] is not None:  # noqa: E501
            query_params.append(('jcr:content/triggerSpecific', local_var_params['jcrcontent_trigger_specific']))  # noqa: E501
        if 'jcrcontent_user_id' in local_var_params and local_var_params['jcrcontent_user_id'] is not None:  # noqa: E501
            query_params.append(('jcr:content/userId', local_var_params['jcrcontent_user_id']))  # noqa: E501
        if 'jcrprimary_type' in local_var_params and local_var_params['jcrprimary_type'] is not None:  # noqa: E501
            query_params.append(('jcr:primaryType', local_var_params['jcrprimary_type']))  # noqa: E501
        if 'operation' in local_var_params and local_var_params['operation'] is not None:  # noqa: E501
            query_params.append((':operation', local_var_params['operation']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/etc/replication/agents.{runmode}/{name}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_authorizable_keystore(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """post_authorizable_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_authorizable_keystore(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param str operation:
        :param str current_password:
        :param str new_password:
        :param str re_password:
        :param str key_password:
        :param str key_store_pass:
        :param str alias:
        :param str new_alias:
        :param str remove_alias:
        :param file cert_chain:
        :param file pk:
        :param file key_store:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: KeystoreInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.post_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, **kwargs)  # noqa: E501

    def post_authorizable_keystore_with_http_info(self, intermediate_path, authorizable_id, **kwargs):  # noqa: E501
        """post_authorizable_keystore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str intermediate_path: (required)
        :param str authorizable_id: (required)
        :param str operation:
        :param str current_password:
        :param str new_password:
        :param str re_password:
        :param str key_password:
        :param str key_store_pass:
        :param str alias:
        :param str new_alias:
        :param str remove_alias:
        :param file cert_chain:
        :param file pk:
        :param file key_store:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(KeystoreInfo, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'intermediate_path',
            'authorizable_id',
            'operation',
            'current_password',
            'new_password',
            're_password',
            'key_password',
            'key_store_pass',
            'alias',
            'new_alias',
            'remove_alias',
            'cert_chain',
            'pk',
            'key_store'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_authorizable_keystore" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'intermediate_path' is set
        if self.api_client.client_side_validation and ('intermediate_path' not in local_var_params or  # noqa: E501
                                                        local_var_params['intermediate_path'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `intermediate_path` when calling `post_authorizable_keystore`")  # noqa: E501
        # verify the required parameter 'authorizable_id' is set
        if self.api_client.client_side_validation and ('authorizable_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['authorizable_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `authorizable_id` when calling `post_authorizable_keystore`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'intermediate_path' in local_var_params:
            path_params['intermediatePath'] = local_var_params['intermediate_path']  # noqa: E501
        if 'authorizable_id' in local_var_params:
            path_params['authorizableId'] = local_var_params['authorizable_id']  # noqa: E501

        query_params = []
        if 'operation' in local_var_params and local_var_params['operation'] is not None:  # noqa: E501
            query_params.append((':operation', local_var_params['operation']))  # noqa: E501
        if 'current_password' in local_var_params and local_var_params['current_password'] is not None:  # noqa: E501
            query_params.append(('currentPassword', local_var_params['current_password']))  # noqa: E501
        if 'new_password' in local_var_params and local_var_params['new_password'] is not None:  # noqa: E501
            query_params.append(('newPassword', local_var_params['new_password']))  # noqa: E501
        if 're_password' in local_var_params and local_var_params['re_password'] is not None:  # noqa: E501
            query_params.append(('rePassword', local_var_params['re_password']))  # noqa: E501
        if 'key_password' in local_var_params and local_var_params['key_password'] is not None:  # noqa: E501
            query_params.append(('keyPassword', local_var_params['key_password']))  # noqa: E501
        if 'key_store_pass' in local_var_params and local_var_params['key_store_pass'] is not None:  # noqa: E501
            query_params.append(('keyStorePass', local_var_params['key_store_pass']))  # noqa: E501
        if 'alias' in local_var_params and local_var_params['alias'] is not None:  # noqa: E501
            query_params.append(('alias', local_var_params['alias']))  # noqa: E501
        if 'new_alias' in local_var_params and local_var_params['new_alias'] is not None:  # noqa: E501
            query_params.append(('newAlias', local_var_params['new_alias']))  # noqa: E501
        if 'remove_alias' in local_var_params and local_var_params['remove_alias'] is not None:  # noqa: E501
            query_params.append(('removeAlias', local_var_params['remove_alias']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'cert_chain' in local_var_params:
            local_var_files['cert-chain'] = local_var_params['cert_chain']  # noqa: E501
        if 'pk' in local_var_params:
            local_var_files['pk'] = local_var_params['pk']  # noqa: E501
        if 'key_store' in local_var_params:
            local_var_files['keyStore'] = local_var_params['key_store']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['aemAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{intermediatePath}/{authorizableId}.ks.html', 'POST',
[...]
