/** Adobe Experience Manager (AEM) API
  * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
  *
  * The version of the OpenAPI document: 3.7.1-pre.0
  * Contact: opensource@shinesolutions.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.*

trait CqApiEndpoints[F[*]] {

  def getLoginPage(): F[String]
  def postCqActions(authorizableId: String, changelog: String)(using auth: _Authorization.Basic): F[Unit]

}

class CqApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with CqApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def getLoginPage(): F[String] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, String](
      method = "GET",
      path = s"/libs/granite/core/content/login.html",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = None) {
        r => parseJson[F, String]("String", r)
    }
  }

  override def postCqActions(authorizableId: String, changelog: String)(using auth: _Authorization.Basic): F[Unit] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      Some(Seq("authorizableId" -> authorizableId)) ++ 
      Some(Seq("changelog" -> changelog))
    ).toSeq.flatten

    _executeRequest[Unit, Unit](
      method = "POST",
      path = s"/.cqactions.html",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        r => Concurrent[F].pure(())
    }
  }

}


