/** Adobe Experience Manager (AEM) API
  * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
  *
  * The version of the OpenAPI document: 3.7.1-pre.0
  * Contact: opensource@shinesolutions.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import java.io.File
import org.openapitools.client.models.*

trait GraniteApiEndpoints[F[*]] {

  def sslSetup(keystorePassword: String, keystorePasswordConfirm: String, truststorePassword: String, truststorePasswordConfirm: String, httpsHostname: String, httpsPort: String, privatekeyFile: Option[File] = None, certificateFile: Option[File] = None)(using auth: _Authorization.Basic): F[String]

}

class GraniteApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with GraniteApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def sslSetup(keystorePassword: String, keystorePasswordConfirm: String, truststorePassword: String, truststorePasswordConfirm: String, httpsHostname: String, httpsPort: String, privatekeyFile: Option[File] = None, certificateFile: Option[File] = None)(using auth: _Authorization.Basic): F[String] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "multipart/form-data")
    ).flatten
    val formParameters = Some((
      privatekeyFile.map("privatekeyFile" -> _).map(Seq(_)) ++ 
      certificateFile.map("certificateFile" -> _).map(Seq(_))
    ).toSeq.flatten)
    val queryParameters = (
      Some(Seq("keystorePassword" -> keystorePassword)) ++ 
      Some(Seq("keystorePasswordConfirm" -> keystorePasswordConfirm)) ++ 
      Some(Seq("truststorePassword" -> truststorePassword)) ++ 
      Some(Seq("truststorePasswordConfirm" -> truststorePasswordConfirm)) ++ 
      Some(Seq("httpsHostname" -> httpsHostname)) ++ 
      Some(Seq("httpsPort" -> httpsPort))
    ).toSeq.flatten

    _executeRequest[Unit, String](
      method = "POST",
      path = s"/libs/granite/security/post/sslSetup.html",
      body = None,
      formParameters = formParameters,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        r => parseJson[F, String]("String", r)
    }
  }

}


