/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import java.io.File;
import org.openapitools.server.model.InstallStatus;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Adobe Experience Manager (AEM) API
 *
 * <p>Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/crx")
public interface CrxApi  {

    @GET
    @Path("/server/crx.default/jcr:root/.1.json")
    @Produces({ "plain/text" })
    String getCrxdeStatus() throws ApiException, ProcessingException;

    @GET
    @Path("/packmgr/installstatus.jsp")
    @Produces({ "application/json" })
    InstallStatus getInstallStatus() throws ApiException, ProcessingException;

    @GET
    @Path("/packmgr/service/script.html")
    @Produces({ "text/html" })
    void getPackageManagerServlet() throws ApiException, ProcessingException;

    @POST
    @Path("/packmgr/service.jsp")
    @Produces({ "text/xml" })
    String postPackageService(@QueryParam("cmd") String cmd) throws ApiException, ProcessingException;

    @POST
    @Path("/packmgr/service/.json/{path}")
    @Consumes({ "multipart/form-data" })
    @Produces({ "application/json" })
    String postPackageServiceJson(@PathParam("path") String path, @QueryParam("cmd") String cmd, @QueryParam("groupName") String groupName, @QueryParam("packageName") String packageName, @QueryParam("packageVersion") String packageVersion, @QueryParam("_charset_") String charset, @QueryParam("force") Boolean force, @QueryParam("recursive") Boolean recursive,  @FormParam("package") File _packageDetail) throws ApiException, ProcessingException;

    @POST
    @Path("/packmgr/update.jsp")
    @Produces({ "application/json" })
    String postPackageUpdate(@QueryParam("groupName") String groupName, @QueryParam("packageName") String packageName, @QueryParam("version") String version, @QueryParam("path") String path, @QueryParam("filter") String filter, @QueryParam("_charset_") String charset) throws ApiException, ProcessingException;

    @POST
    @Path("/explorer/ui/setpassword.jsp")
    @Produces({ "text/plain" })
    String postSetPassword(@QueryParam("old") String old, @QueryParam("plain") String plain, @QueryParam("verify") String verify) throws ApiException, ProcessingException;
}
