/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;


import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Adobe Experience Manager (AEM) API
 *
 * <p>Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface CustomApi  {

    @GET
    @Path("/system/health")
    @Produces({ "application/json" })
    String getAemHealthCheck(@QueryParam("tags") String tags, @QueryParam("combineTagsOr") Boolean combineTagsOr) throws ApiException, ProcessingException;

    @POST
    @Path("/apps/system/config/com.shinesolutions.healthcheck.hc.impl.ActiveBundleHealthCheck")
    void postConfigAemHealthCheckServlet(@QueryParam("bundles.ignored") List<String> bundlesIgnored, @QueryParam("bundles.ignored@TypeHint") String bundlesIgnoredAtTypeHint) throws ApiException, ProcessingException;

    @POST
    @Path("/apps/system/config/com.shinesolutions.aem.passwordreset.Activator")
    void postConfigAemPasswordReset(@QueryParam("pwdreset.authorizables") List<String> pwdresetAuthorizables, @QueryParam("pwdreset.authorizables@TypeHint") String pwdresetAuthorizablesAtTypeHint) throws ApiException, ProcessingException;
}
