/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import java.io.File;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Adobe Experience Manager (AEM) API
 *
 * <p>Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/libs/granite/security/post/sslSetup.html")
public interface GraniteApi  {

    @POST
    
    @Consumes({ "multipart/form-data" })
    @Produces({ "text/plain" })
    String sslSetup(@QueryParam("keystorePassword") String keystorePassword, @QueryParam("keystorePasswordConfirm") String keystorePasswordConfirm, @QueryParam("truststorePassword") String truststorePassword, @QueryParam("truststorePasswordConfirm") String truststorePasswordConfirm, @QueryParam("httpsHostname") String httpsHostname, @QueryParam("httpsPort") String httpsPort,  @FormParam("privatekeyFile") File privatekeyFileDetail,  @FormParam("certificateFile") File certificateFileDetail) throws ApiException, ProcessingException;
}
