=begin
#Adobe Experience Manager (AEM) API

#Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API

OpenAPI spec version: 3.0.0
Contact: opensource@shinesolutions.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.2.1-SNAPSHOT

=end

require 'uri'

module SwaggerAemClient
  class SlingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_agent(runmode, name, opts = {})
      delete_agent_with_http_info(runmode, name, opts)
      nil
    end

    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_agent_with_http_info(runmode, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.delete_agent ...'
      end
      # verify the required parameter 'runmode' is set
      if @api_client.config.client_side_validation && runmode.nil?
        fail ArgumentError, "Missing the required parameter 'runmode' when calling SlingApi.delete_agent"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.delete_agent"
      end
      # resource path
      local_var_path = '/etc/replication/agents.{runmode}/{name}'.sub('{' + 'runmode' + '}', runmode.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#delete_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_node(path, name, opts = {})
      delete_node_with_http_info(path, name, opts)
      nil
    end

    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_node_with_http_info(path, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.delete_node ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.delete_node"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.delete_node"
      end
      # resource path
      local_var_path = '/{path}/{name}'.sub('{' + 'path' + '}', path.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#delete_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_agent(runmode, name, opts = {})
      get_agent_with_http_info(runmode, name, opts)
      nil
    end

    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_agent_with_http_info(runmode, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_agent ...'
      end
      # verify the required parameter 'runmode' is set
      if @api_client.config.client_side_validation && runmode.nil?
        fail ArgumentError, "Missing the required parameter 'runmode' when calling SlingApi.get_agent"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.get_agent"
      end
      # resource path
      local_var_path = '/etc/replication/agents.{runmode}/{name}'.sub('{' + 'runmode' + '}', runmode.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param runmode 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_agents(runmode, opts = {})
      data, _status_code, _headers = get_agents_with_http_info(runmode, opts)
      data
    end

    # @param runmode 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def get_agents_with_http_info(runmode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_agents ...'
      end
      # verify the required parameter 'runmode' is set
      if @api_client.config.client_side_validation && runmode.nil?
        fail ArgumentError, "Missing the required parameter 'runmode' when calling SlingApi.get_agents"
      end
      # resource path
      local_var_path = '/etc/replication/agents.{runmode}.-1.json'.sub('{' + 'runmode' + '}', runmode.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @return [KeystoreInfo]
    def get_authorizable_keystore(intermediate_path, authorizable_id, opts = {})
      data, _status_code, _headers = get_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, opts)
      data
    end

    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeystoreInfo, Fixnum, Hash)>] KeystoreInfo data, response status code and response headers
    def get_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_authorizable_keystore ...'
      end
      # verify the required parameter 'intermediate_path' is set
      if @api_client.config.client_side_validation && intermediate_path.nil?
        fail ArgumentError, "Missing the required parameter 'intermediate_path' when calling SlingApi.get_authorizable_keystore"
      end
      # verify the required parameter 'authorizable_id' is set
      if @api_client.config.client_side_validation && authorizable_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorizable_id' when calling SlingApi.get_authorizable_keystore"
      end
      # resource path
      local_var_path = '/{intermediatePath}/{authorizableId}.ks.json'.sub('{' + 'intermediatePath' + '}', intermediate_path.to_s).sub('{' + 'authorizableId' + '}', authorizable_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeystoreInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_authorizable_keystore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_keystore(intermediate_path, authorizable_id, opts = {})
      data, _status_code, _headers = get_keystore_with_http_info(intermediate_path, authorizable_id, opts)
      data
    end

    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def get_keystore_with_http_info(intermediate_path, authorizable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_keystore ...'
      end
      # verify the required parameter 'intermediate_path' is set
      if @api_client.config.client_side_validation && intermediate_path.nil?
        fail ArgumentError, "Missing the required parameter 'intermediate_path' when calling SlingApi.get_keystore"
      end
      # verify the required parameter 'authorizable_id' is set
      if @api_client.config.client_side_validation && authorizable_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorizable_id' when calling SlingApi.get_keystore"
      end
      # resource path
      local_var_path = '/{intermediatePath}/{authorizableId}/keystore/store.p12'.sub('{' + 'intermediatePath' + '}', intermediate_path.to_s).sub('{' + 'authorizableId' + '}', authorizable_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_keystore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_node(path, name, opts = {})
      get_node_with_http_info(path, name, opts)
      nil
    end

    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_node_with_http_info(path, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_node ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.get_node"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.get_node"
      end
      # resource path
      local_var_path = '/{path}/{name}'.sub('{' + 'path' + '}', path.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param group 
    # @param name 
    # @param version 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_package(group, name, version, opts = {})
      data, _status_code, _headers = get_package_with_http_info(group, name, version, opts)
      data
    end

    # @param group 
    # @param name 
    # @param version 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def get_package_with_http_info(group, name, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_package ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling SlingApi.get_package"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.get_package"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SlingApi.get_package"
      end
      # resource path
      local_var_path = '/etc/packages/{group}/{name}-{version}.zip'.sub('{' + 'group' + '}', group.to_s).sub('{' + 'name' + '}', name.to_s).sub('{' + 'version' + '}', version.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param group 
    # @param name 
    # @param version 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_package_filter(group, name, version, opts = {})
      data, _status_code, _headers = get_package_filter_with_http_info(group, name, version, opts)
      data
    end

    # @param group 
    # @param name 
    # @param version 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def get_package_filter_with_http_info(group, name, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_package_filter ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling SlingApi.get_package_filter"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.get_package_filter"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SlingApi.get_package_filter"
      end
      # resource path
      local_var_path = '/etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json'.sub('{' + 'group' + '}', group.to_s).sub('{' + 'name' + '}', name.to_s).sub('{' + 'version' + '}', version.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_package_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param p_limit 
    # @param _1_property 
    # @param _1_property_value 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_query(path, p_limit, _1_property, _1_property_value, opts = {})
      data, _status_code, _headers = get_query_with_http_info(path, p_limit, _1_property, _1_property_value, opts)
      data
    end

    # @param path 
    # @param p_limit 
    # @param _1_property 
    # @param _1_property_value 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def get_query_with_http_info(path, p_limit, _1_property, _1_property_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_query ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.get_query"
      end
      # verify the required parameter 'p_limit' is set
      if @api_client.config.client_side_validation && p_limit.nil?
        fail ArgumentError, "Missing the required parameter 'p_limit' when calling SlingApi.get_query"
      end
      # verify the required parameter '_1_property' is set
      if @api_client.config.client_side_validation && _1_property.nil?
        fail ArgumentError, "Missing the required parameter '_1_property' when calling SlingApi.get_query"
      end
      # verify the required parameter '_1_property_value' is set
      if @api_client.config.client_side_validation && _1_property_value.nil?
        fail ArgumentError, "Missing the required parameter '_1_property_value' when calling SlingApi.get_query"
      end
      # resource path
      local_var_path = '/bin/querybuilder.json'

      # query parameters
      query_params = {}
      query_params[:'path'] = path
      query_params[:'p.limit'] = p_limit
      query_params[:'1_property'] = _1_property
      query_params[:'1_property.value'] = _1_property_value

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_truststore(opts = {})
      data, _status_code, _headers = get_truststore_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def get_truststore_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_truststore ...'
      end
      # resource path
      local_var_path = '/etc/truststore/truststore.p12'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_truststore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [TruststoreInfo]
    def get_truststore_info(opts = {})
      data, _status_code, _headers = get_truststore_info_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(TruststoreInfo, Fixnum, Hash)>] TruststoreInfo data, response status code and response headers
    def get_truststore_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.get_truststore_info ...'
      end
      # resource path
      local_var_path = '/libs/granite/security/truststore.json'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TruststoreInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#get_truststore_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :jcrcontentcqdistribute 
    # @option opts [String] :jcrcontentcqdistribute_type_hint 
    # @option opts [String] :jcrcontentcqname 
    # @option opts [String] :jcrcontentcqtemplate 
    # @option opts [BOOLEAN] :jcrcontentenabled 
    # @option opts [String] :jcrcontentjcrdescription 
    # @option opts [String] :jcrcontentjcrlast_modified 
    # @option opts [String] :jcrcontentjcrlast_modified_by 
    # @option opts [String] :jcrcontentjcrmixin_types 
    # @option opts [String] :jcrcontentjcrtitle 
    # @option opts [String] :jcrcontentlog_level 
    # @option opts [BOOLEAN] :jcrcontentno_status_update 
    # @option opts [BOOLEAN] :jcrcontentno_versioning 
    # @option opts [Float] :jcrcontentprotocol_connect_timeout 
    # @option opts [BOOLEAN] :jcrcontentprotocol_http_connection_closed 
    # @option opts [String] :jcrcontentprotocol_http_expired 
    # @option opts [Array<String>] :jcrcontentprotocol_http_headers 
    # @option opts [String] :jcrcontentprotocol_http_headers_type_hint 
    # @option opts [String] :jcrcontentprotocol_http_method 
    # @option opts [BOOLEAN] :jcrcontentprotocol_https_relaxed 
    # @option opts [String] :jcrcontentprotocol_interface 
    # @option opts [Float] :jcrcontentprotocol_socket_timeout 
    # @option opts [String] :jcrcontentprotocol_version 
    # @option opts [String] :jcrcontentproxy_ntlm_domain 
    # @option opts [String] :jcrcontentproxy_ntlm_host 
    # @option opts [String] :jcrcontentproxy_host 
    # @option opts [String] :jcrcontentproxy_password 
    # @option opts [Float] :jcrcontentproxy_port 
    # @option opts [String] :jcrcontentproxy_user 
    # @option opts [Float] :jcrcontentqueue_batch_max_size 
    # @option opts [String] :jcrcontentqueue_batch_mode 
    # @option opts [Float] :jcrcontentqueue_batch_wait_time 
    # @option opts [String] :jcrcontentretry_delay 
    # @option opts [BOOLEAN] :jcrcontentreverse_replication 
    # @option opts [String] :jcrcontentserialization_type 
    # @option opts [String] :jcrcontentslingresource_type 
    # @option opts [String] :jcrcontentssl 
    # @option opts [String] :jcrcontenttransport_ntlm_domain 
    # @option opts [String] :jcrcontenttransport_ntlm_host 
    # @option opts [String] :jcrcontenttransport_password 
    # @option opts [String] :jcrcontenttransport_uri 
    # @option opts [String] :jcrcontenttransport_user 
    # @option opts [BOOLEAN] :jcrcontenttrigger_distribute 
    # @option opts [BOOLEAN] :jcrcontenttrigger_modified 
    # @option opts [BOOLEAN] :jcrcontenttrigger_on_off_time 
    # @option opts [BOOLEAN] :jcrcontenttrigger_receive 
    # @option opts [BOOLEAN] :jcrcontenttrigger_specific 
    # @option opts [String] :jcrcontentuser_id 
    # @option opts [String] :jcrprimary_type 
    # @option opts [String] :operation 
    # @return [nil]
    def post_agent(runmode, name, opts = {})
      post_agent_with_http_info(runmode, name, opts)
      nil
    end

    # @param runmode 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :jcrcontentcqdistribute 
    # @option opts [String] :jcrcontentcqdistribute_type_hint 
    # @option opts [String] :jcrcontentcqname 
    # @option opts [String] :jcrcontentcqtemplate 
    # @option opts [BOOLEAN] :jcrcontentenabled 
    # @option opts [String] :jcrcontentjcrdescription 
    # @option opts [String] :jcrcontentjcrlast_modified 
    # @option opts [String] :jcrcontentjcrlast_modified_by 
    # @option opts [String] :jcrcontentjcrmixin_types 
    # @option opts [String] :jcrcontentjcrtitle 
    # @option opts [String] :jcrcontentlog_level 
    # @option opts [BOOLEAN] :jcrcontentno_status_update 
    # @option opts [BOOLEAN] :jcrcontentno_versioning 
    # @option opts [Float] :jcrcontentprotocol_connect_timeout 
    # @option opts [BOOLEAN] :jcrcontentprotocol_http_connection_closed 
    # @option opts [String] :jcrcontentprotocol_http_expired 
    # @option opts [Array<String>] :jcrcontentprotocol_http_headers 
    # @option opts [String] :jcrcontentprotocol_http_headers_type_hint 
    # @option opts [String] :jcrcontentprotocol_http_method 
    # @option opts [BOOLEAN] :jcrcontentprotocol_https_relaxed 
    # @option opts [String] :jcrcontentprotocol_interface 
    # @option opts [Float] :jcrcontentprotocol_socket_timeout 
    # @option opts [String] :jcrcontentprotocol_version 
    # @option opts [String] :jcrcontentproxy_ntlm_domain 
    # @option opts [String] :jcrcontentproxy_ntlm_host 
    # @option opts [String] :jcrcontentproxy_host 
    # @option opts [String] :jcrcontentproxy_password 
    # @option opts [Float] :jcrcontentproxy_port 
    # @option opts [String] :jcrcontentproxy_user 
    # @option opts [Float] :jcrcontentqueue_batch_max_size 
    # @option opts [String] :jcrcontentqueue_batch_mode 
    # @option opts [Float] :jcrcontentqueue_batch_wait_time 
    # @option opts [String] :jcrcontentretry_delay 
    # @option opts [BOOLEAN] :jcrcontentreverse_replication 
    # @option opts [String] :jcrcontentserialization_type 
    # @option opts [String] :jcrcontentslingresource_type 
    # @option opts [String] :jcrcontentssl 
    # @option opts [String] :jcrcontenttransport_ntlm_domain 
    # @option opts [String] :jcrcontenttransport_ntlm_host 
    # @option opts [String] :jcrcontenttransport_password 
    # @option opts [String] :jcrcontenttransport_uri 
    # @option opts [String] :jcrcontenttransport_user 
    # @option opts [BOOLEAN] :jcrcontenttrigger_distribute 
    # @option opts [BOOLEAN] :jcrcontenttrigger_modified 
    # @option opts [BOOLEAN] :jcrcontenttrigger_on_off_time 
    # @option opts [BOOLEAN] :jcrcontenttrigger_receive 
    # @option opts [BOOLEAN] :jcrcontenttrigger_specific 
    # @option opts [String] :jcrcontentuser_id 
    # @option opts [String] :jcrprimary_type 
    # @option opts [String] :operation 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_agent_with_http_info(runmode, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_agent ...'
      end
      # verify the required parameter 'runmode' is set
      if @api_client.config.client_side_validation && runmode.nil?
        fail ArgumentError, "Missing the required parameter 'runmode' when calling SlingApi.post_agent"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.post_agent"
      end
      # resource path
      local_var_path = '/etc/replication/agents.{runmode}/{name}'.sub('{' + 'runmode' + '}', runmode.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}
      query_params[:'jcr:content/cq:distribute'] = opts[:'jcrcontentcqdistribute'] if !opts[:'jcrcontentcqdistribute'].nil?
      query_params[:'jcr:content/cq:distribute@TypeHint'] = opts[:'jcrcontentcqdistribute_type_hint'] if !opts[:'jcrcontentcqdistribute_type_hint'].nil?
      query_params[:'jcr:content/cq:name'] = opts[:'jcrcontentcqname'] if !opts[:'jcrcontentcqname'].nil?
      query_params[:'jcr:content/cq:template'] = opts[:'jcrcontentcqtemplate'] if !opts[:'jcrcontentcqtemplate'].nil?
      query_params[:'jcr:content/enabled'] = opts[:'jcrcontentenabled'] if !opts[:'jcrcontentenabled'].nil?
      query_params[:'jcr:content/jcr:description'] = opts[:'jcrcontentjcrdescription'] if !opts[:'jcrcontentjcrdescription'].nil?
      query_params[:'jcr:content/jcr:lastModified'] = opts[:'jcrcontentjcrlast_modified'] if !opts[:'jcrcontentjcrlast_modified'].nil?
      query_params[:'jcr:content/jcr:lastModifiedBy'] = opts[:'jcrcontentjcrlast_modified_by'] if !opts[:'jcrcontentjcrlast_modified_by'].nil?
      query_params[:'jcr:content/jcr:mixinTypes'] = opts[:'jcrcontentjcrmixin_types'] if !opts[:'jcrcontentjcrmixin_types'].nil?
      query_params[:'jcr:content/jcr:title'] = opts[:'jcrcontentjcrtitle'] if !opts[:'jcrcontentjcrtitle'].nil?
      query_params[:'jcr:content/logLevel'] = opts[:'jcrcontentlog_level'] if !opts[:'jcrcontentlog_level'].nil?
      query_params[:'jcr:content/noStatusUpdate'] = opts[:'jcrcontentno_status_update'] if !opts[:'jcrcontentno_status_update'].nil?
      query_params[:'jcr:content/noVersioning'] = opts[:'jcrcontentno_versioning'] if !opts[:'jcrcontentno_versioning'].nil?
      query_params[:'jcr:content/protocolConnectTimeout'] = opts[:'jcrcontentprotocol_connect_timeout'] if !opts[:'jcrcontentprotocol_connect_timeout'].nil?
      query_params[:'jcr:content/protocolHTTPConnectionClosed'] = opts[:'jcrcontentprotocol_http_connection_closed'] if !opts[:'jcrcontentprotocol_http_connection_closed'].nil?
      query_params[:'jcr:content/protocolHTTPExpired'] = opts[:'jcrcontentprotocol_http_expired'] if !opts[:'jcrcontentprotocol_http_expired'].nil?
      query_params[:'jcr:content/protocolHTTPHeaders'] = @api_client.build_collection_param(opts[:'jcrcontentprotocol_http_headers'], :multi) if !opts[:'jcrcontentprotocol_http_headers'].nil?
      query_params[:'jcr:content/protocolHTTPHeaders@TypeHint'] = opts[:'jcrcontentprotocol_http_headers_type_hint'] if !opts[:'jcrcontentprotocol_http_headers_type_hint'].nil?
      query_params[:'jcr:content/protocolHTTPMethod'] = opts[:'jcrcontentprotocol_http_method'] if !opts[:'jcrcontentprotocol_http_method'].nil?
      query_params[:'jcr:content/protocolHTTPSRelaxed'] = opts[:'jcrcontentprotocol_https_relaxed'] if !opts[:'jcrcontentprotocol_https_relaxed'].nil?
      query_params[:'jcr:content/protocolInterface'] = opts[:'jcrcontentprotocol_interface'] if !opts[:'jcrcontentprotocol_interface'].nil?
      query_params[:'jcr:content/protocolSocketTimeout'] = opts[:'jcrcontentprotocol_socket_timeout'] if !opts[:'jcrcontentprotocol_socket_timeout'].nil?
      query_params[:'jcr:content/protocolVersion'] = opts[:'jcrcontentprotocol_version'] if !opts[:'jcrcontentprotocol_version'].nil?
      query_params[:'jcr:content/proxyNTLMDomain'] = opts[:'jcrcontentproxy_ntlm_domain'] if !opts[:'jcrcontentproxy_ntlm_domain'].nil?
      query_params[:'jcr:content/proxyNTLMHost'] = opts[:'jcrcontentproxy_ntlm_host'] if !opts[:'jcrcontentproxy_ntlm_host'].nil?
      query_params[:'jcr:content/proxyHost'] = opts[:'jcrcontentproxy_host'] if !opts[:'jcrcontentproxy_host'].nil?
      query_params[:'jcr:content/proxyPassword'] = opts[:'jcrcontentproxy_password'] if !opts[:'jcrcontentproxy_password'].nil?
      query_params[:'jcr:content/proxyPort'] = opts[:'jcrcontentproxy_port'] if !opts[:'jcrcontentproxy_port'].nil?
      query_params[:'jcr:content/proxyUser'] = opts[:'jcrcontentproxy_user'] if !opts[:'jcrcontentproxy_user'].nil?
      query_params[:'jcr:content/queueBatchMaxSize'] = opts[:'jcrcontentqueue_batch_max_size'] if !opts[:'jcrcontentqueue_batch_max_size'].nil?
      query_params[:'jcr:content/queueBatchMode'] = opts[:'jcrcontentqueue_batch_mode'] if !opts[:'jcrcontentqueue_batch_mode'].nil?
      query_params[:'jcr:content/queueBatchWaitTime'] = opts[:'jcrcontentqueue_batch_wait_time'] if !opts[:'jcrcontentqueue_batch_wait_time'].nil?
      query_params[:'jcr:content/retryDelay'] = opts[:'jcrcontentretry_delay'] if !opts[:'jcrcontentretry_delay'].nil?
      query_params[:'jcr:content/reverseReplication'] = opts[:'jcrcontentreverse_replication'] if !opts[:'jcrcontentreverse_replication'].nil?
      query_params[:'jcr:content/serializationType'] = opts[:'jcrcontentserialization_type'] if !opts[:'jcrcontentserialization_type'].nil?
      query_params[:'jcr:content/sling:resourceType'] = opts[:'jcrcontentslingresource_type'] if !opts[:'jcrcontentslingresource_type'].nil?
      query_params[:'jcr:content/ssl'] = opts[:'jcrcontentssl'] if !opts[:'jcrcontentssl'].nil?
      query_params[:'jcr:content/transportNTLMDomain'] = opts[:'jcrcontenttransport_ntlm_domain'] if !opts[:'jcrcontenttransport_ntlm_domain'].nil?
      query_params[:'jcr:content/transportNTLMHost'] = opts[:'jcrcontenttransport_ntlm_host'] if !opts[:'jcrcontenttransport_ntlm_host'].nil?
      query_params[:'jcr:content/transportPassword'] = opts[:'jcrcontenttransport_password'] if !opts[:'jcrcontenttransport_password'].nil?
      query_params[:'jcr:content/transportUri'] = opts[:'jcrcontenttransport_uri'] if !opts[:'jcrcontenttransport_uri'].nil?
      query_params[:'jcr:content/transportUser'] = opts[:'jcrcontenttransport_user'] if !opts[:'jcrcontenttransport_user'].nil?
      query_params[:'jcr:content/triggerDistribute'] = opts[:'jcrcontenttrigger_distribute'] if !opts[:'jcrcontenttrigger_distribute'].nil?
      query_params[:'jcr:content/triggerModified'] = opts[:'jcrcontenttrigger_modified'] if !opts[:'jcrcontenttrigger_modified'].nil?
      query_params[:'jcr:content/triggerOnOffTime'] = opts[:'jcrcontenttrigger_on_off_time'] if !opts[:'jcrcontenttrigger_on_off_time'].nil?
      query_params[:'jcr:content/triggerReceive'] = opts[:'jcrcontenttrigger_receive'] if !opts[:'jcrcontenttrigger_receive'].nil?
      query_params[:'jcr:content/triggerSpecific'] = opts[:'jcrcontenttrigger_specific'] if !opts[:'jcrcontenttrigger_specific'].nil?
      query_params[:'jcr:content/userId'] = opts[:'jcrcontentuser_id'] if !opts[:'jcrcontentuser_id'].nil?
      query_params[:'jcr:primaryType'] = opts[:'jcrprimary_type'] if !opts[:'jcrprimary_type'].nil?
      query_params[:':operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :current_password 
    # @option opts [String] :new_password 
    # @option opts [String] :re_password 
    # @option opts [String] :key_password 
    # @option opts [String] :key_store_pass 
    # @option opts [String] :_alias 
    # @option opts [String] :new_alias 
    # @option opts [String] :remove_alias 
    # @option opts [File] :cert_chain 
    # @option opts [File] :pk 
    # @option opts [File] :key_store 
    # @return [KeystoreInfo]
    def post_authorizable_keystore(intermediate_path, authorizable_id, opts = {})
      data, _status_code, _headers = post_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, opts)
      data
    end

    # @param intermediate_path 
    # @param authorizable_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :current_password 
    # @option opts [String] :new_password 
    # @option opts [String] :re_password 
    # @option opts [String] :key_password 
    # @option opts [String] :key_store_pass 
    # @option opts [String] :_alias 
    # @option opts [String] :new_alias 
    # @option opts [String] :remove_alias 
    # @option opts [File] :cert_chain 
    # @option opts [File] :pk 
    # @option opts [File] :key_store 
    # @return [Array<(KeystoreInfo, Fixnum, Hash)>] KeystoreInfo data, response status code and response headers
    def post_authorizable_keystore_with_http_info(intermediate_path, authorizable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_authorizable_keystore ...'
      end
      # verify the required parameter 'intermediate_path' is set
      if @api_client.config.client_side_validation && intermediate_path.nil?
        fail ArgumentError, "Missing the required parameter 'intermediate_path' when calling SlingApi.post_authorizable_keystore"
      end
      # verify the required parameter 'authorizable_id' is set
      if @api_client.config.client_side_validation && authorizable_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorizable_id' when calling SlingApi.post_authorizable_keystore"
      end
      # resource path
      local_var_path = '/{intermediatePath}/{authorizableId}.ks.html'.sub('{' + 'intermediatePath' + '}', intermediate_path.to_s).sub('{' + 'authorizableId' + '}', authorizable_id.to_s)

      # query parameters
      query_params = {}
      query_params[:':operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'currentPassword'] = opts[:'current_password'] if !opts[:'current_password'].nil?
      query_params[:'newPassword'] = opts[:'new_password'] if !opts[:'new_password'].nil?
      query_params[:'rePassword'] = opts[:'re_password'] if !opts[:'re_password'].nil?
      query_params[:'keyPassword'] = opts[:'key_password'] if !opts[:'key_password'].nil?
      query_params[:'keyStorePass'] = opts[:'key_store_pass'] if !opts[:'key_store_pass'].nil?
      query_params[:'alias'] = opts[:'_alias'] if !opts[:'_alias'].nil?
      query_params[:'newAlias'] = opts[:'new_alias'] if !opts[:'new_alias'].nil?
      query_params[:'removeAlias'] = opts[:'remove_alias'] if !opts[:'remove_alias'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['cert-chain'] = opts[:'cert_chain'] if !opts[:'cert_chain'].nil?
      form_params['pk'] = opts[:'pk'] if !opts[:'pk'].nil?
      form_params['keyStore'] = opts[:'key_store'] if !opts[:'key_store'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeystoreInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_authorizable_keystore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param authorizable_id 
    # @param intermediate_path 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :create_user 
    # @option opts [String] :create_group 
    # @option opts [String] :reppassword 
    # @option opts [String] :profilegiven_name 
    # @return [String]
    def post_authorizables(authorizable_id, intermediate_path, opts = {})
      data, _status_code, _headers = post_authorizables_with_http_info(authorizable_id, intermediate_path, opts)
      data
    end

    # @param authorizable_id 
    # @param intermediate_path 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :create_user 
    # @option opts [String] :create_group 
    # @option opts [String] :reppassword 
    # @option opts [String] :profilegiven_name 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def post_authorizables_with_http_info(authorizable_id, intermediate_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_authorizables ...'
      end
      # verify the required parameter 'authorizable_id' is set
      if @api_client.config.client_side_validation && authorizable_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorizable_id' when calling SlingApi.post_authorizables"
      end
      # verify the required parameter 'intermediate_path' is set
      if @api_client.config.client_side_validation && intermediate_path.nil?
        fail ArgumentError, "Missing the required parameter 'intermediate_path' when calling SlingApi.post_authorizables"
      end
      # resource path
      local_var_path = '/libs/granite/security/post/authorizables'

      # query parameters
      query_params = {}
      query_params[:'authorizableId'] = authorizable_id
      query_params[:'intermediatePath'] = intermediate_path
      query_params[:'createUser'] = opts[:'create_user'] if !opts[:'create_user'].nil?
      query_params[:'createGroup'] = opts[:'create_group'] if !opts[:'create_group'].nil?
      query_params[:'rep:password'] = opts[:'reppassword'] if !opts[:'reppassword'].nil?
      query_params[:'profile/givenName'] = opts[:'profilegiven_name'] if !opts[:'profilegiven_name'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_authorizables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_store_password 
    # @option opts [String] :key_store_password_type_hint 
    # @option opts [Integer] :service_ranking 
    # @option opts [String] :service_ranking_type_hint 
    # @option opts [BOOLEAN] :idp_http_redirect 
    # @option opts [String] :idp_http_redirect_type_hint 
    # @option opts [BOOLEAN] :create_user 
    # @option opts [String] :create_user_type_hint 
    # @option opts [String] :default_redirect_url 
    # @option opts [String] :default_redirect_url_type_hint 
    # @option opts [String] :user_id_attribute 
    # @option opts [String] :user_id_attribute_type_hint 
    # @option opts [Array<String>] :default_groups 
    # @option opts [String] :default_groups_type_hint 
    # @option opts [String] :idp_cert_alias 
    # @option opts [String] :idp_cert_alias_type_hint 
    # @option opts [BOOLEAN] :add_group_memberships 
    # @option opts [String] :add_group_memberships_type_hint 
    # @option opts [Array<String>] :path 
    # @option opts [String] :path_type_hint 
    # @option opts [Array<String>] :synchronize_attributes 
    # @option opts [String] :synchronize_attributes_type_hint 
    # @option opts [Integer] :clock_tolerance 
    # @option opts [String] :clock_tolerance_type_hint 
    # @option opts [String] :group_membership_attribute 
    # @option opts [String] :group_membership_attribute_type_hint 
    # @option opts [String] :idp_url 
    # @option opts [String] :idp_url_type_hint 
    # @option opts [String] :logout_url 
    # @option opts [String] :logout_url_type_hint 
    # @option opts [String] :service_provider_entity_id 
    # @option opts [String] :service_provider_entity_id_type_hint 
    # @option opts [String] :assertion_consumer_service_url 
    # @option opts [String] :assertion_consumer_service_url_type_hint 
    # @option opts [BOOLEAN] :handle_logout 
    # @option opts [String] :handle_logout_type_hint 
    # @option opts [String] :sp_private_key_alias 
    # @option opts [String] :sp_private_key_alias_type_hint 
    # @option opts [BOOLEAN] :use_encryption 
    # @option opts [String] :use_encryption_type_hint 
    # @option opts [String] :name_id_format 
    # @option opts [String] :name_id_format_type_hint 
    # @option opts [String] :digest_method 
    # @option opts [String] :digest_method_type_hint 
    # @option opts [String] :signature_method 
    # @option opts [String] :signature_method_type_hint 
    # @option opts [String] :user_intermediate_path 
    # @option opts [String] :user_intermediate_path_type_hint 
    # @return [nil]
    def post_config_adobe_granite_saml_authentication_handler(opts = {})
      post_config_adobe_granite_saml_authentication_handler_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_store_password 
    # @option opts [String] :key_store_password_type_hint 
    # @option opts [Integer] :service_ranking 
    # @option opts [String] :service_ranking_type_hint 
    # @option opts [BOOLEAN] :idp_http_redirect 
    # @option opts [String] :idp_http_redirect_type_hint 
    # @option opts [BOOLEAN] :create_user 
    # @option opts [String] :create_user_type_hint 
    # @option opts [String] :default_redirect_url 
    # @option opts [String] :default_redirect_url_type_hint 
    # @option opts [String] :user_id_attribute 
    # @option opts [String] :user_id_attribute_type_hint 
    # @option opts [Array<String>] :default_groups 
    # @option opts [String] :default_groups_type_hint 
    # @option opts [String] :idp_cert_alias 
    # @option opts [String] :idp_cert_alias_type_hint 
    # @option opts [BOOLEAN] :add_group_memberships 
    # @option opts [String] :add_group_memberships_type_hint 
    # @option opts [Array<String>] :path 
    # @option opts [String] :path_type_hint 
    # @option opts [Array<String>] :synchronize_attributes 
    # @option opts [String] :synchronize_attributes_type_hint 
    # @option opts [Integer] :clock_tolerance 
    # @option opts [String] :clock_tolerance_type_hint 
    # @option opts [String] :group_membership_attribute 
    # @option opts [String] :group_membership_attribute_type_hint 
    # @option opts [String] :idp_url 
    # @option opts [String] :idp_url_type_hint 
    # @option opts [String] :logout_url 
    # @option opts [String] :logout_url_type_hint 
    # @option opts [String] :service_provider_entity_id 
    # @option opts [String] :service_provider_entity_id_type_hint 
    # @option opts [String] :assertion_consumer_service_url 
    # @option opts [String] :assertion_consumer_service_url_type_hint 
    # @option opts [BOOLEAN] :handle_logout 
    # @option opts [String] :handle_logout_type_hint 
    # @option opts [String] :sp_private_key_alias 
    # @option opts [String] :sp_private_key_alias_type_hint 
    # @option opts [BOOLEAN] :use_encryption 
    # @option opts [String] :use_encryption_type_hint 
    # @option opts [String] :name_id_format 
    # @option opts [String] :name_id_format_type_hint 
    # @option opts [String] :digest_method 
    # @option opts [String] :digest_method_type_hint 
    # @option opts [String] :signature_method 
    # @option opts [String] :signature_method_type_hint 
    # @option opts [String] :user_intermediate_path 
    # @option opts [String] :user_intermediate_path_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_adobe_granite_saml_authentication_handler_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_adobe_granite_saml_authentication_handler ...'
      end
      # resource path
      local_var_path = '/apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config'

      # query parameters
      query_params = {}
      query_params[:'keyStorePassword'] = opts[:'key_store_password'] if !opts[:'key_store_password'].nil?
      query_params[:'keyStorePassword@TypeHint'] = opts[:'key_store_password_type_hint'] if !opts[:'key_store_password_type_hint'].nil?
      query_params[:'service.ranking'] = opts[:'service_ranking'] if !opts[:'service_ranking'].nil?
      query_params[:'service.ranking@TypeHint'] = opts[:'service_ranking_type_hint'] if !opts[:'service_ranking_type_hint'].nil?
      query_params[:'idpHttpRedirect'] = opts[:'idp_http_redirect'] if !opts[:'idp_http_redirect'].nil?
      query_params[:'idpHttpRedirect@TypeHint'] = opts[:'idp_http_redirect_type_hint'] if !opts[:'idp_http_redirect_type_hint'].nil?
      query_params[:'createUser'] = opts[:'create_user'] if !opts[:'create_user'].nil?
      query_params[:'createUser@TypeHint'] = opts[:'create_user_type_hint'] if !opts[:'create_user_type_hint'].nil?
      query_params[:'defaultRedirectUrl'] = opts[:'default_redirect_url'] if !opts[:'default_redirect_url'].nil?
      query_params[:'defaultRedirectUrl@TypeHint'] = opts[:'default_redirect_url_type_hint'] if !opts[:'default_redirect_url_type_hint'].nil?
      query_params[:'userIDAttribute'] = opts[:'user_id_attribute'] if !opts[:'user_id_attribute'].nil?
      query_params[:'userIDAttribute@TypeHint'] = opts[:'user_id_attribute_type_hint'] if !opts[:'user_id_attribute_type_hint'].nil?
      query_params[:'defaultGroups'] = @api_client.build_collection_param(opts[:'default_groups'], :multi) if !opts[:'default_groups'].nil?
      query_params[:'defaultGroups@TypeHint'] = opts[:'default_groups_type_hint'] if !opts[:'default_groups_type_hint'].nil?
      query_params[:'idpCertAlias'] = opts[:'idp_cert_alias'] if !opts[:'idp_cert_alias'].nil?
      query_params[:'idpCertAlias@TypeHint'] = opts[:'idp_cert_alias_type_hint'] if !opts[:'idp_cert_alias_type_hint'].nil?
      query_params[:'addGroupMemberships'] = opts[:'add_group_memberships'] if !opts[:'add_group_memberships'].nil?
      query_params[:'addGroupMemberships@TypeHint'] = opts[:'add_group_memberships_type_hint'] if !opts[:'add_group_memberships_type_hint'].nil?
      query_params[:'path'] = @api_client.build_collection_param(opts[:'path'], :multi) if !opts[:'path'].nil?
      query_params[:'path@TypeHint'] = opts[:'path_type_hint'] if !opts[:'path_type_hint'].nil?
      query_params[:'synchronizeAttributes'] = @api_client.build_collection_param(opts[:'synchronize_attributes'], :multi) if !opts[:'synchronize_attributes'].nil?
      query_params[:'synchronizeAttributes@TypeHint'] = opts[:'synchronize_attributes_type_hint'] if !opts[:'synchronize_attributes_type_hint'].nil?
      query_params[:'clockTolerance'] = opts[:'clock_tolerance'] if !opts[:'clock_tolerance'].nil?
      query_params[:'clockTolerance@TypeHint'] = opts[:'clock_tolerance_type_hint'] if !opts[:'clock_tolerance_type_hint'].nil?
      query_params[:'groupMembershipAttribute'] = opts[:'group_membership_attribute'] if !opts[:'group_membership_attribute'].nil?
      query_params[:'groupMembershipAttribute@TypeHint'] = opts[:'group_membership_attribute_type_hint'] if !opts[:'group_membership_attribute_type_hint'].nil?
      query_params[:'idpUrl'] = opts[:'idp_url'] if !opts[:'idp_url'].nil?
      query_params[:'idpUrl@TypeHint'] = opts[:'idp_url_type_hint'] if !opts[:'idp_url_type_hint'].nil?
      query_params[:'logoutUrl'] = opts[:'logout_url'] if !opts[:'logout_url'].nil?
      query_params[:'logoutUrl@TypeHint'] = opts[:'logout_url_type_hint'] if !opts[:'logout_url_type_hint'].nil?
      query_params[:'serviceProviderEntityId'] = opts[:'service_provider_entity_id'] if !opts[:'service_provider_entity_id'].nil?
      query_params[:'serviceProviderEntityId@TypeHint'] = opts[:'service_provider_entity_id_type_hint'] if !opts[:'service_provider_entity_id_type_hint'].nil?
      query_params[:'assertionConsumerServiceURL'] = opts[:'assertion_consumer_service_url'] if !opts[:'assertion_consumer_service_url'].nil?
      query_params[:'assertionConsumerServiceURL@TypeHint'] = opts[:'assertion_consumer_service_url_type_hint'] if !opts[:'assertion_consumer_service_url_type_hint'].nil?
      query_params[:'handleLogout'] = opts[:'handle_logout'] if !opts[:'handle_logout'].nil?
      query_params[:'handleLogout@TypeHint'] = opts[:'handle_logout_type_hint'] if !opts[:'handle_logout_type_hint'].nil?
      query_params[:'spPrivateKeyAlias'] = opts[:'sp_private_key_alias'] if !opts[:'sp_private_key_alias'].nil?
      query_params[:'spPrivateKeyAlias@TypeHint'] = opts[:'sp_private_key_alias_type_hint'] if !opts[:'sp_private_key_alias_type_hint'].nil?
      query_params[:'useEncryption'] = opts[:'use_encryption'] if !opts[:'use_encryption'].nil?
      query_params[:'useEncryption@TypeHint'] = opts[:'use_encryption_type_hint'] if !opts[:'use_encryption_type_hint'].nil?
      query_params[:'nameIdFormat'] = opts[:'name_id_format'] if !opts[:'name_id_format'].nil?
      query_params[:'nameIdFormat@TypeHint'] = opts[:'name_id_format_type_hint'] if !opts[:'name_id_format_type_hint'].nil?
      query_params[:'digestMethod'] = opts[:'digest_method'] if !opts[:'digest_method'].nil?
      query_params[:'digestMethod@TypeHint'] = opts[:'digest_method_type_hint'] if !opts[:'digest_method_type_hint'].nil?
      query_params[:'signatureMethod'] = opts[:'signature_method'] if !opts[:'signature_method'].nil?
      query_params[:'signatureMethod@TypeHint'] = opts[:'signature_method_type_hint'] if !opts[:'signature_method_type_hint'].nil?
      query_params[:'userIntermediatePath'] = opts[:'user_intermediate_path'] if !opts[:'user_intermediate_path'].nil?
      query_params[:'userIntermediatePath@TypeHint'] = opts[:'user_intermediate_path_type_hint'] if !opts[:'user_intermediate_path_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_adobe_granite_saml_authentication_handler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :org_apache_felix_https_nio 
    # @option opts [String] :org_apache_felix_https_nio_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore 
    # @option opts [String] :org_apache_felix_https_keystore_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_password 
    # @option opts [String] :org_apache_felix_https_keystore_password_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_key 
    # @option opts [String] :org_apache_felix_https_keystore_key_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_key_password 
    # @option opts [String] :org_apache_felix_https_keystore_key_password_type_hint 
    # @option opts [String] :org_apache_felix_https_truststore 
    # @option opts [String] :org_apache_felix_https_truststore_type_hint 
    # @option opts [String] :org_apache_felix_https_truststore_password 
    # @option opts [String] :org_apache_felix_https_truststore_password_type_hint 
    # @option opts [String] :org_apache_felix_https_clientcertificate 
    # @option opts [String] :org_apache_felix_https_clientcertificate_type_hint 
    # @option opts [BOOLEAN] :org_apache_felix_https_enable 
    # @option opts [String] :org_apache_felix_https_enable_type_hint 
    # @option opts [String] :org_osgi_service_http_port_secure 
    # @option opts [String] :org_osgi_service_http_port_secure_type_hint 
    # @return [nil]
    def post_config_apache_felix_jetty_based_http_service(opts = {})
      post_config_apache_felix_jetty_based_http_service_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :org_apache_felix_https_nio 
    # @option opts [String] :org_apache_felix_https_nio_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore 
    # @option opts [String] :org_apache_felix_https_keystore_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_password 
    # @option opts [String] :org_apache_felix_https_keystore_password_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_key 
    # @option opts [String] :org_apache_felix_https_keystore_key_type_hint 
    # @option opts [String] :org_apache_felix_https_keystore_key_password 
    # @option opts [String] :org_apache_felix_https_keystore_key_password_type_hint 
    # @option opts [String] :org_apache_felix_https_truststore 
    # @option opts [String] :org_apache_felix_https_truststore_type_hint 
    # @option opts [String] :org_apache_felix_https_truststore_password 
    # @option opts [String] :org_apache_felix_https_truststore_password_type_hint 
    # @option opts [String] :org_apache_felix_https_clientcertificate 
    # @option opts [String] :org_apache_felix_https_clientcertificate_type_hint 
    # @option opts [BOOLEAN] :org_apache_felix_https_enable 
    # @option opts [String] :org_apache_felix_https_enable_type_hint 
    # @option opts [String] :org_osgi_service_http_port_secure 
    # @option opts [String] :org_osgi_service_http_port_secure_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_apache_felix_jetty_based_http_service_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_apache_felix_jetty_based_http_service ...'
      end
      # resource path
      local_var_path = '/apps/system/config/org.apache.felix.http'

      # query parameters
      query_params = {}
      query_params[:'org.apache.felix.https.nio'] = opts[:'org_apache_felix_https_nio'] if !opts[:'org_apache_felix_https_nio'].nil?
      query_params[:'org.apache.felix.https.nio@TypeHint'] = opts[:'org_apache_felix_https_nio_type_hint'] if !opts[:'org_apache_felix_https_nio_type_hint'].nil?
      query_params[:'org.apache.felix.https.keystore'] = opts[:'org_apache_felix_https_keystore'] if !opts[:'org_apache_felix_https_keystore'].nil?
      query_params[:'org.apache.felix.https.keystore@TypeHint'] = opts[:'org_apache_felix_https_keystore_type_hint'] if !opts[:'org_apache_felix_https_keystore_type_hint'].nil?
      query_params[:'org.apache.felix.https.keystore.password'] = opts[:'org_apache_felix_https_keystore_password'] if !opts[:'org_apache_felix_https_keystore_password'].nil?
      query_params[:'org.apache.felix.https.keystore.password@TypeHint'] = opts[:'org_apache_felix_https_keystore_password_type_hint'] if !opts[:'org_apache_felix_https_keystore_password_type_hint'].nil?
      query_params[:'org.apache.felix.https.keystore.key'] = opts[:'org_apache_felix_https_keystore_key'] if !opts[:'org_apache_felix_https_keystore_key'].nil?
      query_params[:'org.apache.felix.https.keystore.key@TypeHint'] = opts[:'org_apache_felix_https_keystore_key_type_hint'] if !opts[:'org_apache_felix_https_keystore_key_type_hint'].nil?
      query_params[:'org.apache.felix.https.keystore.key.password'] = opts[:'org_apache_felix_https_keystore_key_password'] if !opts[:'org_apache_felix_https_keystore_key_password'].nil?
      query_params[:'org.apache.felix.https.keystore.key.password@TypeHint'] = opts[:'org_apache_felix_https_keystore_key_password_type_hint'] if !opts[:'org_apache_felix_https_keystore_key_password_type_hint'].nil?
      query_params[:'org.apache.felix.https.truststore'] = opts[:'org_apache_felix_https_truststore'] if !opts[:'org_apache_felix_https_truststore'].nil?
      query_params[:'org.apache.felix.https.truststore@TypeHint'] = opts[:'org_apache_felix_https_truststore_type_hint'] if !opts[:'org_apache_felix_https_truststore_type_hint'].nil?
      query_params[:'org.apache.felix.https.truststore.password'] = opts[:'org_apache_felix_https_truststore_password'] if !opts[:'org_apache_felix_https_truststore_password'].nil?
      query_params[:'org.apache.felix.https.truststore.password@TypeHint'] = opts[:'org_apache_felix_https_truststore_password_type_hint'] if !opts[:'org_apache_felix_https_truststore_password_type_hint'].nil?
      query_params[:'org.apache.felix.https.clientcertificate'] = opts[:'org_apache_felix_https_clientcertificate'] if !opts[:'org_apache_felix_https_clientcertificate'].nil?
      query_params[:'org.apache.felix.https.clientcertificate@TypeHint'] = opts[:'org_apache_felix_https_clientcertificate_type_hint'] if !opts[:'org_apache_felix_https_clientcertificate_type_hint'].nil?
      query_params[:'org.apache.felix.https.enable'] = opts[:'org_apache_felix_https_enable'] if !opts[:'org_apache_felix_https_enable'].nil?
      query_params[:'org.apache.felix.https.enable@TypeHint'] = opts[:'org_apache_felix_https_enable_type_hint'] if !opts[:'org_apache_felix_https_enable_type_hint'].nil?
      query_params[:'org.osgi.service.http.port.secure'] = opts[:'org_osgi_service_http_port_secure'] if !opts[:'org_osgi_service_http_port_secure'].nil?
      query_params[:'org.osgi.service.http.port.secure@TypeHint'] = opts[:'org_osgi_service_http_port_secure_type_hint'] if !opts[:'org_osgi_service_http_port_secure_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_apache_felix_jetty_based_http_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :proxy_host 
    # @option opts [String] :proxy_host_type_hint 
    # @option opts [Integer] :proxy_port 
    # @option opts [String] :proxy_port_type_hint 
    # @option opts [Array<String>] :proxy_exceptions 
    # @option opts [String] :proxy_exceptions_type_hint 
    # @option opts [BOOLEAN] :proxy_enabled 
    # @option opts [String] :proxy_enabled_type_hint 
    # @option opts [String] :proxy_user 
    # @option opts [String] :proxy_user_type_hint 
    # @option opts [String] :proxy_password 
    # @option opts [String] :proxy_password_type_hint 
    # @return [nil]
    def post_config_apache_http_components_proxy_configuration(opts = {})
      post_config_apache_http_components_proxy_configuration_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :proxy_host 
    # @option opts [String] :proxy_host_type_hint 
    # @option opts [Integer] :proxy_port 
    # @option opts [String] :proxy_port_type_hint 
    # @option opts [Array<String>] :proxy_exceptions 
    # @option opts [String] :proxy_exceptions_type_hint 
    # @option opts [BOOLEAN] :proxy_enabled 
    # @option opts [String] :proxy_enabled_type_hint 
    # @option opts [String] :proxy_user 
    # @option opts [String] :proxy_user_type_hint 
    # @option opts [String] :proxy_password 
    # @option opts [String] :proxy_password_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_apache_http_components_proxy_configuration_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_apache_http_components_proxy_configuration ...'
      end
      # resource path
      local_var_path = '/apps/system/config/org.apache.http.proxyconfigurator.config'

      # query parameters
      query_params = {}
      query_params[:'proxy.host'] = opts[:'proxy_host'] if !opts[:'proxy_host'].nil?
      query_params[:'proxy.host@TypeHint'] = opts[:'proxy_host_type_hint'] if !opts[:'proxy_host_type_hint'].nil?
      query_params[:'proxy.port'] = opts[:'proxy_port'] if !opts[:'proxy_port'].nil?
      query_params[:'proxy.port@TypeHint'] = opts[:'proxy_port_type_hint'] if !opts[:'proxy_port_type_hint'].nil?
      query_params[:'proxy.exceptions'] = @api_client.build_collection_param(opts[:'proxy_exceptions'], :multi) if !opts[:'proxy_exceptions'].nil?
      query_params[:'proxy.exceptions@TypeHint'] = opts[:'proxy_exceptions_type_hint'] if !opts[:'proxy_exceptions_type_hint'].nil?
      query_params[:'proxy.enabled'] = opts[:'proxy_enabled'] if !opts[:'proxy_enabled'].nil?
      query_params[:'proxy.enabled@TypeHint'] = opts[:'proxy_enabled_type_hint'] if !opts[:'proxy_enabled_type_hint'].nil?
      query_params[:'proxy.user'] = opts[:'proxy_user'] if !opts[:'proxy_user'].nil?
      query_params[:'proxy.user@TypeHint'] = opts[:'proxy_user_type_hint'] if !opts[:'proxy_user_type_hint'].nil?
      query_params[:'proxy.password'] = opts[:'proxy_password'] if !opts[:'proxy_password'].nil?
      query_params[:'proxy.password@TypeHint'] = opts[:'proxy_password_type_hint'] if !opts[:'proxy_password_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_apache_http_components_proxy_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_alias 
    # @option opts [String] :alias_type_hint 
    # @option opts [BOOLEAN] :dav_create_absolute_uri 
    # @option opts [String] :dav_create_absolute_uri_type_hint 
    # @return [nil]
    def post_config_apache_sling_dav_ex_servlet(opts = {})
      post_config_apache_sling_dav_ex_servlet_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :_alias 
    # @option opts [String] :alias_type_hint 
    # @option opts [BOOLEAN] :dav_create_absolute_uri 
    # @option opts [String] :dav_create_absolute_uri_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_apache_sling_dav_ex_servlet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_apache_sling_dav_ex_servlet ...'
      end
      # resource path
      local_var_path = '/apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet'

      # query parameters
      query_params = {}
      query_params[:'alias'] = opts[:'_alias'] if !opts[:'_alias'].nil?
      query_params[:'alias@TypeHint'] = opts[:'alias_type_hint'] if !opts[:'alias_type_hint'].nil?
      query_params[:'dav.create-absolute-uri'] = opts[:'dav_create_absolute_uri'] if !opts[:'dav_create_absolute_uri'].nil?
      query_params[:'dav.create-absolute-uri@TypeHint'] = opts[:'dav_create_absolute_uri_type_hint'] if !opts[:'dav_create_absolute_uri_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_apache_sling_dav_ex_servlet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :json_maximumresults 
    # @option opts [String] :json_maximumresults_type_hint 
    # @option opts [BOOLEAN] :enable_html 
    # @option opts [String] :enable_html_type_hint 
    # @option opts [BOOLEAN] :enable_txt 
    # @option opts [String] :enable_txt_type_hint 
    # @option opts [BOOLEAN] :enable_xml 
    # @option opts [String] :enable_xml_type_hint 
    # @return [nil]
    def post_config_apache_sling_get_servlet(opts = {})
      post_config_apache_sling_get_servlet_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :json_maximumresults 
    # @option opts [String] :json_maximumresults_type_hint 
    # @option opts [BOOLEAN] :enable_html 
    # @option opts [String] :enable_html_type_hint 
    # @option opts [BOOLEAN] :enable_txt 
    # @option opts [String] :enable_txt_type_hint 
    # @option opts [BOOLEAN] :enable_xml 
    # @option opts [String] :enable_xml_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_apache_sling_get_servlet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_apache_sling_get_servlet ...'
      end
      # resource path
      local_var_path = '/apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet'

      # query parameters
      query_params = {}
      query_params[:'json.maximumresults'] = opts[:'json_maximumresults'] if !opts[:'json_maximumresults'].nil?
      query_params[:'json.maximumresults@TypeHint'] = opts[:'json_maximumresults_type_hint'] if !opts[:'json_maximumresults_type_hint'].nil?
      query_params[:'enable.html'] = opts[:'enable_html'] if !opts[:'enable_html'].nil?
      query_params[:'enable.html@TypeHint'] = opts[:'enable_html_type_hint'] if !opts[:'enable_html_type_hint'].nil?
      query_params[:'enable.txt'] = opts[:'enable_txt'] if !opts[:'enable_txt'].nil?
      query_params[:'enable.txt@TypeHint'] = opts[:'enable_txt_type_hint'] if !opts[:'enable_txt_type_hint'].nil?
      query_params[:'enable.xml'] = opts[:'enable_xml'] if !opts[:'enable_xml'].nil?
      query_params[:'enable.xml@TypeHint'] = opts[:'enable_xml_type_hint'] if !opts[:'enable_xml_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_apache_sling_get_servlet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :allow_empty 
    # @option opts [String] :allow_empty_type_hint 
    # @option opts [String] :allow_hosts 
    # @option opts [String] :allow_hosts_type_hint 
    # @option opts [String] :allow_hosts_regexp 
    # @option opts [String] :allow_hosts_regexp_type_hint 
    # @option opts [String] :filter_methods 
    # @option opts [String] :filter_methods_type_hint 
    # @return [nil]
    def post_config_apache_sling_referrer_filter(opts = {})
      post_config_apache_sling_referrer_filter_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :allow_empty 
    # @option opts [String] :allow_empty_type_hint 
    # @option opts [String] :allow_hosts 
    # @option opts [String] :allow_hosts_type_hint 
    # @option opts [String] :allow_hosts_regexp 
    # @option opts [String] :allow_hosts_regexp_type_hint 
    # @option opts [String] :filter_methods 
    # @option opts [String] :filter_methods_type_hint 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_config_apache_sling_referrer_filter_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_config_apache_sling_referrer_filter ...'
      end
      # resource path
      local_var_path = '/apps/system/config/org.apache.sling.security.impl.ReferrerFilter'

      # query parameters
      query_params = {}
      query_params[:'allow.empty'] = opts[:'allow_empty'] if !opts[:'allow_empty'].nil?
      query_params[:'allow.empty@TypeHint'] = opts[:'allow_empty_type_hint'] if !opts[:'allow_empty_type_hint'].nil?
      query_params[:'allow.hosts'] = opts[:'allow_hosts'] if !opts[:'allow_hosts'].nil?
      query_params[:'allow.hosts@TypeHint'] = opts[:'allow_hosts_type_hint'] if !opts[:'allow_hosts_type_hint'].nil?
      query_params[:'allow.hosts.regexp'] = opts[:'allow_hosts_regexp'] if !opts[:'allow_hosts_regexp'].nil?
      query_params[:'allow.hosts.regexp@TypeHint'] = opts[:'allow_hosts_regexp_type_hint'] if !opts[:'allow_hosts_regexp_type_hint'].nil?
      query_params[:'filter.methods'] = opts[:'filter_methods'] if !opts[:'filter_methods'].nil?
      query_params[:'filter.methods@TypeHint'] = opts[:'filter_methods_type_hint'] if !opts[:'filter_methods_type_hint'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_config_apache_sling_referrer_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :delete_authorizable 
    # @option opts [File] :file 
    # @return [nil]
    def post_node(path, name, opts = {})
      post_node_with_http_info(path, name, opts)
      nil
    end

    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :delete_authorizable 
    # @option opts [File] :file 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_node_with_http_info(path, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_node ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.post_node"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.post_node"
      end
      # resource path
      local_var_path = '/{path}/{name}'.sub('{' + 'path' + '}', path.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}
      query_params[:':operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'deleteAuthorizable'] = opts[:'delete_authorizable'] if !opts[:'delete_authorizable'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :add_members 
    # @return [nil]
    def post_node_rw(path, name, opts = {})
      post_node_rw_with_http_info(path, name, opts)
      nil
    end

    # @param path 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :add_members 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_node_rw_with_http_info(path, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_node_rw ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.post_node_rw"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.post_node_rw"
      end
      # resource path
      local_var_path = '/{path}/{name}.rw.html'.sub('{' + 'path' + '}', path.to_s).sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = {}
      query_params[:'addMembers'] = opts[:'add_members'] if !opts[:'add_members'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_node_rw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param jcrprimary_type 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def post_path(path, jcrprimary_type, name, opts = {})
      post_path_with_http_info(path, jcrprimary_type, name, opts)
      nil
    end

    # @param path 
    # @param jcrprimary_type 
    # @param name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_path_with_http_info(path, jcrprimary_type, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.post_path"
      end
      # verify the required parameter 'jcrprimary_type' is set
      if @api_client.config.client_side_validation && jcrprimary_type.nil?
        fail ArgumentError, "Missing the required parameter 'jcrprimary_type' when calling SlingApi.post_path"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SlingApi.post_path"
      end
      # resource path
      local_var_path = '/{path}/'.sub('{' + 'path' + '}', path.to_s)

      # query parameters
      query_params = {}
      query_params[:'jcr:primaryType'] = jcrprimary_type
      query_params[:':name'] = name

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param path 
    # @param p_limit 
    # @param _1_property 
    # @param _1_property_value 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def post_query(path, p_limit, _1_property, _1_property_value, opts = {})
      data, _status_code, _headers = post_query_with_http_info(path, p_limit, _1_property, _1_property_value, opts)
      data
    end

    # @param path 
    # @param p_limit 
    # @param _1_property 
    # @param _1_property_value 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def post_query_with_http_info(path, p_limit, _1_property, _1_property_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_query ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.post_query"
      end
      # verify the required parameter 'p_limit' is set
      if @api_client.config.client_side_validation && p_limit.nil?
        fail ArgumentError, "Missing the required parameter 'p_limit' when calling SlingApi.post_query"
      end
      # verify the required parameter '_1_property' is set
      if @api_client.config.client_side_validation && _1_property.nil?
        fail ArgumentError, "Missing the required parameter '_1_property' when calling SlingApi.post_query"
      end
      # verify the required parameter '_1_property_value' is set
      if @api_client.config.client_side_validation && _1_property_value.nil?
        fail ArgumentError, "Missing the required parameter '_1_property_value' when calling SlingApi.post_query"
      end
      # resource path
      local_var_path = '/bin/querybuilder.json'

      # query parameters
      query_params = {}
      query_params[:'path'] = path
      query_params[:'p.limit'] = p_limit
      query_params[:'1_property'] = _1_property
      query_params[:'1_property.value'] = _1_property_value

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param ignoredeactivated 
    # @param onlymodified 
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def post_tree_activation(ignoredeactivated, onlymodified, path, opts = {})
      post_tree_activation_with_http_info(ignoredeactivated, onlymodified, path, opts)
      nil
    end

    # @param ignoredeactivated 
    # @param onlymodified 
    # @param path 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def post_tree_activation_with_http_info(ignoredeactivated, onlymodified, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_tree_activation ...'
      end
      # verify the required parameter 'ignoredeactivated' is set
      if @api_client.config.client_side_validation && ignoredeactivated.nil?
        fail ArgumentError, "Missing the required parameter 'ignoredeactivated' when calling SlingApi.post_tree_activation"
      end
      # verify the required parameter 'onlymodified' is set
      if @api_client.config.client_side_validation && onlymodified.nil?
        fail ArgumentError, "Missing the required parameter 'onlymodified' when calling SlingApi.post_tree_activation"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SlingApi.post_tree_activation"
      end
      # resource path
      local_var_path = '/etc/replication/treeactivation.html'

      # query parameters
      query_params = {}
      query_params[:'ignoredeactivated'] = ignoredeactivated
      query_params[:'onlymodified'] = onlymodified
      query_params[:'path'] = path

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_tree_activation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :new_password 
    # @option opts [String] :re_password 
    # @option opts [String] :key_store_type 
    # @option opts [String] :remove_alias 
    # @option opts [File] :certificate 
    # @return [String]
    def post_truststore(opts = {})
      data, _status_code, _headers = post_truststore_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :operation 
    # @option opts [String] :new_password 
    # @option opts [String] :re_password 
    # @option opts [String] :key_store_type 
    # @option opts [String] :remove_alias 
    # @option opts [File] :certificate 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def post_truststore_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_truststore ...'
      end
      # resource path
      local_var_path = '/libs/granite/security/post/truststore'

      # query parameters
      query_params = {}
      query_params[:':operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'newPassword'] = opts[:'new_password'] if !opts[:'new_password'].nil?
      query_params[:'rePassword'] = opts[:'re_password'] if !opts[:'re_password'].nil?
      query_params[:'keyStoreType'] = opts[:'key_store_type'] if !opts[:'key_store_type'].nil?
      query_params[:'removeAlias'] = opts[:'remove_alias'] if !opts[:'remove_alias'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['certificate'] = opts[:'certificate'] if !opts[:'certificate'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_truststore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @option opts [File] :truststore_p12 
    # @return [String]
    def post_truststore_pkcs12(opts = {})
      data, _status_code, _headers = post_truststore_pkcs12_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [File] :truststore_p12 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def post_truststore_pkcs12_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlingApi.post_truststore_pkcs12 ...'
      end
      # resource path
      local_var_path = '/etc/truststore'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['truststore.p12'] = opts[:'truststore_p12'] if !opts[:'truststore_p12'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['aemAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlingApi#post_truststore_pkcs12\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
