//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * OpenAPI spec version: 3.7.1-pre.0
 *
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import java.io.File

class GraniteRoutes(service : GraniteService[Try]) extends cask.Routes {


        /** 
         * 
         */
        @cask.post("/libs/granite/security/post/sslSetup.html")
        def sslSetup(request: cask.Request, keystorePassword : String, keystorePasswordConfirm : String, truststorePassword : String, truststorePasswordConfirm : String, httpsHostname : String, httpsPort : String) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
        privatekeyFile <- request.formValueAsFileOptional("privatekeyFile")
        certificateFile <- request.formValueAsFileOptional("certificateFile")
            resultTry <- Parsed.eval(service.sslSetup(keystorePassword, keystorePasswordConfirm, truststorePassword, truststorePasswordConfirm, httpsHostname, httpsPort, privatekeyFile, certificateFile))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
