//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * OpenAPI spec version: 3.7.1-pre.0
 *
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import scala.math.BigDecimal
import java.io.File
import org.openapitools.server.model.KeystoreInfo
import org.openapitools.server.model.TruststoreInfo

class SlingRoutes(service : SlingService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForDELETE
    @cask.delete("", true)
    def routeWorkAroundForDELETE(request: cask.Request) = {
        request.remainingPathSegments match {
            case Seq(path,name) => deleteNode(path, name,request)
            case Seq("etc","replication","agents.{runmode}",name) => deleteAgent(name,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForPOSTAppsSystemConfig
    @cask.post("/apps/system/config", true)
    def routeWorkAroundForPOSTAppsSystemConfig(request: cask.Request,keyStorePassword : Option[String] = None,keyStorePasswordAtTypeHint : Option[String] = None,servicePeriodranking : Option[Int] = None,servicePeriodrankingAtTypeHint : Option[String] = None,idpHttpRedirect : Option[Boolean] = None,idpHttpRedirectAtTypeHint : Option[String] = None,createUser : Option[Boolean] = None,createUserAtTypeHint : Option[String] = None,defaultRedirectUrl : Option[String] = None,defaultRedirectUrlAtTypeHint : Option[String] = None,userIDAttribute : Option[String] = None,userIDAttributeAtTypeHint : Option[String] = None,defaultGroups : Seq[String] = Nil,defaultGroupsAtTypeHint : Option[String] = None,idpCertAlias : Option[String] = None,idpCertAliasAtTypeHint : Option[String] = None,addGroupMemberships : Option[Boolean] = None,addGroupMembershipsAtTypeHint : Option[String] = None,path : Seq[String] = Nil,pathAtTypeHint : Option[String] = None,synchronizeAttributes : Seq[String] = Nil,synchronizeAttributesAtTypeHint : Option[String] = None,clockTolerance : Option[Int] = None,clockToleranceAtTypeHint : Option[String] = None,groupMembershipAttribute : Option[String] = None,groupMembershipAttributeAtTypeHint : Option[String] = None,idpUrl : Option[String] = None,idpUrlAtTypeHint : Option[String] = None,logoutUrl : Option[String] = None,logoutUrlAtTypeHint : Option[String] = None,serviceProviderEntityId : Option[String] = None,serviceProviderEntityIdAtTypeHint : Option[String] = None,assertionConsumerServiceURL : Option[String] = None,assertionConsumerServiceURLAtTypeHint : Option[String] = None,handleLogout : Option[Boolean] = None,handleLogoutAtTypeHint : Option[String] = None,spPrivateKeyAlias : Option[String] = None,spPrivateKeyAliasAtTypeHint : Option[String] = None,useEncryption : Option[Boolean] = None,useEncryptionAtTypeHint : Option[String] = None,nameIdFormat : Option[String] = None,nameIdFormatAtTypeHint : Option[String] = None,digestMethod : Option[String] = None,digestMethodAtTypeHint : Option[String] = None,signatureMethod : Option[String] = None,signatureMethodAtTypeHint : Option[String] = None,userIntermediatePath : Option[String] = None,userIntermediatePathAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodnio : Option[Boolean] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodenable : Option[Boolean] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint : Option[String] = None,orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure : Option[String] = None,orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint : Option[String] = None,proxyPeriodhost : Option[String] = None,proxyPeriodhostAtTypeHint : Option[String] = None,proxyPeriodport : Option[Int] = None,proxyPeriodportAtTypeHint : Option[String] = None,proxyPeriodexceptions : Seq[String] = Nil,proxyPeriodexceptionsAtTypeHint : Option[String] = None,proxyPeriodenabled : Option[Boolean] = None,proxyPeriodenabledAtTypeHint : Option[String] = None,proxyPerioduser : Option[String] = None,proxyPerioduserAtTypeHint : Option[String] = None,proxyPeriodpassword : Option[String] = None,proxyPeriodpasswordAtTypeHint : Option[String] = None,alias : Option[String] = None,aliasAtTypeHint : Option[String] = None,davPeriodcreateAbsoluteUri : Option[Boolean] = None,davPeriodcreateAbsoluteUriAtTypeHint : Option[String] = None,jsonPeriodmaximumresults : Option[String] = None,jsonPeriodmaximumresultsAtTypeHint : Option[String] = None,enablePeriodhtml : Option[Boolean] = None,enablePeriodhtmlAtTypeHint : Option[String] = None,enablePeriodtxt : Option[Boolean] = None,enablePeriodtxtAtTypeHint : Option[String] = None,enablePeriodxml : Option[Boolean] = None,enablePeriodxmlAtTypeHint : Option[String] = None,allowPeriodempty : Option[Boolean] = None,allowPeriodemptyAtTypeHint : Option[String] = None,allowPeriodhosts : Option[String] = None,allowPeriodhostsAtTypeHint : Option[String] = None,allowPeriodhostsPeriodregexp : Option[String] = None,allowPeriodhostsPeriodregexpAtTypeHint : Option[String] = None,filterPeriodmethods : Option[String] = None,filterPeriodmethodsAtTypeHint : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq("apps","system","config","com.adobe.granite.auth.saml.SamlAuthenticationHandler.config") => postConfigAdobeGraniteSamlAuthenticationHandler(request,keyStorePassword, keyStorePasswordAtTypeHint, servicePeriodranking, servicePeriodrankingAtTypeHint, idpHttpRedirect, idpHttpRedirectAtTypeHint, createUser, createUserAtTypeHint, defaultRedirectUrl, defaultRedirectUrlAtTypeHint, userIDAttribute, userIDAttributeAtTypeHint, defaultGroups, defaultGroupsAtTypeHint, idpCertAlias, idpCertAliasAtTypeHint, addGroupMemberships, addGroupMembershipsAtTypeHint, path, pathAtTypeHint, synchronizeAttributes, synchronizeAttributesAtTypeHint, clockTolerance, clockToleranceAtTypeHint, groupMembershipAttribute, groupMembershipAttributeAtTypeHint, idpUrl, idpUrlAtTypeHint, logoutUrl, logoutUrlAtTypeHint, serviceProviderEntityId, serviceProviderEntityIdAtTypeHint, assertionConsumerServiceURL, assertionConsumerServiceURLAtTypeHint, handleLogout, handleLogoutAtTypeHint, spPrivateKeyAlias, spPrivateKeyAliasAtTypeHint, useEncryption, useEncryptionAtTypeHint, nameIdFormat, nameIdFormatAtTypeHint, digestMethod, digestMethodAtTypeHint, signatureMethod, signatureMethodAtTypeHint, userIntermediatePath, userIntermediatePathAtTypeHint)
            case Seq("apps","system","config","org.apache.felix.http") => postConfigApacheFelixJettyBasedHttpService(request,orgPeriodapachePeriodfelixPeriodhttpsPeriodnio, orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodenable, orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint)
            case Seq("apps","system","config","org.apache.http.proxyconfigurator.config") => postConfigApacheHttpComponentsProxyConfiguration(request,proxyPeriodhost, proxyPeriodhostAtTypeHint, proxyPeriodport, proxyPeriodportAtTypeHint, proxyPeriodexceptions, proxyPeriodexceptionsAtTypeHint, proxyPeriodenabled, proxyPeriodenabledAtTypeHint, proxyPerioduser, proxyPerioduserAtTypeHint, proxyPeriodpassword, proxyPeriodpasswordAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet") => postConfigApacheSlingDavExServlet(request,alias, aliasAtTypeHint, davPeriodcreateAbsoluteUri, davPeriodcreateAbsoluteUriAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.servlets.get.DefaultGetServlet") => postConfigApacheSlingGetServlet(request,jsonPeriodmaximumresults, jsonPeriodmaximumresultsAtTypeHint, enablePeriodhtml, enablePeriodhtmlAtTypeHint, enablePeriodtxt, enablePeriodtxtAtTypeHint, enablePeriodxml, enablePeriodxmlAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.security.impl.ReferrerFilter") => postConfigApacheSlingReferrerFilter(request,allowPeriodempty, allowPeriodemptyAtTypeHint, allowPeriodhosts, allowPeriodhostsAtTypeHint, allowPeriodhostsPeriodregexp, allowPeriodhostsPeriodregexpAtTypeHint, filterPeriodmethods, filterPeriodmethodsAtTypeHint)
            case Seq("apps","system","config",configNodeName) => postConfigProperty(configNodeName,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGET
    @cask.get("", true)
    def routeWorkAroundForGET(request: cask.Request,path : Option[String] = None,pPeriodlimit : Option[BigDecimal] = None,1Property : Option[String] = None,1PropertyPeriodvalue : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq("bin","querybuilder.json") => getQuery(request,path.getOrElse(""), pPeriodlimit.getOrElse(0), 1Property.getOrElse(""), 1PropertyPeriodvalue.getOrElse(""))
            case Seq("etc","truststore","truststore.p12") => getTruststore(request)
            case Seq("libs","granite","security","truststore.json") => getTruststoreInfo(request)
            case Seq("etc","replication","agents.{runmode}.-1.json") => getAgents(request)
            case Seq(intermediatePath,"{authorizableId}.ks.json") => getAuthorizableKeystore(intermediatePath,request)
            case Seq(intermediatePath,authorizableId,"keystore","store.p12") => getKeystore(intermediatePath, authorizableId,request)
            case Seq(path,name) => getNode(path, name,request)
            case Seq("etc","replication","agents.{runmode}",name) => getAgent(name,request)
            case Seq("etc","packages",group,"{name}-{version}.zip") => getPackage(group,request)
            case Seq("etc","packages",group,"{name}-{version}.zip","jcr:content","vlt:definition","filter.tidy.2.json") => getPackageFilter(group,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForPOST
    @cask.post("", true)
    def routeWorkAroundForPOST(request: cask.Request,authorizableId : Option[String] = None,intermediatePath : Option[String] = None,createUser : Option[String] = None,createGroup : Option[String] = None,repPassword : Option[String] = None,profileSlashgivenName : Option[String] = None,keyStorePassword : Option[String] = None,keyStorePasswordAtTypeHint : Option[String] = None,servicePeriodranking : Option[Int] = None,servicePeriodrankingAtTypeHint : Option[String] = None,idpHttpRedirect : Option[Boolean] = None,idpHttpRedirectAtTypeHint : Option[String] = None,createUserAtTypeHint : Option[String] = None,defaultRedirectUrl : Option[String] = None,defaultRedirectUrlAtTypeHint : Option[String] = None,userIDAttribute : Option[String] = None,userIDAttributeAtTypeHint : Option[String] = None,defaultGroups : Seq[String] = Nil,defaultGroupsAtTypeHint : Option[String] = None,idpCertAlias : Option[String] = None,idpCertAliasAtTypeHint : Option[String] = None,addGroupMemberships : Option[Boolean] = None,addGroupMembershipsAtTypeHint : Option[String] = None,path : Seq[String] = Nil,pathAtTypeHint : Option[String] = None,synchronizeAttributes : Seq[String] = Nil,synchronizeAttributesAtTypeHint : Option[String] = None,clockTolerance : Option[Int] = None,clockToleranceAtTypeHint : Option[String] = None,groupMembershipAttribute : Option[String] = None,groupMembershipAttributeAtTypeHint : Option[String] = None,idpUrl : Option[String] = None,idpUrlAtTypeHint : Option[String] = None,logoutUrl : Option[String] = None,logoutUrlAtTypeHint : Option[String] = None,serviceProviderEntityId : Option[String] = None,serviceProviderEntityIdAtTypeHint : Option[String] = None,assertionConsumerServiceURL : Option[String] = None,assertionConsumerServiceURLAtTypeHint : Option[String] = None,handleLogout : Option[Boolean] = None,handleLogoutAtTypeHint : Option[String] = None,spPrivateKeyAlias : Option[String] = None,spPrivateKeyAliasAtTypeHint : Option[String] = None,useEncryption : Option[Boolean] = None,useEncryptionAtTypeHint : Option[String] = None,nameIdFormat : Option[String] = None,nameIdFormatAtTypeHint : Option[String] = None,digestMethod : Option[String] = None,digestMethodAtTypeHint : Option[String] = None,signatureMethod : Option[String] = None,signatureMethodAtTypeHint : Option[String] = None,userIntermediatePath : Option[String] = None,userIntermediatePathAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodnio : Option[Boolean] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint : Option[String] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodenable : Option[Boolean] = None,orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint : Option[String] = None,orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure : Option[String] = None,orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint : Option[String] = None,proxyPeriodhost : Option[String] = None,proxyPeriodhostAtTypeHint : Option[String] = None,proxyPeriodport : Option[Int] = None,proxyPeriodportAtTypeHint : Option[String] = None,proxyPeriodexceptions : Seq[String] = Nil,proxyPeriodexceptionsAtTypeHint : Option[String] = None,proxyPeriodenabled : Option[Boolean] = None,proxyPeriodenabledAtTypeHint : Option[String] = None,proxyPerioduser : Option[String] = None,proxyPerioduserAtTypeHint : Option[String] = None,proxyPeriodpassword : Option[String] = None,proxyPeriodpasswordAtTypeHint : Option[String] = None,alias : Option[String] = None,aliasAtTypeHint : Option[String] = None,davPeriodcreateAbsoluteUri : Option[Boolean] = None,davPeriodcreateAbsoluteUriAtTypeHint : Option[String] = None,jsonPeriodmaximumresults : Option[String] = None,jsonPeriodmaximumresultsAtTypeHint : Option[String] = None,enablePeriodhtml : Option[Boolean] = None,enablePeriodhtmlAtTypeHint : Option[String] = None,enablePeriodtxt : Option[Boolean] = None,enablePeriodtxtAtTypeHint : Option[String] = None,enablePeriodxml : Option[Boolean] = None,enablePeriodxmlAtTypeHint : Option[String] = None,allowPeriodempty : Option[Boolean] = None,allowPeriodemptyAtTypeHint : Option[String] = None,allowPeriodhosts : Option[String] = None,allowPeriodhostsAtTypeHint : Option[String] = None,allowPeriodhostsPeriodregexp : Option[String] = None,allowPeriodhostsPeriodregexpAtTypeHint : Option[String] = None,filterPeriodmethods : Option[String] = None,filterPeriodmethodsAtTypeHint : Option[String] = None,pPeriodlimit : Option[BigDecimal] = None,1Property : Option[String] = None,1PropertyPeriodvalue : Option[String] = None,ignoredeactivated : Option[Boolean] = None,onlymodified : Option[Boolean] = None,cmd : Option[String] = None,operation : Option[String] = None,newPassword : Option[String] = None,rePassword : Option[String] = None,keyStoreType : Option[String] = None,removeAlias : Option[String] = None,jcrPrimaryType : Option[String] = None,name : Option[String] = None,currentPassword : Option[String] = None,keyPassword : Option[String] = None,keyStorePass : Option[String] = None,newAlias : Option[String] = None,deleteAuthorizable : Option[String] = None,addMembers : Option[String] = None,jcrContentSlashcqDistribute : Option[Boolean] = None,jcrContentSlashcqDistributeAtTypeHint : Option[String] = None,jcrContentSlashcqName : Option[String] = None,jcrContentSlashcqTemplate : Option[String] = None,jcrContentSlashaliasUpdate : Option[Boolean] = None,jcrContentSlashenabled : Option[Boolean] = None,jcrContentSlashjcrDescription : Option[String] = None,jcrContentSlashjcrLastModified : Option[String] = None,jcrContentSlashjcrLastModifiedBy : Option[String] = None,jcrContentSlashjcrMixinTypes : Option[String] = None,jcrContentSlashjcrTitle : Option[String] = None,jcrContentSlashlogLevel : Option[String] = None,jcrContentSlashnoStatusUpdate : Option[Boolean] = None,jcrContentSlashnoVersioning : Option[Boolean] = None,jcrContentSlashprotocolConnectTimeout : Option[BigDecimal] = None,jcrContentSlashprotocolHTTPConnectionClosed : Option[Boolean] = None,jcrContentSlashprotocolHTTPExpired : Option[String] = None,jcrContentSlashprotocolHTTPHeaders : Seq[String] = Nil,jcrContentSlashprotocolHTTPHeadersAtTypeHint : Option[String] = None,jcrContentSlashprotocolHTTPMethod : Option[String] = None,jcrContentSlashprotocolHTTPSRelaxed : Option[Boolean] = None,jcrContentSlashprotocolInterface : Option[String] = None,jcrContentSlashprotocolSocketTimeout : Option[BigDecimal] = None,jcrContentSlashprotocolVersion : Option[String] = None,jcrContentSlashproxyNTLMDomain : Option[String] = None,jcrContentSlashproxyNTLMHost : Option[String] = None,jcrContentSlashproxyHost : Option[String] = None,jcrContentSlashproxyPassword : Option[String] = None,jcrContentSlashproxyPort : Option[BigDecimal] = None,jcrContentSlashproxyUser : Option[String] = None,jcrContentSlashqueueBatchMaxSize : Option[BigDecimal] = None,jcrContentSlashqueueBatchMode : Option[String] = None,jcrContentSlashqueueBatchWaitTime : Option[BigDecimal] = None,jcrContentSlashretryDelay : Option[String] = None,jcrContentSlashreverseReplication : Option[Boolean] = None,jcrContentSlashserializationType : Option[String] = None,jcrContentSlashslingResourceType : Option[String] = None,jcrContentSlashssl : Option[String] = None,jcrContentSlashtransportNTLMDomain : Option[String] = None,jcrContentSlashtransportNTLMHost : Option[String] = None,jcrContentSlashtransportPassword : Option[String] = None,jcrContentSlashtransportUri : Option[String] = None,jcrContentSlashtransportUser : Option[String] = None,jcrContentSlashtriggerDistribute : Option[Boolean] = None,jcrContentSlashtriggerModified : Option[Boolean] = None,jcrContentSlashtriggerOnOffTime : Option[Boolean] = None,jcrContentSlashtriggerReceive : Option[Boolean] = None,jcrContentSlashtriggerSpecific : Option[Boolean] = None,jcrContentSlashuserId : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq("libs","granite","security","post","authorizables") => postAuthorizables(request,authorizableId.getOrElse(""), intermediatePath.getOrElse(""), createUser, createGroup, repPassword, profileSlashgivenName)
            case Seq("apps","system","config","com.adobe.granite.auth.saml.SamlAuthenticationHandler.config") => postConfigAdobeGraniteSamlAuthenticationHandler(request,keyStorePassword, keyStorePasswordAtTypeHint, servicePeriodranking, servicePeriodrankingAtTypeHint, idpHttpRedirect, idpHttpRedirectAtTypeHint, createUser, createUserAtTypeHint, defaultRedirectUrl, defaultRedirectUrlAtTypeHint, userIDAttribute, userIDAttributeAtTypeHint, defaultGroups, defaultGroupsAtTypeHint, idpCertAlias, idpCertAliasAtTypeHint, addGroupMemberships, addGroupMembershipsAtTypeHint, path, pathAtTypeHint, synchronizeAttributes, synchronizeAttributesAtTypeHint, clockTolerance, clockToleranceAtTypeHint, groupMembershipAttribute, groupMembershipAttributeAtTypeHint, idpUrl, idpUrlAtTypeHint, logoutUrl, logoutUrlAtTypeHint, serviceProviderEntityId, serviceProviderEntityIdAtTypeHint, assertionConsumerServiceURL, assertionConsumerServiceURLAtTypeHint, handleLogout, handleLogoutAtTypeHint, spPrivateKeyAlias, spPrivateKeyAliasAtTypeHint, useEncryption, useEncryptionAtTypeHint, nameIdFormat, nameIdFormatAtTypeHint, digestMethod, digestMethodAtTypeHint, signatureMethod, signatureMethodAtTypeHint, userIntermediatePath, userIntermediatePathAtTypeHint)
            case Seq("apps","system","config","org.apache.felix.http") => postConfigApacheFelixJettyBasedHttpService(request,orgPeriodapachePeriodfelixPeriodhttpsPeriodnio, orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodenable, orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint)
            case Seq("apps","system","config","org.apache.http.proxyconfigurator.config") => postConfigApacheHttpComponentsProxyConfiguration(request,proxyPeriodhost, proxyPeriodhostAtTypeHint, proxyPeriodport, proxyPeriodportAtTypeHint, proxyPeriodexceptions, proxyPeriodexceptionsAtTypeHint, proxyPeriodenabled, proxyPeriodenabledAtTypeHint, proxyPerioduser, proxyPerioduserAtTypeHint, proxyPeriodpassword, proxyPeriodpasswordAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet") => postConfigApacheSlingDavExServlet(request,alias, aliasAtTypeHint, davPeriodcreateAbsoluteUri, davPeriodcreateAbsoluteUriAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.servlets.get.DefaultGetServlet") => postConfigApacheSlingGetServlet(request,jsonPeriodmaximumresults, jsonPeriodmaximumresultsAtTypeHint, enablePeriodhtml, enablePeriodhtmlAtTypeHint, enablePeriodtxt, enablePeriodtxtAtTypeHint, enablePeriodxml, enablePeriodxmlAtTypeHint)
            case Seq("apps","system","config","org.apache.sling.security.impl.ReferrerFilter") => postConfigApacheSlingReferrerFilter(request,allowPeriodempty, allowPeriodemptyAtTypeHint, allowPeriodhosts, allowPeriodhostsAtTypeHint, allowPeriodhostsPeriodregexp, allowPeriodhostsPeriodregexpAtTypeHint, filterPeriodmethods, filterPeriodmethodsAtTypeHint)
            case Seq("bin","querybuilder.json") => postQuery(request,path.getOrElse(""), pPeriodlimit.getOrElse(0), 1Property.getOrElse(""), 1PropertyPeriodvalue.getOrElse(""))
            case Seq("libs","replication","treeactivation.html") => postTreeActivation(request,ignoredeactivated.getOrElse(false), onlymodified.getOrElse(false), path.getOrElse(""), cmd.getOrElse(""))
            case Seq("libs","granite","security","post","truststore") => postTruststore(request,operation, newPassword, rePassword, keyStoreType, removeAlias)
            case Seq("etc","truststore") => postTruststorePKCS12(request)
            case Seq(path) => postPath(path,request,jcrPrimaryType.getOrElse(""), name.getOrElse(""))
            case Seq("apps","system","config",configNodeName) => postConfigProperty(configNodeName,request)
            case Seq(intermediatePath,"{authorizableId}.ks.html") => postAuthorizableKeystore(intermediatePath,request,operation, currentPassword, newPassword, rePassword, keyPassword, keyStorePass, alias, newAlias, removeAlias)
            case Seq(path,name) => postNode(path, name,request,operation, deleteAuthorizable)
            case Seq(path,"{name}.rw.html") => postNodeRw(path,request,addMembers)
            case Seq("etc","replication","agents.{runmode}",name) => postAgent(name,request,jcrContentSlashcqDistribute, jcrContentSlashcqDistributeAtTypeHint, jcrContentSlashcqName, jcrContentSlashcqTemplate, jcrContentSlashaliasUpdate, jcrContentSlashenabled, jcrContentSlashjcrDescription, jcrContentSlashjcrLastModified, jcrContentSlashjcrLastModifiedBy, jcrContentSlashjcrMixinTypes, jcrContentSlashjcrTitle, jcrContentSlashlogLevel, jcrContentSlashnoStatusUpdate, jcrContentSlashnoVersioning, jcrContentSlashprotocolConnectTimeout, jcrContentSlashprotocolHTTPConnectionClosed, jcrContentSlashprotocolHTTPExpired, jcrContentSlashprotocolHTTPHeaders, jcrContentSlashprotocolHTTPHeadersAtTypeHint, jcrContentSlashprotocolHTTPMethod, jcrContentSlashprotocolHTTPSRelaxed, jcrContentSlashprotocolInterface, jcrContentSlashprotocolSocketTimeout, jcrContentSlashprotocolVersion, jcrContentSlashproxyNTLMDomain, jcrContentSlashproxyNTLMHost, jcrContentSlashproxyHost, jcrContentSlashproxyPassword, jcrContentSlashproxyPort, jcrContentSlashproxyUser, jcrContentSlashqueueBatchMaxSize, jcrContentSlashqueueBatchMode, jcrContentSlashqueueBatchWaitTime, jcrContentSlashretryDelay, jcrContentSlashreverseReplication, jcrContentSlashserializationType, jcrContentSlashslingResourceType, jcrContentSlashssl, jcrContentSlashtransportNTLMDomain, jcrContentSlashtransportNTLMHost, jcrContentSlashtransportPassword, jcrContentSlashtransportUri, jcrContentSlashtransportUser, jcrContentSlashtriggerDistribute, jcrContentSlashtriggerModified, jcrContentSlashtriggerOnOffTime, jcrContentSlashtriggerReceive, jcrContentSlashtriggerSpecific, jcrContentSlashuserId, jcrPrimaryType, operation)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETEtcReplicationAgents
    @cask.get("/etc/replication/agents.", true)
    def routeWorkAroundForGETEtcReplicationAgents(request: cask.Request) = {
        request.remainingPathSegments match {
            case Seq("etc","replication","agents.{runmode}.-1.json") => getAgents(request)
            case Seq("etc","replication","agents.{runmode}",name) => getAgent(name,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETEtcPackages
    @cask.get("/etc/packages", true)
    def routeWorkAroundForGETEtcPackages(request: cask.Request) = {
        request.remainingPathSegments match {
            case Seq("etc","packages",group,"{name}-{version}.zip") => getPackage(group,request)
            case Seq("etc","packages",group,"{name}-{version}.zip","jcr:content","vlt:definition","filter.tidy.2.json") => getPackageFilter(group,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** 
         * 
         */
        // conflicts with [/{path}/{name}, /etc/replication/agents.{runmode}/{name}] after, ignoring @cask.delete("/etc/replication/agents.{runmode}/:name")
        def deleteAgent(name : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            runmode <- Parsed(runmode)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.deleteAgent(runmode, name))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{path}/{name}, /etc/replication/agents.{runmode}/{name}] after, ignoring @cask.delete("/:path/:name")
        def deleteNode(path : String, name : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            path <- Parsed(path)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.deleteNode(path, name))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json] after/etc/replication/agents., ignoring // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/etc/replication/agents.{runmode}/:name")
        def getAgent(name : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            runmode <- Parsed(runmode)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.getAgent(runmode, name))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json] after/etc/replication/agents., ignoring // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/etc/replication/agents.{runmode}.-1.json")
        def getAgents(request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            runmode <- Parsed(runmode)
            resultTry <- Parsed.eval(service.getAgents(runmode))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/:intermediatePath/{authorizableId}.ks.json")
        def getAuthorizableKeystore(intermediatePath : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            intermediatePath <- Parsed(intermediatePath)
            authorizableId <- Parsed(authorizableId)
            resultTry <- Parsed.eval(service.getAuthorizableKeystore(intermediatePath, authorizableId))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import KeystoreInfo | String.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : KeystoreInfo) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/:intermediatePath/:authorizableId/keystore/store.p12")
        def getKeystore(intermediatePath : String, authorizableId : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            intermediatePath <- Parsed(intermediatePath)
            authorizableId <- Parsed(authorizableId)
            resultTry <- Parsed.eval(service.getKeystore(intermediatePath, authorizableId))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : File) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/:path/:name")
        def getNode(path : String, name : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            path <- Parsed(path)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.getNode(path, name))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json] after/etc/packages, ignoring // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/etc/packages/:group/{name}-{version}.zip")
        def getPackage(group : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            group <- Parsed(group)
            name <- Parsed(name)
            version <- Parsed(version)
            resultTry <- Parsed.eval(service.getPackage(group, name, version))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : File) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json] after/etc/packages, ignoring // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/etc/packages/:group/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json")
        def getPackageFilter(group : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            group <- Parsed(group)
            name <- Parsed(name)
            version <- Parsed(version)
            resultTry <- Parsed.eval(service.getPackageFilter(group, name, version))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/bin/querybuilder.json")
        def getQuery(request: cask.Request, path : String, pPeriodlimit : BigDecimal, 1Property : String, 1PropertyPeriodvalue : String) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.getQuery(path, pPeriodlimit, 1Property, 1PropertyPeriodvalue))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/etc/truststore/truststore.p12")
        def getTruststore(request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.getTruststore())
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : File) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.json, /{intermediatePath}/{authorizableId}/keystore/store.p12, /{path}/{name}, /etc/replication/agents.{runmode}/{name}, /etc/replication/agents.{runmode}.-1.json, /etc/packages/{group}/{name}-{version}.zip, /etc/packages/{group}/{name}-{version}.zip/jcr:content/vlt:definition/filter.tidy.2.json, /bin/querybuilder.json, /etc/truststore/truststore.p12, /libs/granite/security/truststore.json] after, ignoring @cask.get("/libs/granite/security/truststore.json")
        def getTruststoreInfo(request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.getTruststoreInfo())
            result <- Parsed.fromTry(resultTry)
        } yield result

        import TruststoreInfo | String.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : TruststoreInfo) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/etc/replication/agents.{runmode}/:name")
        def postAgent(name : String, request: cask.Request, jcrContentSlashcqDistribute : Option[Boolean], jcrContentSlashcqDistributeAtTypeHint : Option[String], jcrContentSlashcqName : Option[String], jcrContentSlashcqTemplate : Option[String], jcrContentSlashaliasUpdate : Option[Boolean], jcrContentSlashenabled : Option[Boolean], jcrContentSlashjcrDescription : Option[String], jcrContentSlashjcrLastModified : Option[String], jcrContentSlashjcrLastModifiedBy : Option[String], jcrContentSlashjcrMixinTypes : Option[String], jcrContentSlashjcrTitle : Option[String], jcrContentSlashlogLevel : Option[String], jcrContentSlashnoStatusUpdate : Option[Boolean], jcrContentSlashnoVersioning : Option[Boolean], jcrContentSlashprotocolConnectTimeout : Option[BigDecimal], jcrContentSlashprotocolHTTPConnectionClosed : Option[Boolean], jcrContentSlashprotocolHTTPExpired : Option[String], jcrContentSlashprotocolHTTPHeaders : Seq[String], jcrContentSlashprotocolHTTPHeadersAtTypeHint : Option[String], jcrContentSlashprotocolHTTPMethod : Option[String], jcrContentSlashprotocolHTTPSRelaxed : Option[Boolean], jcrContentSlashprotocolInterface : Option[String], jcrContentSlashprotocolSocketTimeout : Option[BigDecimal], jcrContentSlashprotocolVersion : Option[String], jcrContentSlashproxyNTLMDomain : Option[String], jcrContentSlashproxyNTLMHost : Option[String], jcrContentSlashproxyHost : Option[String], jcrContentSlashproxyPassword : Option[String], jcrContentSlashproxyPort : Option[BigDecimal], jcrContentSlashproxyUser : Option[String], jcrContentSlashqueueBatchMaxSize : Option[BigDecimal], jcrContentSlashqueueBatchMode : Option[String], jcrContentSlashqueueBatchWaitTime : Option[BigDecimal], jcrContentSlashretryDelay : Option[String], jcrContentSlashreverseReplication : Option[Boolean], jcrContentSlashserializationType : Option[String], jcrContentSlashslingResourceType : Option[String], jcrContentSlashssl : Option[String], jcrContentSlashtransportNTLMDomain : Option[String], jcrContentSlashtransportNTLMHost : Option[String], jcrContentSlashtransportPassword : Option[String], jcrContentSlashtransportUri : Option[String], jcrContentSlashtransportUser : Option[String], jcrContentSlashtriggerDistribute : Option[Boolean], jcrContentSlashtriggerModified : Option[Boolean], jcrContentSlashtriggerOnOffTime : Option[Boolean], jcrContentSlashtriggerReceive : Option[Boolean], jcrContentSlashtriggerSpecific : Option[Boolean], jcrContentSlashuserId : Option[String], jcrPrimaryType : Option[String], operation : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            runmode <- Parsed(runmode)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.postAgent(runmode, name, jcrContentSlashcqDistribute, jcrContentSlashcqDistributeAtTypeHint, jcrContentSlashcqName, jcrContentSlashcqTemplate, jcrContentSlashaliasUpdate, jcrContentSlashenabled, jcrContentSlashjcrDescription, jcrContentSlashjcrLastModified, jcrContentSlashjcrLastModifiedBy, jcrContentSlashjcrMixinTypes, jcrContentSlashjcrTitle, jcrContentSlashlogLevel, jcrContentSlashnoStatusUpdate, jcrContentSlashnoVersioning, jcrContentSlashprotocolConnectTimeout, jcrContentSlashprotocolHTTPConnectionClosed, jcrContentSlashprotocolHTTPExpired, jcrContentSlashprotocolHTTPHeaders, jcrContentSlashprotocolHTTPHeadersAtTypeHint, jcrContentSlashprotocolHTTPMethod, jcrContentSlashprotocolHTTPSRelaxed, jcrContentSlashprotocolInterface, jcrContentSlashprotocolSocketTimeout, jcrContentSlashprotocolVersion, jcrContentSlashproxyNTLMDomain, jcrContentSlashproxyNTLMHost, jcrContentSlashproxyHost, jcrContentSlashproxyPassword, jcrContentSlashproxyPort, jcrContentSlashproxyUser, jcrContentSlashqueueBatchMaxSize, jcrContentSlashqueueBatchMode, jcrContentSlashqueueBatchWaitTime, jcrContentSlashretryDelay, jcrContentSlashreverseReplication, jcrContentSlashserializationType, jcrContentSlashslingResourceType, jcrContentSlashssl, jcrContentSlashtransportNTLMDomain, jcrContentSlashtransportNTLMHost, jcrContentSlashtransportPassword, jcrContentSlashtransportUri, jcrContentSlashtransportUser, jcrContentSlashtriggerDistribute, jcrContentSlashtriggerModified, jcrContentSlashtriggerOnOffTime, jcrContentSlashtriggerReceive, jcrContentSlashtriggerSpecific, jcrContentSlashuserId, jcrPrimaryType, operation))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/:intermediatePath/{authorizableId}.ks.html")
        def postAuthorizableKeystore(intermediatePath : String, request: cask.Request, operation : Option[String], currentPassword : Option[String], newPassword : Option[String], rePassword : Option[String], keyPassword : Option[String], keyStorePass : Option[String], alias : Option[String], newAlias : Option[String], removeAlias : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            intermediatePath <- Parsed(intermediatePath)
            authorizableId <- Parsed(authorizableId)
        certChain <- request.formValueAsFileOptional("certChain")
        pk <- request.formValueAsFileOptional("pk")
        keyStore <- request.formValueAsFileOptional("keyStore")
            resultTry <- Parsed.eval(service.postAuthorizableKeystore(intermediatePath, authorizableId, operation, currentPassword, newPassword, rePassword, keyPassword, keyStorePass, alias, newAlias, removeAlias, certChain, pk, keyStore))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import KeystoreInfo | String.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : KeystoreInfo) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/libs/granite/security/post/authorizables")
        def postAuthorizables(request: cask.Request, authorizableId : String, intermediatePath : String, createUser : Option[String], createGroup : Option[String], repPassword : Option[String], profileSlashgivenName : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postAuthorizables(authorizableId, intermediatePath, createUser, createGroup, repPassword, profileSlashgivenName))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config")
        def postConfigAdobeGraniteSamlAuthenticationHandler(request: cask.Request, keyStorePassword : Option[String], keyStorePasswordAtTypeHint : Option[String], servicePeriodranking : Option[Int], servicePeriodrankingAtTypeHint : Option[String], idpHttpRedirect : Option[Boolean], idpHttpRedirectAtTypeHint : Option[String], createUser : Option[Boolean], createUserAtTypeHint : Option[String], defaultRedirectUrl : Option[String], defaultRedirectUrlAtTypeHint : Option[String], userIDAttribute : Option[String], userIDAttributeAtTypeHint : Option[String], defaultGroups : Seq[String], defaultGroupsAtTypeHint : Option[String], idpCertAlias : Option[String], idpCertAliasAtTypeHint : Option[String], addGroupMemberships : Option[Boolean], addGroupMembershipsAtTypeHint : Option[String], path : Seq[String], pathAtTypeHint : Option[String], synchronizeAttributes : Seq[String], synchronizeAttributesAtTypeHint : Option[String], clockTolerance : Option[Int], clockToleranceAtTypeHint : Option[String], groupMembershipAttribute : Option[String], groupMembershipAttributeAtTypeHint : Option[String], idpUrl : Option[String], idpUrlAtTypeHint : Option[String], logoutUrl : Option[String], logoutUrlAtTypeHint : Option[String], serviceProviderEntityId : Option[String], serviceProviderEntityIdAtTypeHint : Option[String], assertionConsumerServiceURL : Option[String], assertionConsumerServiceURLAtTypeHint : Option[String], handleLogout : Option[Boolean], handleLogoutAtTypeHint : Option[String], spPrivateKeyAlias : Option[String], spPrivateKeyAliasAtTypeHint : Option[String], useEncryption : Option[Boolean], useEncryptionAtTypeHint : Option[String], nameIdFormat : Option[String], nameIdFormatAtTypeHint : Option[String], digestMethod : Option[String], digestMethodAtTypeHint : Option[String], signatureMethod : Option[String], signatureMethodAtTypeHint : Option[String], userIntermediatePath : Option[String], userIntermediatePathAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigAdobeGraniteSamlAuthenticationHandler(keyStorePassword, keyStorePasswordAtTypeHint, servicePeriodranking, servicePeriodrankingAtTypeHint, idpHttpRedirect, idpHttpRedirectAtTypeHint, createUser, createUserAtTypeHint, defaultRedirectUrl, defaultRedirectUrlAtTypeHint, userIDAttribute, userIDAttributeAtTypeHint, defaultGroups, defaultGroupsAtTypeHint, idpCertAlias, idpCertAliasAtTypeHint, addGroupMemberships, addGroupMembershipsAtTypeHint, path, pathAtTypeHint, synchronizeAttributes, synchronizeAttributesAtTypeHint, clockTolerance, clockToleranceAtTypeHint, groupMembershipAttribute, groupMembershipAttributeAtTypeHint, idpUrl, idpUrlAtTypeHint, logoutUrl, logoutUrlAtTypeHint, serviceProviderEntityId, serviceProviderEntityIdAtTypeHint, assertionConsumerServiceURL, assertionConsumerServiceURLAtTypeHint, handleLogout, handleLogoutAtTypeHint, spPrivateKeyAlias, spPrivateKeyAliasAtTypeHint, useEncryption, useEncryptionAtTypeHint, nameIdFormat, nameIdFormatAtTypeHint, digestMethod, digestMethodAtTypeHint, signatureMethod, signatureMethodAtTypeHint, userIntermediatePath, userIntermediatePathAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/org.apache.felix.http")
        def postConfigApacheFelixJettyBasedHttpService(request: cask.Request, orgPeriodapachePeriodfelixPeriodhttpsPeriodnio : Option[Boolean], orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint : Option[String], orgPeriodapachePeriodfelixPeriodhttpsPeriodenable : Option[Boolean], orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint : Option[String], orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure : Option[String], orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigApacheFelixJettyBasedHttpService(orgPeriodapachePeriodfelixPeriodhttpsPeriodnio, orgPeriodapachePeriodfelixPeriodhttpsPeriodnioAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystore, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkey, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodkeystorePeriodkeyPeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststore, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststoreAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpassword, orgPeriodapachePeriodfelixPeriodhttpsPeriodtruststorePeriodpasswordAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificate, orgPeriodapachePeriodfelixPeriodhttpsPeriodclientcertificateAtTypeHint, orgPeriodapachePeriodfelixPeriodhttpsPeriodenable, orgPeriodapachePeriodfelixPeriodhttpsPeriodenableAtTypeHint, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecure, orgPeriodosgiPeriodservicePeriodhttpPeriodportPeriodsecureAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/org.apache.http.proxyconfigurator.config")
        def postConfigApacheHttpComponentsProxyConfiguration(request: cask.Request, proxyPeriodhost : Option[String], proxyPeriodhostAtTypeHint : Option[String], proxyPeriodport : Option[Int], proxyPeriodportAtTypeHint : Option[String], proxyPeriodexceptions : Seq[String], proxyPeriodexceptionsAtTypeHint : Option[String], proxyPeriodenabled : Option[Boolean], proxyPeriodenabledAtTypeHint : Option[String], proxyPerioduser : Option[String], proxyPerioduserAtTypeHint : Option[String], proxyPeriodpassword : Option[String], proxyPeriodpasswordAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigApacheHttpComponentsProxyConfiguration(proxyPeriodhost, proxyPeriodhostAtTypeHint, proxyPeriodport, proxyPeriodportAtTypeHint, proxyPeriodexceptions, proxyPeriodexceptionsAtTypeHint, proxyPeriodenabled, proxyPeriodenabledAtTypeHint, proxyPerioduser, proxyPerioduserAtTypeHint, proxyPeriodpassword, proxyPeriodpasswordAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet")
        def postConfigApacheSlingDavExServlet(request: cask.Request, alias : Option[String], aliasAtTypeHint : Option[String], davPeriodcreateAbsoluteUri : Option[Boolean], davPeriodcreateAbsoluteUriAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigApacheSlingDavExServlet(alias, aliasAtTypeHint, davPeriodcreateAbsoluteUri, davPeriodcreateAbsoluteUriAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet")
        def postConfigApacheSlingGetServlet(request: cask.Request, jsonPeriodmaximumresults : Option[String], jsonPeriodmaximumresultsAtTypeHint : Option[String], enablePeriodhtml : Option[Boolean], enablePeriodhtmlAtTypeHint : Option[String], enablePeriodtxt : Option[Boolean], enablePeriodtxtAtTypeHint : Option[String], enablePeriodxml : Option[Boolean], enablePeriodxmlAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigApacheSlingGetServlet(jsonPeriodmaximumresults, jsonPeriodmaximumresultsAtTypeHint, enablePeriodhtml, enablePeriodhtmlAtTypeHint, enablePeriodtxt, enablePeriodtxtAtTypeHint, enablePeriodxml, enablePeriodxmlAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/org.apache.sling.security.impl.ReferrerFilter")
        def postConfigApacheSlingReferrerFilter(request: cask.Request, allowPeriodempty : Option[Boolean], allowPeriodemptyAtTypeHint : Option[String], allowPeriodhosts : Option[String], allowPeriodhostsAtTypeHint : Option[String], allowPeriodhostsPeriodregexp : Option[String], allowPeriodhostsPeriodregexpAtTypeHint : Option[String], filterPeriodmethods : Option[String], filterPeriodmethodsAtTypeHint : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postConfigApacheSlingReferrerFilter(allowPeriodempty, allowPeriodemptyAtTypeHint, allowPeriodhosts, allowPeriodhostsAtTypeHint, allowPeriodhostsPeriodregexp, allowPeriodhostsPeriodregexpAtTypeHint, filterPeriodmethods, filterPeriodmethodsAtTypeHint))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring // conflicts with [/apps/system/config/{configNodeName}, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter] after/apps/system/config, ignoring @cask.post("/apps/system/config/:configNodeName")
        def postConfigProperty(configNodeName : String, request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            configNodeName <- Parsed(configNodeName)
            resultTry <- Parsed.eval(service.postConfigProperty(configNodeName))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/:path/:name")
        def postNode(path : String, name : String, request: cask.Request, operation : Option[String], deleteAuthorizable : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            path <- Parsed(path)
            name <- Parsed(name)
        file <- request.formValueAsFileOptional("file")
            resultTry <- Parsed.eval(service.postNode(path, name, operation, deleteAuthorizable, file))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/:path/{name}.rw.html")
        def postNodeRw(path : String, request: cask.Request, addMembers : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            path <- Parsed(path)
            name <- Parsed(name)
            resultTry <- Parsed.eval(service.postNodeRw(path, name, addMembers))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/:path/")
        def postPath(path : String, request: cask.Request, jcrPrimaryType : String, name : String) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            path <- Parsed(path)
            resultTry <- Parsed.eval(service.postPath(path, jcrPrimaryType, name))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/bin/querybuilder.json")
        def postQuery(request: cask.Request, path : String, pPeriodlimit : BigDecimal, 1Property : String, 1PropertyPeriodvalue : String) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postQuery(path, pPeriodlimit, 1Property, 1PropertyPeriodvalue))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/libs/replication/treeactivation.html")
        def postTreeActivation(request: cask.Request, ignoredeactivated : Boolean, onlymodified : Boolean, path : String, cmd : String) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.postTreeActivation(ignoredeactivated, onlymodified, path, cmd))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/libs/granite/security/post/truststore")
        def postTruststore(request: cask.Request, operation : Option[String], newPassword : Option[String], rePassword : Option[String], keyStoreType : Option[String], removeAlias : Option[String]) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
        certificate <- request.formValueAsFileOptional("certificate")
            resultTry <- Parsed.eval(service.postTruststore(operation, newPassword, rePassword, keyStoreType, removeAlias, certificate))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** 
         * 
         */
        // conflicts with [/{intermediatePath}/{authorizableId}.ks.html, /{path}/{name}, /{path}/{name}.rw.html, /{path}/, /etc/replication/agents.{runmode}/{name}, /libs/granite/security/post/authorizables, /apps/system/config/com.adobe.granite.auth.saml.SamlAuthenticationHandler.config, /apps/system/config/org.apache.felix.http, /apps/system/config/org.apache.http.proxyconfigurator.config, /apps/system/config/org.apache.sling.jcr.davex.impl.servlets.SlingDavExServlet, /apps/system/config/org.apache.sling.servlets.get.DefaultGetServlet, /apps/system/config/org.apache.sling.security.impl.ReferrerFilter, /apps/system/config/{configNodeName}, /bin/querybuilder.json, /libs/replication/treeactivation.html, /libs/granite/security/post/truststore, /etc/truststore] after, ignoring @cask.post("/etc/truststore")
        def postTruststorePKCS12(request: cask.Request) = {
            // auth method aemAuth : http, keyParamName: 

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
        truststorePeriodp12 <- request.formValueAsFileOptional("truststorePeriodp12")
            resultTry <- Parsed.eval(service.postTruststorePKCS12(truststorePeriodp12))
            result <- Parsed.fromTry(resultTry)
        } yield result


        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : String) => cask.Response(data = write(value), 0, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
