/**
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.5.0-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer


trait CqApi extends Service {


  final override def descriptor = {
    import Service._
    named("CqApi").withCalls(
      restCall(Method.GET, "/libs/granite/core/content/login.html", getLoginPage _), 
      restCall(Method.POST, "/.cqactions.html?authorizableId&changelog", postCqActions _)
    ).withAutoAcl(true)
  }


  /**
    * 
    * 
    * 
    * @return String
    */
  def getLoginPage(): ServiceCall[NotUsed ,String]
        
  /**
    * 
    * 
    *  
    * @param authorizableId   
    * @param changelog  
    * @return void
    */
  def postCqActions(authorizableId:String          ,changelog:String          ): ServiceCall[NotUsed ,Done]
  

  }

