/**
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * OpenAPI spec version: 3.2.0-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer


trait CustomApi extends Service {


  final override def descriptor = {
    import Service._
    named("CustomApi").withCalls(
      restCall(Method.GET, "/system/health?tags&combineTagsOr", getAemHealthCheck _), 
      restCall(Method.POST, "/apps/system/config/com.shinesolutions.healthcheck.hc.impl.ActiveBundleHealthCheck?bundlesIgnored&bundlesIgnoredTypeHint", postConfigAemHealthCheckServlet _), 
      restCall(Method.POST, "/apps/system/config/com.shinesolutions.aem.passwordreset.Activator?pwdresetAuthorizables&pwdresetAuthorizablesTypeHint", postConfigAemPasswordReset _)
    ).withAutoAcl(true)
  }

      
  /**
    * 
    * 
    *  
    * @param tags  (optional) 
    * @param combineTagsOr  (optional)
    * @return String
    */
  def getAemHealthCheck(tags:           Option[String] = None,combineTagsOr:           Option[Boolean] = None): ServiceCall[NotUsed ,String]
        
  // bundlesIgnored:Seq[String]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * 
    * 
    *  
    * @param bundlesIgnored  (optional) 
    * @param bundlesIgnoredTypeHint  (optional)
    * @return void
    */
  def postConfigAemHealthCheckServlet(bundlesIgnoredTypeHint:           Option[String] = None): ServiceCall[NotUsed ,Done]
        
  // pwdresetAuthorizables:Seq[String]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * 
    * 
    *  
    * @param pwdresetAuthorizables  (optional) 
    * @param pwdresetAuthorizablesTypeHint  (optional)
    * @return void
    */
  def postConfigAemPasswordReset(pwdresetAuthorizablesTypeHint:           Option[String] = None): ServiceCall[NotUsed ,Done]
  

  }

