/**
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.5.0-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import java.io.File

trait GraniteApi extends Service {


  final override def descriptor = {
    import Service._
    named("GraniteApi").withCalls(
      restCall(Method.POST, "/libs/granite/security/post/sslSetup.html?keystorePassword&keystorePasswordConfirm&truststorePassword&truststorePasswordConfirm&httpsHostname&httpsPort", sslSetup _)
    ).withAutoAcl(true)
  }

      






  // privatekeyFile:File  -- not yet supported x-www-form-urlencoded
  // certificateFile:File  -- not yet supported x-www-form-urlencoded
  /**
    * 
    * 
    *  
    * @param keystorePassword   
    * @param keystorePasswordConfirm   
    * @param truststorePassword   
    * @param truststorePasswordConfirm   
    * @param httpsHostname   
    * @param httpsPort   
    * @param privatekeyFile  (optional) 
    * @param certificateFile  (optional)
    * @return String
    */
  def sslSetup(keystorePassword:String          ,keystorePasswordConfirm:String          ,truststorePassword:String          ,truststorePasswordConfirm:String          ,httpsHostname:String          ,httpsPort:String          ): ServiceCall[NotUsed ,String]
  

  }

