<?php

/**
 * Adobe Experience Manager (AEM) API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCqApi
{

    /**
     * Operation getLoginPage
     *
     * Path: `/libs/granite/core/content/login.html`
     *
     *
     * @return void
     */
    public function getLoginPage(): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getLoginPage (stream)
     *
     * Path: `/libs/granite/core/content/login.html`
     *
     *
     */
    public function getLoginPageStream(): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation postCqActions
     *
     * Path: `/.cqactions.html`
     *
     * @param string $authorizableId  (required)
     * @param string $changelog  (required)
     *
     * @return void
     */
    public function postCqActions(string $authorizableId, string $changelog): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation postCqActions (stream)
     *
     * Path: `/.cqactions.html`
     *
     * @param string $authorizableId  (required)
     * @param string $changelog  (required)
     *
     */
    public function postCqActionsStream(string $authorizableId, string $changelog): void
    {
        throw new \Exception('Not implemented');
    }
}
