/*
Adobe Experience Manager (AEM) API

Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API

API version: 3.7.1-pre.0
Contact: opensource@shinesolutions.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ConsoleAPIService ConsoleAPI service
type ConsoleAPIService service

type ApiGetAemProductInfoRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
}

func (r ApiGetAemProductInfoRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.GetAemProductInfoExecute(r)
}

/*
GetAemProductInfo Method for GetAemProductInfo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAemProductInfoRequest
*/
func (a *ConsoleAPIService) GetAemProductInfo(ctx context.Context) ApiGetAemProductInfoRequest {
	return ApiGetAemProductInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []string
func (a *ConsoleAPIService) GetAemProductInfoExecute(r ApiGetAemProductInfoRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.GetAemProductInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/status-productinfo.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v []string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBundleInfoRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
	name string
}

func (r ApiGetBundleInfoRequest) Execute() (*BundleInfo, *http.Response, error) {
	return r.ApiService.GetBundleInfoExecute(r)
}

/*
GetBundleInfo Method for GetBundleInfo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiGetBundleInfoRequest
*/
func (a *ConsoleAPIService) GetBundleInfo(ctx context.Context, name string) ApiGetBundleInfoRequest {
	return ApiGetBundleInfoRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return BundleInfo
func (a *ConsoleAPIService) GetBundleInfoExecute(r ApiGetBundleInfoRequest) (*BundleInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BundleInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.GetBundleInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/bundles/{name}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetConfigMgrRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
}

func (r ApiGetConfigMgrRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetConfigMgrExecute(r)
}

/*
GetConfigMgr Method for GetConfigMgr

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetConfigMgrRequest
*/
func (a *ConsoleAPIService) GetConfigMgr(ctx context.Context) ApiGetConfigMgrRequest {
	return ApiGetConfigMgrRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *ConsoleAPIService) GetConfigMgrExecute(r ApiGetConfigMgrRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.GetConfigMgr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/configMgr"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostBundleRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
	name string
	action *string
}

func (r ApiPostBundleRequest) Action(action string) ApiPostBundleRequest {
	r.action = &action
	return r
}

func (r ApiPostBundleRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostBundleExecute(r)
}

/*
PostBundle Method for PostBundle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiPostBundleRequest
*/
func (a *ConsoleAPIService) PostBundle(ctx context.Context, name string) ApiPostBundleRequest {
	return ApiPostBundleRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
func (a *ConsoleAPIService) PostBundleExecute(r ApiPostBundleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.PostBundle")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/bundles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.action == nil {
		return nil, reportError("action is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostJmxRepositoryRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
	action string
}

func (r ApiPostJmxRepositoryRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostJmxRepositoryExecute(r)
}

/*
PostJmxRepository Method for PostJmxRepository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action
 @return ApiPostJmxRepositoryRequest
*/
func (a *ConsoleAPIService) PostJmxRepository(ctx context.Context, action string) ApiPostJmxRepositoryRequest {
	return ApiPostJmxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
func (a *ConsoleAPIService) PostJmxRepositoryExecute(r ApiPostJmxRepositoryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.PostJmxRepository")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/jmx/com.adobe.granite:type=Repository/op/{action}"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostSamlConfigurationRequest struct {
	ctx context.Context
	ApiService *ConsoleAPIService
	post *bool
	apply *bool
	delete *bool
	action *string
	location *string
	path *[]string
	serviceRanking *int32
	idpUrl *string
	idpCertAlias *string
	idpHttpRedirect *bool
	serviceProviderEntityId *string
	assertionConsumerServiceURL *string
	spPrivateKeyAlias *string
	keyStorePassword *string
	defaultRedirectUrl *string
	userIDAttribute *string
	useEncryption *bool
	createUser *bool
	addGroupMemberships *bool
	groupMembershipAttribute *string
	defaultGroups *[]string
	nameIdFormat *string
	synchronizeAttributes *[]string
	handleLogout *bool
	logoutUrl *string
	clockTolerance *int32
	digestMethod *string
	signatureMethod *string
	userIntermediatePath *string
	propertylist *[]string
}

func (r ApiPostSamlConfigurationRequest) Post(post bool) ApiPostSamlConfigurationRequest {
	r.post = &post
	return r
}

func (r ApiPostSamlConfigurationRequest) Apply(apply bool) ApiPostSamlConfigurationRequest {
	r.apply = &apply
	return r
}

func (r ApiPostSamlConfigurationRequest) Delete(delete bool) ApiPostSamlConfigurationRequest {
	r.delete = &delete
	return r
}

func (r ApiPostSamlConfigurationRequest) Action(action string) ApiPostSamlConfigurationRequest {
	r.action = &action
	return r
}

func (r ApiPostSamlConfigurationRequest) Location(location string) ApiPostSamlConfigurationRequest {
	r.location = &location
	return r
}

func (r ApiPostSamlConfigurationRequest) Path(path []string) ApiPostSamlConfigurationRequest {
	r.path = &path
	return r
}

func (r ApiPostSamlConfigurationRequest) ServiceRanking(serviceRanking int32) ApiPostSamlConfigurationRequest {
	r.serviceRanking = &serviceRanking
	return r
}

func (r ApiPostSamlConfigurationRequest) IdpUrl(idpUrl string) ApiPostSamlConfigurationRequest {
	r.idpUrl = &idpUrl
	return r
}

func (r ApiPostSamlConfigurationRequest) IdpCertAlias(idpCertAlias string) ApiPostSamlConfigurationRequest {
	r.idpCertAlias = &idpCertAlias
	return r
}

func (r ApiPostSamlConfigurationRequest) IdpHttpRedirect(idpHttpRedirect bool) ApiPostSamlConfigurationRequest {
	r.idpHttpRedirect = &idpHttpRedirect
	return r
}

func (r ApiPostSamlConfigurationRequest) ServiceProviderEntityId(serviceProviderEntityId string) ApiPostSamlConfigurationRequest {
	r.serviceProviderEntityId = &serviceProviderEntityId
	return r
}

func (r ApiPostSamlConfigurationRequest) AssertionConsumerServiceURL(assertionConsumerServiceURL string) ApiPostSamlConfigurationRequest {
	r.assertionConsumerServiceURL = &assertionConsumerServiceURL
	return r
}

func (r ApiPostSamlConfigurationRequest) SpPrivateKeyAlias(spPrivateKeyAlias string) ApiPostSamlConfigurationRequest {
	r.spPrivateKeyAlias = &spPrivateKeyAlias
	return r
}

func (r ApiPostSamlConfigurationRequest) KeyStorePassword(keyStorePassword string) ApiPostSamlConfigurationRequest {
	r.keyStorePassword = &keyStorePassword
	return r
}

func (r ApiPostSamlConfigurationRequest) DefaultRedirectUrl(defaultRedirectUrl string) ApiPostSamlConfigurationRequest {
	r.defaultRedirectUrl = &defaultRedirectUrl
	return r
}

func (r ApiPostSamlConfigurationRequest) UserIDAttribute(userIDAttribute string) ApiPostSamlConfigurationRequest {
	r.userIDAttribute = &userIDAttribute
	return r
}

func (r ApiPostSamlConfigurationRequest) UseEncryption(useEncryption bool) ApiPostSamlConfigurationRequest {
	r.useEncryption = &useEncryption
	return r
}

func (r ApiPostSamlConfigurationRequest) CreateUser(createUser bool) ApiPostSamlConfigurationRequest {
	r.createUser = &createUser
	return r
}

func (r ApiPostSamlConfigurationRequest) AddGroupMemberships(addGroupMemberships bool) ApiPostSamlConfigurationRequest {
	r.addGroupMemberships = &addGroupMemberships
	return r
}

func (r ApiPostSamlConfigurationRequest) GroupMembershipAttribute(groupMembershipAttribute string) ApiPostSamlConfigurationRequest {
	r.groupMembershipAttribute = &groupMembershipAttribute
	return r
}

func (r ApiPostSamlConfigurationRequest) DefaultGroups(defaultGroups []string) ApiPostSamlConfigurationRequest {
	r.defaultGroups = &defaultGroups
	return r
}

func (r ApiPostSamlConfigurationRequest) NameIdFormat(nameIdFormat string) ApiPostSamlConfigurationRequest {
	r.nameIdFormat = &nameIdFormat
	return r
}

func (r ApiPostSamlConfigurationRequest) SynchronizeAttributes(synchronizeAttributes []string) ApiPostSamlConfigurationRequest {
	r.synchronizeAttributes = &synchronizeAttributes
	return r
}

func (r ApiPostSamlConfigurationRequest) HandleLogout(handleLogout bool) ApiPostSamlConfigurationRequest {
	r.handleLogout = &handleLogout
	return r
}

func (r ApiPostSamlConfigurationRequest) LogoutUrl(logoutUrl string) ApiPostSamlConfigurationRequest {
	r.logoutUrl = &logoutUrl
	return r
}

func (r ApiPostSamlConfigurationRequest) ClockTolerance(clockTolerance int32) ApiPostSamlConfigurationRequest {
	r.clockTolerance = &clockTolerance
	return r
}

func (r ApiPostSamlConfigurationRequest) DigestMethod(digestMethod string) ApiPostSamlConfigurationRequest {
	r.digestMethod = &digestMethod
	return r
}

func (r ApiPostSamlConfigurationRequest) SignatureMethod(signatureMethod string) ApiPostSamlConfigurationRequest {
	r.signatureMethod = &signatureMethod
	return r
}

func (r ApiPostSamlConfigurationRequest) UserIntermediatePath(userIntermediatePath string) ApiPostSamlConfigurationRequest {
	r.userIntermediatePath = &userIntermediatePath
	return r
}

func (r ApiPostSamlConfigurationRequest) Propertylist(propertylist []string) ApiPostSamlConfigurationRequest {
	r.propertylist = &propertylist
	return r
}

func (r ApiPostSamlConfigurationRequest) Execute() (*SamlConfigurationInfo, *http.Response, error) {
	return r.ApiService.PostSamlConfigurationExecute(r)
}

/*
PostSamlConfiguration Method for PostSamlConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostSamlConfigurationRequest
*/
func (a *ConsoleAPIService) PostSamlConfiguration(ctx context.Context) ApiPostSamlConfigurationRequest {
	return ApiPostSamlConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SamlConfigurationInfo
func (a *ConsoleAPIService) PostSamlConfigurationExecute(r ApiPostSamlConfigurationRequest) (*SamlConfigurationInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SamlConfigurationInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleAPIService.PostSamlConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system/console/configMgr/com.adobe.granite.auth.saml.SamlAuthenticationHandler"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.post != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "post", r.post, "form", "")
	}
	if r.apply != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apply", r.apply, "form", "")
	}
	if r.delete != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete", r.delete, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "$location", r.location, "form", "")
	}
	if r.path != nil {
		t := *r.path
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "path", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "path", t, "form", "multi")
		}
	}
	if r.serviceRanking != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service.ranking", r.serviceRanking, "form", "")
	}
	if r.idpUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idpUrl", r.idpUrl, "form", "")
	}
	if r.idpCertAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idpCertAlias", r.idpCertAlias, "form", "")
	}
	if r.idpHttpRedirect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idpHttpRedirect", r.idpHttpRedirect, "form", "")
	}
	if r.serviceProviderEntityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serviceProviderEntityId", r.serviceProviderEntityId, "form", "")
	}
	if r.assertionConsumerServiceURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assertionConsumerServiceURL", r.assertionConsumerServiceURL, "form", "")
	}
	if r.spPrivateKeyAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "spPrivateKeyAlias", r.spPrivateKeyAlias, "form", "")
	}
	if r.keyStorePassword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyStorePassword", r.keyStorePassword, "form", "")
	}
	if r.defaultRedirectUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "defaultRedirectUrl", r.defaultRedirectUrl, "form", "")
	}
	if r.userIDAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userIDAttribute", r.userIDAttribute, "form", "")
	}
	if r.useEncryption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useEncryption", r.useEncryption, "form", "")
	}
	if r.createUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createUser", r.createUser, "form", "")
	}
	if r.addGroupMemberships != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "addGroupMemberships", r.addGroupMemberships, "form", "")
	}
	if r.groupMembershipAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupMembershipAttribute", r.groupMembershipAttribute, "form", "")
	}
	if r.defaultGroups != nil {
		t := *r.defaultGroups
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "defaultGroups", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "defaultGroups", t, "form", "multi")
		}
	}
	if r.nameIdFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameIdFormat", r.nameIdFormat, "form", "")
	}
	if r.synchronizeAttributes != nil {
		t := *r.synchronizeAttributes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "synchronizeAttributes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "synchronizeAttributes", t, "form", "multi")
		}
	}
	if r.handleLogout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "handleLogout", r.handleLogout, "form", "")
	}
	if r.logoutUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logoutUrl", r.logoutUrl, "form", "")
	}
	if r.clockTolerance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clockTolerance", r.clockTolerance, "form", "")
	}
	if r.digestMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "digestMethod", r.digestMethod, "form", "")
	}
	if r.signatureMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "signatureMethod", r.signatureMethod, "form", "")
	}
	if r.userIntermediatePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userIntermediatePath", r.userIntermediatePath, "form", "")
	}
	if r.propertylist != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertylist", r.propertylist, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 302 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
